﻿@page "/Currency"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@using Radzen.Blazor
@using Radzen
@using MasProject.Domain.ViewModel.Hierarchy;
<style>

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    /*
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }*/
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }
</style>
<PageTitle Title="العملات" @ref="PageTitle" />

<table width="100%">
    <tr>
        <td width="20"> </td>

        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewCurrency">إضافة جديد</button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
<button class="btn" style="float:left" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>

<div class="row" style="overflow-y: auto;max-height: 440px;">

    @*<MatButton Icon="autorenew" Class="renew md-48" @onclick="@(async () => await BindList())">    </MatButton>*@
    <MatTable Items="@CurrencyList" AllowSelection="true" FilterByColumnName="Name" PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:" SearchTermFieldLabel="بحث" SearchTermFieldPlaceHolder="الاسم" class="mat-elevation-z5">
        <MatTableHeader>
            <th style="width: 7%; text-align: center;">الترتيب</th>
            <th style="width: 55%; text-align: center;">اسم العملة</th>
            <th style="text-align: center;width: 13%;">سعر الصرف</th>
            <th style="text-align: center;">تعديل / حذف   </th>
        </MatTableHeader>
        <MatTableRow>
            <td style="width: 7%; text-align: center;">@context.arrangement</td>
            <td style="width: 55%; text-align: center;">@context.Name</td>
            <td style="text-align: center;width: 13%;">@context.Ratio</td>
            <td style="text-align: center;">
                <MatButton Raised="true" @onclick="@(async () => await EditOldCurrency(context.ID))" Icon="edit" title="تعديل" Style="width:15%;"></MatButton> &nbsp; &nbsp;
                <MatButton Raised="true" @onclick="@(() =>DeleteCurrency(context.ID))" Icon="delete" title="مسح" Style="width:15%;"></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
</div>

@*<RadzenButton Text="Export Pdf" Icon="grid_on" Click="@(args => GeneratePDF())" Style="margin-bottom:20px" />
    <div id="Grid">
        <RadzenGrid id="tblCurrency" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" RowDoubleClick="@AddNewCurrency" PageSize="4" AllowSorting="true" ColumnWidth="200px" @ref="grid" Data="@CurrencyList" TItem="CurrencyVM">
            <Columns>
                <RadzenGridColumn TItem="CurrencyVM" Property="Name" Title="اسم العملة" />
                <RadzenGridColumn TItem="CurrencyVM" Property="Ratio" Title="سعر الصرف" />
                <RadzenGridColumn TItem="CurrencyVM" Property="Note" Title="ملاحظات" />
                <RadzenGridColumn TItem="CurrencyVM" Context="sampleBlazorModelsSampleOrder" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="context">
                        <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(async () => await EditOldCurrency(context.ID))">
                        </RadzenButton>
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CurrencyVM" Context="sampleBlazorModelsSampleOrder" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="context">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Click="@(() =>DeleteCurrency(context.ID))">
                        </RadzenButton>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>*@