﻿@layout MainLayoutWithoutMenu
@page "/CurrencyAdd"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<PageTitle Title="إضافة العملة" @ref="PageTitle" />

<EditForm Model="@curr" OnValidSubmit="AddCurrency">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <MatTextField Label="اسم العملة" @bind-Value="@curr.Name" OnFocusOut="() =>CheckName()" Style="width: 495px;" TabIndex="1"></MatTextField>
                <ValidationMessage For="@(() =>curr.Name)" />
                <label class="text-danger">@ValidateMessageName</label>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <MatTextField Label="سعر الصرف" @bind-Value="@curr.Ratio" Style="width: 495px;" TabIndex="2"></MatTextField>
                @*<ValidationMessage For="@(() =>curr.Ratio)" />*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <MatTextField Label="الترتيب" @bind-Value="@curr.arrangement" OnFocusOut="() =>CheckArrangement()" Style="width: 495px;" TabIndex="3"></MatTextField>
                <label class="text-danger">@ValidateArrangementMessage</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <MatTextField Label="ملاحظات" @bind-Value="@curr.Note" Style="width: 495px;" TabIndex="3"></MatTextField>
                @*<ValidationMessage For="@(() =>curr.Note)" />*@
            </div>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-success justify-content-center" disabled="@IsDisabled" style="color: white; width: 220px; margin-right: 15px; background-color: #6200ee; border-color: #6200ee;">حفظ</button>
    </div>
</EditForm>
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
