﻿@page "/OpenBalAddTreasury"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@layout MainLayoutWithoutMenu
<style>

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }
    .DateFormat .mdc-floating-label {
        /*        margin-top: -20px;*/
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }
</style>
<PageTitle Title="إضافة الأرصدة الأفتتاحية للخزائن" @ref="PageTitle" />

<EditForm Model="@OpenBalTreasury" OnValidSubmit="AddOpenBal">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <MatDatePicker Label="التاريخ " @bind-Value="@OpenBalTreasury.EntryDate" Class="DateFormat" Style="width: 495px;" Format='dd/MM/yyyy' TabIndex="1"></MatDatePicker>
                @*<ValidationMessage For="@(() =>OpenBalTreasury.EntryDate)" /> <label class="text-danger">@ValidateMessageEntryD</label>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label style="text-align: right; font-size: 1em;">الخزنة</label>
                <select id="dept" class="form-control EditedSelect" @bind="@OpenBalTreasury.TreasuryID" TabIndex="2" Style="height: 50px;width: 495px;">
                    <option value="0" selected>اختار الخزنة</option>
                    @if (TreasuryList != null)
                    {
                        @foreach (var treasury in TreasuryList)
                        {
                            <option value="@treasury.ID">@treasury.Name</option>
                        }
                    }
                </select>
                @*<ValidationMessage For="@(() => OpenBalTreasury.TreasuryID)" /><label class="text-danger">@ValidateMessageTreasury</label>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label style="text-align: right; font-size: 1em;">المسئول</label>
                <select id="dept" class="form-control EditedSelect" @bind="@OpenBalTreasury.UserId" TabIndex="3" style="height: 50px;width: 495px;">
                    <option value="0" selected>اختار المسئول</option>
                    @if (UsersList != null)
                    {
                        @foreach (var user in UsersList)
                        {
                            <option value="@user.ID">@user.Name</option>
                        }
                    }
                </select>
                @*<ValidationMessage For="@(() =>OpenBalTreasury.UserId)" />*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label style="text-align: right; font-size: 1em;">العملة</label>
                <select id="dept" class="form-control EditedSelect" @bind="@OpenBalTreasury.CurrencyID" @bind:event="oninput" @onchange="(()=> SetCurrRatio())" TabIndex="4" style="height: 50px;width: 495px;padding-left: 60px;">
                    <option value="0" selected>اختار العملة</option>
                    @if (CurrencyList != null)
                    {
                        @foreach (var curr in CurrencyList)
                        {
                            <option value="@curr.ID">@curr.Name</option>
                        }
                    }
                </select>
                @*<ValidationMessage For="@(() => OpenBalTreasury.CurrencyID)" /> <label class="text-danger">@ValidateMessageCurrency</label>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label style="text-align: right; font-size: 1em;">المبلغ</label>
                @*<MatTextField Label="المبلغ" @bind-Value="@OpenBalTreasury.Amount" OnFocusOut="() =>CalculateCurrRatio()" TabIndex="5"  min="0"  Style="width: 495px;"></MatTextField>*@
                @*<ValidationMessage For="@(() =>OpenBalTreasury.Amount)" />*@
                <input type="number" placeholder="المبلغ" min="0" class="form-control" @bind:event="oninput" @onchange="(()=> CalculateCurrRatio())" @bind="@OpenBalTreasury.Amount" TabIndex="5" Style="width: 495px;" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label style="text-align: right; font-size: 1em;">القيمة بالجنيه</label>
                <MatTextField Label="القيمة بالجنيه" @bind-Value="@OpenBalTreasury.CurrRatio" Disabled Style="padding-left: 40px; width: 495px;   "></MatTextField>
                @*<ValidationMessage For="@(() =>OpenBalTreasury.CurrRatio)" />*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <MatTextField Label="ملاحظات" @bind-Value="@OpenBalTreasury.Note" TabIndex="6" Style="width: 495px;"></MatTextField>
                @*<ValidationMessage For="@(() =>OpenBalTreasury.Note)" />*@
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-success justify-content-center" style="color: white; width: 220px; background-color: #6200ee;margin-right: 15px;" disabled="@IsDisbled" TabIndex="7">حفظ</button>
            @*<button class="btn btn-success justify-content-center" @onclick="@Cancel" style="color: white; width: 220px; margin-right: 30px; background-color: #6200ee; border-color: #6200ee;">الغاء</button>*@
        </div>
    </div>
</EditForm>
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}