﻿@page "/OpenBalTreasury"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<style>

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }


    /*
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }*/
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -17px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }
</style>
<PageTitle Title="لارصدة الافتتاحية للخزائن" @ref="PageTitle" />

<table width="100%">
    <tr>
        <td width="20"> </td>

        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewOpenBal">إضافة جديد</button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
<button class="btn" style="float:left" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>

<div class="row" style="overflow-y: auto;max-height: 440px;">
    @*<MatButton Icon="autorenew" Class="renew md-48" @onclick="@(async () => await BindList())">    </MatButton>*@

    <MatTable Items="@OpenBalList" AllowSelection="true" FilterByColumnName="TreasuryName" PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:" SearchTermFieldLabel="بحث" SearchTermFieldPlaceHolder="الاسم" class="mat-elevation-z5">
        <MatTableHeader>
            <th style="text-align: center;width:0%">االتاريخ</th>
            <th style="text-align: center;width:10%">اسم الخزينة</th>
            <th style="text-align: center;width:15%">المسئول</th>
            <th style="text-align: center;width:10%">المبلغ</th>
            <th style="text-align: center;width:15%">العملة</th>
            <th style="text-align: center;width:15%">القيمة بالجنيه</th>
            <th style="text-align: center;width:35%">عرض/ تعديل / حذف   </th>
        </MatTableHeader>
        <MatTableRow>
            <td style="text-align: center;">@context.EntryDate.ToString("dd-MM-yyyy")</td>
            <td style="text-align: center;">@context.TreasuryName</td>
            <td style="text-align: center;">@context.UserName</td>
            <td style="text-align: center;">@context.Amount</td>
            <td style="text-align: center;"> @context.CurrencyName</td>
            <td style="text-align: center;">@context.CurrRatio</td>

            <td style="text-align: center;">
                <MatButton Raised="true" @onclick="@(async () => await EditOldOpenBal(context.ID,"View"))" Style="padding-right: 28px; padding-left: 0px;" Icon="عرض" title="عرض الرصيد"></MatButton>
                <MatButton Raised="true " @onclick="@(async () => await EditOldOpenBal(context.ID,"Edit"))" Icon="edit" title="تعديل الرصيد"></MatButton> &nbsp; &nbsp;
                <MatButton Raised="true" @onclick="@( () =>  DeleteOpenBal(context.ID))" Icon="delete" title="مسح الرصيد"></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
</div>
