﻿@page "/OtherConstant"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@using Radzen.Blazor

<style>
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    h1 {
        float: right;
    }



    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }
    /* .new {
        float: right;
        top: 40px;
    }
    .mdc-paginator-container {
        align-items: center;
        justify-content: center;
    }*/
    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }




    body {
        overflow: scroll;
    }

    .CollectionTH {
        width: 50%;
    }
</style>

<PageTitle Title=" ثوابت أخرى " @ref="PageTitle" />

<table width="100%" style="color:honeydew">
    <tr>
        <td width="20"> </td>

        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewOtherConstant">إضافة جديد </button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />
@if (showAddrow == true)
{
    <EditForm Model="@otherConstant" OnValidSubmit="AddOtherConstant">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-md-6">
                <MatTextField Label="الاسم" @bind-Value="@otherConstant.Name" OnFocusOut="() =>CheckName()" TabIndex="1"></MatTextField>
                <label class="text-danger">@ValidateMessageName</label>
            </div>
            <div class="col-md-6">
                <MatTextField Label="النسبة" @bind-Value="@otherConstant.Ratio" TabIndex="2"></MatTextField>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <MatTextField Label="الترتيب" @bind-Value="@otherConstant.arrangement" OnFocusOut="() =>CheckArrangement()" TabIndex="3"></MatTextField>
                <label class="text-danger">@ValidateArrangementMessage</label>
            </div>
        </div>
        <div class="row" style="float:left">
            <MatButton Type="submit" style="width:220px;margin-right:30px;background-color: #6200ee;border-color: #6200ee;color:white"> حفظ</MatButton>
            <MatButton OnClick="@Cancel" style="width:220px;margin-right:30px;background-color: #6200ee;border-color:#6200ee;color:white"> الغاء</MatButton>
        </div>
    </EditForm>
}
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (showEditrow == true)
{

    <EditForm Model="@otherConstant" OnValidSubmit="EditOtherConstant">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-md-6">
                <MatTextField Label="الاسم" @bind-Value="@otherConstant.Name" OnFocusOut="() =>CheckName()" TabIndex="1"></MatTextField>
                <label class="text-danger">@ValidateMessageName</label>
            </div>
            <div class="col-md-6">
                <MatTextField Label="النسبة" @bind-Value="@otherConstant.Ratio" TabIndex="2"></MatTextField>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <MatTextField Label="الترتيب" @bind-Value="@otherConstant.arrangement" OnFocusOut="() =>CheckArrangement()" TabIndex="3"></MatTextField>
                <label class="text-danger">@ValidateArrangementMessage</label>
            </div>
        </div>
        <div class="row" style="float:left">
            <MatButton Type="submit" style="width:220px;margin-right:30px;background-color: #6200ee;border-color: #6200ee;color:white"> حفظ</MatButton>
            <MatButton OnClick="@Cancel" style="width:220px;margin-right:30px;background-color: #6200ee;border-color:#6200ee;color:white"> الغاء</MatButton>
        </div>
    </EditForm>
}
<br />
<br />
<div class="row" style="direction:ltr;float:left;">
    <button class="btn" style="float:left" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>

</div>

<div class="row" style="overflow-y: auto;max-height: 440px;direction:rtl">
    <hr />
    <MatTable Items="@OtherConstantList" AllowSelection="true" FilterByColumnName="Name" PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:" SearchTermFieldLabel="بحث" SearchTermFieldPlaceHolder="الاسم" class="mat-elevation-z5">
        <MatTableHeader>
            <th style="text-align:center; width:10%;">الترتيب</th>
            <th style="text-align:center; width:50%;">الاسم</th>
            <th style="text-align:center; width:20%;">النسبة</th>
            <th style="text-align:center; width:20%;">تعديل / حذف   </th>
        </MatTableHeader>
        <MatTableRow>
            <td style="text-align:center; width:10%;">@context.arrangement</td>
            <td style="text-align:center; width:50%;">@context.Name</td>
            <td style="text-align:center; width:20%;">@context.Ratio</td>
            <td style="text-align:center; width:20%;">
                <MatButton Raised="true" @onclick="@(async () => await EditOldOtherConstant(context.ID))" Icon="edit" title="تعديل المجموعة"></MatButton>
                <MatButton Raised="true" @onclick="@(() =>DeleteOtherConstant(context.ID))" Icon="restore_from_trash" title="مسح المجموعة"></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
</div>