﻿@page "/TreasuryEdit"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@layout MainLayoutWithoutMenu
@inject NavigationManager nav
@inject IJSRuntime jsRuntime

<PageTitle Title="تعديل الخزنة" @ref="PageTitle" />

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
<EditForm Model="@TreasuryModel" OnValidSubmit="EditTreasury">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-12">
            <MatTextField Label="اسم الخزنة" @bind-Value="@TreasuryModel.Name" OnFocusOut="() =>CheckName()" Style="width: 495px;" TabIndex="1"></MatTextField>
            <ValidationMessage For="@(() =>TreasuryModel.Name)" />
            <label class="text-danger">@ValidateMessage</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <MatTextField Label="كود الخزنة" @bind-Value="@TreasuryModel.Code" OnFocusOut="() =>CheckTreasuryCode()" Style="width: 495px;" TabIndex="2"></MatTextField>
            <label class="text-danger">@ValidateCodeMessage</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <MatTextField Label="الترتيب" @bind-Value="@TreasuryModel.arrangement" OnFocusOut="() =>CheckArrangement()" Style="width: 495px;" TabIndex="3"></MatTextField>
            <label class="text-danger">@ValidateArrangementMessage</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <select id="dept" class="form-control EditedSelect" @bind="@TreasuryModel.BranchID" style="height: 50px;width: 495px;" TabIndex="4">
                <option value="0" selected>اختار الفرع</option>
                @if (BranchList != null)
                {
                    @foreach (var branch in BranchList)
                    {
                        <option value="@branch.ID">@branch.Name</option>
                    }
                }
            </select>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <select id="dept" class="form-control EditedSelect" @bind="@TreasuryModel.UserId" style="height: 50px;width: 495px;" TabIndex="5">
                <option value="0" selected>اختار المسئول</option>
                @if (UsersList != null)
                {
                    @foreach (var user in UsersList)
                    {
                        <option value="@user.ID">@user.Name</option>
                    }
                }
            </select>
            @*<ValidationMessage For="@(() =>TreasuryModel.UserId)" />*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <MatTextField Label="المحمول" @bind-Value="@TreasuryModel.Mobile" Style="width: 495px;" TabIndex="6"></MatTextField>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <MatTextField Label="ملاحظات" @bind-Value="@TreasuryModel.Note" Style="width: 495px;" TabIndex="7"></MatTextField>
            @*<ValidationMessage For="@(() =>TreasuryModel.Note)" />*@
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-success justify-content-center" style="color: white; width: 220px; margin-right: 30px; background-color: #6200ee; border-color: #6200ee;">حفظ</button>
        @*<button class="btn btn-success justify-content-center" @onclick="@Cancel" style="color: white; width: 220px; margin-right: 30px; background-color: #6200ee; border-color: #6200ee;">الغاء</button>*@
    </div>
</EditForm>