﻿@page "/AdditionVoucherView"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager nav
@inject IJSRuntime jsRuntime
@layout MainLayoutWithoutMenu
@inject NavigationManager navigationManager

<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ebebeb;
            width: 100%;
        }

    .renew {
        display: inline-block;
        /* width: 190%;*/
        bottom: 40%;
        right: 88%;
    }

    .ItemRenew {
        display: inline-block;
        bottom: 44%;
        right: 83%;
    }

    .BalanceRenew {
        display: inline-block;
        bottom: 50%;
        right: 88%;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }


        .erase:hover {
            cursor: pointer;
        }
</style>
@*@if (ShowSucess == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ShowSucess=false">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowWarn == true)
{
    <MatDialog @bind-IsOpen="@ShowWarn" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تحذير </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لا يمكن الموافقة  سند صرف المخزن لهذه الفاتورة موجود مسبقا</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ShowWarn=false">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}*@
<PageTitle Title="عرض سند إضافة مخزن " />
@*<EditForm Model="@AdditionVoucherModel" OnValidSubmit="EditAdditionVoucher"> @ref="PageTitle" *@
<div class="row" style="overflow-y: auto;max-height: 610px;">
    <table class="table">
        <tbody>
            @*@if (Type == true)
            {
                <tr class="data-contact-person">
                    <td></td>
                    <td>
                        <button type="button" disabled  style="width: 30%;float: left;" id="btnAdd" class="btn btn-xs btn-primary classAdd" @onclick="@ConvertToAddition">موافقة </button>
                    </td>
                </tr>
            }*@
            <tr class="data-contact-person">
                <td>
                    <label>رقم المسلسل</label><br />
                    <MatTextField @bind-Value="@AdditionVoucherModel.SerialNumber" disabled  TabIndex="1"></MatTextField>
                </td>
                <td>
                    <label>التاريخ</label><br />
                    <MatDatePicker Label="" @bind-Value="@AdditionVoucherModel.Date" Format='dd/MM/yyyy' disabled  TabIndex="2"></MatDatePicker>
                </td>

            </tr>
            <tr class="data-contact-person">
                <td>
                    <label>العميل/ المورد/الموظف</label><br />
                    @*<select id="emp" class="form-control EditedSelect" style="width:90%" @bind="AdditionVoucherModel.Name" autoComplete="on" disabled  TabIndex="3">
            <option value="0" selected>--اختار  --</option>
            @if (Client_Supplier_List != null)
            {
                @foreach (var client in Client_Supplier_List)
                {
                    <option value="@client.Name">@client.Name</option>
                }
            }
        </select>*@
                    <div class="buttonInside">


                        <input style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtClientsearch" autocomplete="on" type="text" tabindex="3" id="inputSearch" @bind="@clients.Name">
                        @*<button type="button" class="erase" @onclick="@(()=>ReloadClientsList())">X</button>*@
                        <datalist style="width: 90%; padding-right: 20px;" id="txtClientsearch">
                            <option value="0" selected>--اختار --</option>
                            @if (Client_Supplier_List != null)
                            {
                                @foreach (var client in Client_Supplier_List)
                                {
                                    <option value="@client.Name">@client.Code</option>
                                }
                            }

                        </datalist>
                    </div>
                    @*<img src="/Images/Refresh.png" @onclick="@(()=>ClientsRenew())" style="height: 30px; float: left; top: -42px; position: relative; " disabled  /> @bind:event="oninput" @onchange="(()=> GetItemStore())" *@<br />
                </td>
                <td>
                    <label>المخزن</label><br />
                    <select id="store" name="store" class="form-control EditedSelect" @bind="AdditionVoucherModel.StoreId" disabled  TabIndex="4">
                        <option value="0" selected>--اختار مخزن--</option>
                        @if (StoreList != null)
                        {
                            @foreach (var store in StoreList)
                            {
                                <option value="@store.ID">@store.Name</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr class="data-contact-person">
                <td colspan="2">
                    @*<button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" disabled  @onclick="@AddNewRow">إضافة جديد</button>*@
                    <table class="table" id="maintable" style=" width: 1200px;margin-top: 1%;">
                        <thead>
                            <tr>
                                <th style="padding: .22rem;text-align: center;width: 6%;">مسلسل</th>
                                <th style="padding:.22rem;text-align: center;width: 15%;">كود الصنف </th>
                                <th style="padding:.22rem;text-align: center;width: 40%;">اسم الصنف </th>
                                <th style="padding:.22rem;text-align: center;width: 10%;">الكمية </th>
                                <th style="padding:.22rem;text-align: center;width: 12%;">كود الكرتونة </th>
                                <th style="padding:.22rem;text-align: center;width: 12%;">رقم الرف   </th>
                                <th style="padding:.22rem;text-align: center;">عرض </th>
                                @*<th style="padding:.22rem;text-align: center;">مسح </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in sItemList)
                            {
                            <tr class="data-contact-person">
                                <td>
                                    <input class="form-control" @bind="itm.Identifer" disabled TabIndex="5" />
                                </td>
                                <td>
                                    <input class="form-control" @bind="itm.Box_ParCode"  disabled TabIndex="6" />
                                </td>
                                <td>
                                    <div class="buttonInside">

                                        @*@onfocus="@(() => EraseText(itm))"*@
                                        <input disabled style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtsearch" type="text" tabindex="7" id="inputSearch" @bind="@itm.ItemName">
                                        @*<button type="button" class="erase" @onclick="@(()=>ReloadItemsList(itm))">X</button>@bind:event="oninput" @onblur="(()=> GetItemDataByCode(itm))"*@
                                        <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                                            <option selected>--اختار صنف--</option>
                                            @foreach (var Item in ItemList)
                                            {
                                                <option value="@Item.Name">@Item.Code</option>
                                            }

                                        </datalist>
                                    </div>
                                    @*<select id="item" name="item" class="form-control EditedSelect" style="width:90%" @bind:event="oninput" @onchange="(()=> GetItemData(itm))" @bind="itm.ItemId" disabled  TabIndex="7">
            <option value="0" selected>--اختار صنف--</option>
            @if (ItemList != null)@bind:event="oninput" @onchange="(()=> GetItemData(itm))"
            {
                @foreach (var Item in ItemList)
                {
                    <option value="@Item.ID">@Item.Name</option>
                }
            }
        </select>*@
                                    @*<img src="/Images/Refresh.png" @onclick="@(()=>ItemsRenew())" style="height: 30px; float: left; top: -42px; position: relative; " disabled />*@<br />
                                </td>
                                <td>
                                    <input class="form-control" @bind="itm.Quantity" disabled TabIndex="8" />
                                </td>
                                <td><input class="form-control" @bind="itm.BoxCode" disabled TabIndex="9" /> </td>
                                <td><input class="form-control" @bind="itm.SheilfNo" disabled TabIndex="10" /> </td>
                                <td>
                                    <img src="/Images/ImageOpen.webp" alt="صورة الصنف" @onclick="(() => ShowImage(itm))" style="height: 7%;" />
                                </td>
                                @*<td>@bind:event="oninput" @onblur="(()=> AddNewRow())"
            <button type="button" class="btn btn-s btn-danger" @onclick="@(()=> {RemoveRow(itm); })" disabled >مسح</button>
        </td>*@
                            </tr>
                            }
                        </tbody>

                    </table>
                </td>
            </tr>

            <tr class="data-contact-person">
                <td colspan="2">
                    <label>ملاحظات</label><br />
                    <MatTextField @bind-Value="@AdditionVoucherModel.Note" disabled  TabIndex="11"></MatTextField>
                </td>
            </tr>
            <tr class="data-contact-person">
                <td colspan="2">
                    <MatCheckbox @bind-Value="@AdditionVoucherModel.ShowNotesFlag" Label="إظهار الملاحظات فى الطباعة" disabled  TabIndex="12"></MatCheckbox>
                </td>
            </tr>
            <tr class="data-contact-person">
                <td colspan="2">
                    @*<button @onclick="EditAdditionVoucher" class="btn btn-success justify-content-center" style="color: white; width: 100px; background-color: #6200ee; border-color: #6200ee;" disabled  TabIndex="13">حفظ</button>*@

                </td>
            </tr>
        </tbody>
    </table>
</div>
@*</EditForm>*@
@if (ShowImg == true)
{
    <MatDialog @bind-IsOpen="@ShowImg" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>عرض الصورة </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">
                <img src="@ItemImg" alt="صورة الصنف " style="width:100%;height:100%;" />
            </div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() =>  ShowImg = false">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@*@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (SelectTypeChecker == true)
{
    <MatDialog @bind-IsOpen="@SelectTypeChecker" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>!!!خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لم تخترالعميل/ المورد/الموظف</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => SelectTypeChecker = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (SelectStoreChecker == true)
{
    <MatDialog @bind-IsOpen="@SelectStoreChecker" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>!!!خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لم تختر المخزن</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => SelectStoreChecker = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}*@