﻿@page "/SupplierEdit"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@layout MainLayoutWithoutMenu
@inject NavigationManager nav
@inject IJSRuntime jsRuntime

    <style>

        h1 {
            float: right;
        }

        .mdc-dialog .mdc-dialog__surface {
            max-width: 1200px;
        }

        .mdc-button__ripple {
            align-items: center;
            justify-content: center;
            text-align: center
        }

        .mdc-paginator-container {
            align-items: flex-start;
            justify-content: right;
        }

        .DateFormat .mdc-floating-label {
            margin-top: -20px;
        }

        .DateFormat .material-icons {
            margin-top: 40%;
        }

        .mdc-text-field--filled {
            width: 300px;
        }

            .mdc-text-field--filled:not(.mdc-text-field--disabled) {
                background-color: #ebebeb;
                width: 100%;
            }

        .renew {
            display: inline-block;
            /* width: 190%;*/
            bottom: 40%;
            right: 88%;
        }

        .ItemRenew {
            display: inline-block;
            bottom: 44%;
            right: 83%;
        }

        .BalanceRenew {
            display: inline-block;
            bottom: 50%;
            right: 88%;
        }

        .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
            color: black;
        }

        .mdc-text-field--disabled .mdc-text-field__input {
            color: black;
        }

        .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
            margin-top: 9px;
        }


        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ffffff;
            width: 100%;
        }
 
    </style>

<PageTitle Title="تعديل المورد" @ref="PageTitle" />

<EditForm Model="@supplier" OnValidSubmit="EditSupplier">
    <DataAnnotationsValidator />
    <div class="row" style="overflow-y: auto;max-height: 610px;width:1350px;">

        <table class="table">
            <tbody>
                <tr class="data-contact-person">
                    <td>
                        <label>اسم المورد</label>
                        <MatTextField @bind-Value="@supplier.Name" OnFocusOut="() =>CheckName()" TabIndex="1"></MatTextField>
                        <ValidationMessage For="@(() =>supplier.Name)" />
                        <label class="text-danger">@ValidateMessagName</label>
                    </td>
                    <td>
                        <label>اسم الموظف المسئول</label>
                        <MatTextField @bind-Value="@supplier.EmployeeName" TabIndex="2"></MatTextField>
                        @* <ValidationMessage For="@(() => client.EmployeeName)" /><label class="text-danger">@ValidateMessageEmployee</label>OnFocusOut="() => CheckMail()"*@

                    </td>
                    <td>
                        <label>العملة</label>
                        <select id="dept" class="form-control EditedSelect" @bind="@supplier.CurrencyID" style=" margin-left: 50px; height: 60px; width: 95%; " TabIndex="3">
                            <option value="0" selected>اختارالعملة</option>
                            @if (CurrencyList != null)
                            {
                                @foreach (var curr in CurrencyList)
                                {
                                    <option value="@curr.ID">@curr.Name</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <label>رقم التليفون</label>
                        <MatTextField @bind-Value="@supplier.Phone" TabIndex="4"></MatTextField>
                        @*<ValidationMessage For="@(() =>supplier.Phone)" />
                        <label class="text-danger">@ValidateMessagPhone</label>*@
                    </td>
                    <td>
                        <label>رقم الموبايل</label>
                        <MatTextField @bind-Value="@supplier.Mobile" TabIndex="5"></MatTextField>
                        @*<ValidationMessage For="@(() =>supplier.Mobile)" />
                        <label class="text-danger">@ValidateMessagMobile</label>*@
                    </td>
                    <td>
                        <label>كود المورد</label>
                        <MatTextField @bind-Value="@supplier.Code" OnFocusOut="() =>CheckCode()" TabIndex="6"></MatTextField>
                        @*<ValidationMessage For="@(() =>supplier.Code)" />*@
                        <label class="text-danger">@ValidateMessagCode</label>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td colspan="3">
                        <label>العنوان</label>
                        <MatTextField @bind-Value="@supplier.Address" TabIndex="7"></MatTextField>
                        @*<ValidationMessage For="@(() =>supplier.Address)" />*@
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <label>الملف الضريبى</label>
                        <MatTextField @bind-Value="@supplier.Taxfile" TabIndex="8"></MatTextField>
                        @*<ValidationMessage For="@(() =>supplier.Taxfile)" />*@
                    </td>
                    <td>
                        <label>الموقع الالكترونى</label>
                        <MatTextField @bind-Value="@supplier.WebSiteURL" TabIndex="9"></MatTextField>
                        @*<ValidationMessage For="@(() =>supplier.Mail)" />*@
                    </td>
                    <td>
                        <label>البريد الالكترونى</label>
                        <MatTextField @bind-Value="@supplier.Mail" TabIndex="10"></MatTextField>
                        @*<ValidationMessage For="@(() =>supplier.Mail)" />
                        <label class="text-danger">@ValidateMessagMail</label>*@
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <label>الترتيب</label>
                        <MatTextField @bind-Value="@supplier.arrangement" OnFocusOut="() =>CheckArrangement()" TabIndex="11"></MatTextField>
                        <label class="text-danger">@ValidateMessageArrangement</label>

                    </td>
                    <td>
                        <MatCheckbox Id="print" Label="Hide" @bind-Value="supplier.IsHide" Style="float: left;"></MatCheckbox>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td colspan="3">
                        <h2>سجل المشتريات</h2> <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" style="float:right" @onclick="@AddNewRow">إضافة جديد</button>
                        <table class="table" id="maintable" style="width:1200px;">
                            <thead>
                                <tr>
                                    <th style="padding:.22rem;text-align:center">الشهر </th>
                                    <th style="padding:.22rem;text-align:center">السنة  </th>
                                    <th style="padding:.22rem;text-align:center">صافى المشتريات </th>
                                    <th style="padding:.22rem;text-align:center">ملاحظات </th>
                                    <th style="padding:.22rem;text-align:center">ملاحظات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itm in PurchaseList)
                                {
                                    <tr class="data-contact-person">
                                        <td>
                                            <select id="store" name="store" class="form-control EditedSelect" TabIndex="12" @bind:event="oninput" @onchange="(()=> TempEditSupplier())" @bind="itm.Month">
                                                <option value="">--اختار الشهر--</option>
                                                <option value="يناير">يناير</option>
                                                <option value="فبراير">فبراير</option>
                                                <option value="مارس">مارس</option>
                                                <option value="إبريل">إبريل</option>
                                                <option value="مايو">مايو</option>
                                                <option value="يونيو">يونيو</option>
                                                <option value="يوليو">يوليو</option>
                                                <option value="اغسطس">اغسطس</option>
                                                <option value="سبتمبر">سبتمبر</option>
                                                <option value="اكتوبر">اكتوبر</option>
                                                <option value="نوفمبر">نوفمبر</option>
                                                <option value="ديسمبر">ديسمبر</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select id="Year" name="Year" class="form-control EditedSelect" @bind="itm.Year" TabIndex="13">
                                                <option value="">--اختار السنة--</option>
                                                @{
                                                    int year = DateTime.Now.Year;
                                                    for (int i = year + 25; i >= year - 25; i--)
                                                    {
                                                        <option value="@i">@i</option>

                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" name="l-name" class="form-control l-name01" @bind="itm.NetPurchases" TabIndex="14" />
                                        </td>
                                        <td><input type="text" name="email" class="form-control email01" @bind="itm.Note1" TabIndex="15" /> </td>
                                        <td>
                                            <input type="text" name="email" class="form-control email01" @bind="itm.Note" TabIndex="16" />

                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-s btn-danger" @onclick="@(()=> {RemoveRow(itm); })">مسح</button>
                                        </td>

                                    </tr>
                                }
                            </tbody>

                        </table>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td colspan="3">
                        <label>ملاحظات</label>
                        <MatTextField @bind-Value="@supplier.Note" TabIndex="17"></MatTextField>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <button type="submit" class="btn btn-success justify-content-center" style="color: white; width: 50%; background-color: #6200ee; border-color: #6200ee;" TabIndex="21">حفظ</button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
</EditForm>

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}