﻿@page "/Supplier"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }



    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }
</style>
<PageTitle Title="الموردين" @ref="PageTitle" />

<table width="100%">
    <tr>
        <td width="20"> </td>
        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewSupplier">إضافة جديد</button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
<button class="btn" style="float:left" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>

<div class="row" style="overflow-y: auto;max-height: 440px;">
    @*<MatButton Icon="autorenew" Class="renew md-48" @onclick="@(async () => await BindList())">    </MatButton>*@
    <MatTable Items="@SupplierList" AllowSelection="true" FilterByColumnName="Name" PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:" SearchTermFieldLabel="بحث" SearchTermFieldPlaceHolder="الاسم" class="mat-elevation-z5">
        <MatTableHeader>
            <th style="text-align: center;width:10%;">الترتيب </th>
            <th style="text-align: center;width:25%;">اسم المورد </th>
            <th style="text-align: center;width:15%;">رقم التليفون  </th>
            <th style="text-align: center;width:15%;">رقم الموبايل   </th>
            <th style="text-align: center;width:15%;">رقم الملف الضريبى</th>
            <th style="text-align: center;width:20%;">تعديل / حذف   </th>
        </MatTableHeader>
        <MatTableRow>
            <td style="text-align:center;width:10%;">@context.arrangement</td>
            <td style="text-align:center;width:25%;">@context.Name</td>
            <td style="text-align:center;width:15%;">@context.Phone</td>
            <td style="text-align:center;width:15%;">@context.Mobile</td>
            <td style="text-align:center;width:15%;">@context.Taxfile</td>
            <td style="width:20%;">
                <MatButton Raised="true" @onclick="@(async () => await EditOldSupplier(context.ID))" Icon="edit" title="تعديل "></MatButton>
                <MatButton Raised="true" @onclick="@( () => DeleteSupplier(context.ID))" Icon="delete" title="مسح "></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
</div>
