﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

* {
    font-family: Arial;
    font-size: 18px;
}

.Titles {
    font-size: 20px;
}

label {
    /* margin-bottom: 0;*/
    display: block;
    text-align: center;
    /* line-height: 150%; */
    font-size: 1em;
    font-weight: 600;
    /* margin-bottom: .5rem;*/
}

.SubTitleMenu {
    font-size: 12%;
}

.AddBtn {
    height: 40px;
    width: 160px;
    background-color: #6200ee;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.mdc-icon-button.mdc-ripple-upgraded {
    font-size: 1em;
}

.mdc-table th {
    line-height: 0.8rem;
    /* font-weight: 400; */
    letter-spacing: .04em;
    text-decoration: inherit;
    text-transform: inherit;
    background-color: rgb(98, 0, 238);
    font-size: .8rem;
    color: #ffffff;
    /* text-align: right;*/
    border: 1px solid rgba(0,0,0,.1);
    padding: 12px 12px 12px 24px;
    width: 12%;
    font-weight: bold;
}

.mdc-table td {
    border: 1px solid rgba(0,0,0,.1);
    padding: 10px 10px 10px 23px;
    font-size: .8rem;
    text-align: center;
}

.mdc-table, .mdc-table--striped {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    display: inline-table;
    overflow-x: auto;
    margin: 8px 0 32px;
    border: 1px solid rgba(0,0,0,.1);
}

.EditedSelect {
    max-height: 60px;
    background-color: #ebebeb;
    display: block;
    height: 50px;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #ffffff;
}

    a:hover {
        color: #00FFFF;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    /* background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background: #3b008f;
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1rem;
        font-weight: 600;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: .8rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 300px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .spinner {
        border: 16px solid silver;
        border-top: 16px solid #6200ee;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 700ms linear infinite;
        /*top: 20%;*/
        left: 50%;
        position: absolute;
        margin-top: 20%;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg)
        }

        100% {
            transform: rotate(-360deg)
        }
    }
}
