﻿@layout MainLayoutWithoutMenu
@page "/BranchAdd"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<style>

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    /*
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }*/
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }
</style>
<PageTitle Title="إضافة فرع" @ref="PageTitle" />
<EditForm Model="@BranchModel" OnValidSubmit="AddBranch">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <MatTextField Label="اسم الفرع" @bind-Value="@BranchModel.Name" OnFocusOut="() =>CheckName()" Style="        width: 488px;" TabIndex="1"></MatTextField>
                <ValidationMessage For="@(() =>BranchModel.Name)" />
                <label class="text-danger">@ValidateMessageName</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <MatTextField Label="العنوان" @bind-Value="@BranchModel.Address" Style="width: 488px;" TabIndex="2"></MatTextField>
                @*<ValidationMessage For="@(() =>BranchModel.Address)" />*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-right: 15px; padding-left: 15px; width: 250px;">
                <MatTextField Label="التليفون" @bind-Value="@BranchModel.Phone" TabIndex="3"></MatTextField>
                @*<ValidationMessage For="@(() =>BranchModel.BranchKey)" />
                    <label class="text-danger">@ValidateMessageKey</label>*@
            </div>
            <div class="col-md-6">
                <MatTextField Label="المحمول " @bind-Value="@BranchModel.Mobile" TabIndex="4"></MatTextField>
                @*<ValidationMessage For="@(() =>collec.arrangement)" />
                    <label class="text-danger">@ValidateMessageArrangement</label>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-right: 15px; padding-left: 15px; width: 250px;">
                <MatTextField Label="الرقم الموحد" @bind-Value="@BranchModel.BranchKey" OnFocusOut="() =>CheckKey()" TabIndex="5"></MatTextField>
                @*<ValidationMessage For="@(() =>BranchModel.BranchKey)" />*@
                    <label class="text-danger">@ValidateMessageKey</label>
            </div>
            <div class="col-md-6">
                <MatTextField Label="الترتيب " @bind-Value="@BranchModel.arrangement" OnFocusOut="() =>CheckArrangement()" TabIndex="6"></MatTextField>
                @*<ValidationMessage For="@(() =>BranchModel.arrangement)" />*@
                    <label class="text-danger">@ValidateMessageArrangement</label>
            </div>
        </div>
        @*<div class="row">
                <div class="col-md-12">
                    <select id="dept" class="form-control EditedSelect" @bind="@BranchModel.CompanyId" Style="width: 488px;" TabIndex="5">
                        <option value="0" selected="selected">اختار الشركة</option>
                        <option value="@CompanyList.ID">@CompanyList.Name</option>
                    </select>
                    <ValidationMessage For="@(() => BranchModel.CompanyId)" />
                    <label class="text-danger">@ValidateMessageCompany</label>
                </div>
            </div>*@
        <div class="row" style="margin-left: 200px">
            <div class="col-md-12">
                <MatTextField Label="ملاحظات" @bind-Value="@BranchModel.Note" Style="width: 488px;" TabIndex="7"></MatTextField>
                @*<ValidationMessage For="@(() =>BranchModel.Note)" />*@
            </div>
        </div>
        <div class="row" >
            <button type="submit" class="btn btn-success justify-content-center" disabled="@IsDisabled" style="color: white; width: 220px; background-color: #6200ee; border-color: #6200ee;">حفظ</button>
        </div>
    </div>
</EditForm>

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}

