﻿@page "/Branch"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<style>

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    /*
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }*/
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }
</style>
<PageTitle Title="الفروع" @ref="PageTitle" />

<table width="100%">
    <tr>
        <td width="20"> </td>

        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewBranch">إضافة جديد</button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />
@if (BranchUsed == true)
{
    <MatDialog @bind-IsOpen="@BranchUsed" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>!!!خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لا يمكن حذف الفرع لأنه مستخدم </div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() =>BranchUsed = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
<button class="btn" style="float:left" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>

<div class="row" style="overflow-y: auto;max-height: 440px;direction:rtl">
    @*<MatButton Icon="autorenew" Class="renew md-48" @onclick="@(async () => await BindList())">    </MatButton>*@
    @*<button class="btn" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>*@

    <MatTable Items="@BranchList" AllowSelection="true" FilterByColumnName="Name" PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:" SearchTermFieldLabel="بحث" SearchTermFieldPlaceHolder="الاسم" class="mat-elevation-z5">
        <MatTableHeader>
            <th style="text-align: center;width:1%;">المسلسل</th>
            <th style="text-align: center;width: 15%;">اسم الفرع</th>
            <th style="text-align: center;width: 25%;">العنوان</th>
            <th style="text-align: center;width: 15%;">التليفون</th>
            <th style="text-align: center;width: 15%;">المحمول</th>
            <th style="text-align: center;width: 1%;">الرقم الموحد</th>
            <th style="text-align: center;">تعديل / حذف   </th>
        </MatTableHeader>
        <MatTableRow>
            <td style="text-align: center;width:1%;">@context.arrangement</td>
            <td style="text-align: center;width: 15%;">@context.Name</td>
            <td style="text-align: center;width: 25%;">@context.Address</td>
            <td style="text-align: center;width: 15%;">@context.Phone</td>
            <td style="text-align: center;width: 15%;">@context.Mobile</td>
            <td style="text-align: center;width: 1%;">@context.BranchKey</td>
            <td style="text-align: center;">
                <MatButton Raised="true" @onclick="@(async () => await EditOldBranch(context.ID))" Icon="edit" title="تعديل" Style="width:15%;"></MatButton> &nbsp; &nbsp;
                <MatButton Raised="true" @onclick="@(() =>DeleteBranch(context.ID))" Icon="delete" title="مسح" Style="width:15%;"></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
    @*<table class="table">
            <thead>
                <tr>
                    <th style="text-align: right;width:1%;">الترتيب</th>
                    <th style="text-align: right;width: 25%;">اسم الفرع</th>
                    <th style="text-align: right;width: 25%;">العنوان</th>
                    <th>رقم الموحد</th>
                    <th style="text-align: center;">تعديل / حذف   </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var context in BranchList)
                {
                <tr>
                    <td style="text-align: right;width:1%;">@context.arrangement</td>
                    <td style="text-align: right;width: 25%;">@context.Name</td>
                    <td style="text-align: right;width: 25%;">@context.Address</td>
                    <td>@context.BranchKey</td>
                    <td style="text-align: center;">
                        <MatButton Raised="true" @onclick="@(async () => await EditOldBranch(context.ID))" Icon="edit" title="تعديل" Style="width:15%;"></MatButton> &nbsp; &nbsp;
                        <MatButton Raised="true" @onclick="@(() =>DeleteBranch(context.ID))" Icon="delete" title="مسح" Style="width:15%;"></MatButton>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <div class="container">
                <div class="row justify-content-center">
                    <BlazorPager ref="blazorPager"
                                 RenderAfterBeginTag="@RenderPagerInfo"
                                 TotalItemCount="@TotalItemCount"
                                 OnPageChanged="@ChangePage"
                                 PageSize="@PageSize"
                                 InitPageIndex="@Page"
                                 TagName="ul"
                                 class="pagination pagination-sm col-6"
                                 PagerItemContainerTagName="li"
                                 PagerItemContainerCssClass="page-item"
                                 CurrentPagerItemContainerCssClass="page-item active"
                                 DisabledPagerItemContainerCssClass="page-item disabled"
                                 CurrentPagerItemTextFormatString="{0}<span class='sr-only'>current</span>"
                                 PagerItemCssClass="page-link"
                                 RoutePattern="@RoutePattern"></BlazorPager>
                    <div class="col-2">
                        <div class="input-group input-group-sm mb-3 pr-3">
                            <input type="number" class="form-control" placeholder="Enter page index" bind="@inputPageIndex" aria-label="Page index" aria-describedby="basic-addon2" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="@GoToPage">Go</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>*@
</div>
