﻿@page "/DiscountNotice"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<style>
    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }

        .erase:hover {
            cursor: pointer;
        }

    label {
        text-align: justify;
    }
    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 800px;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    aria-label {
        text-align: left;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }
</style>
<PageTitle Title="إشعار الخصم" @ref="PageTitle" />
<table width="100%">
    <tr>
        <td width="20"> </td>
        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewDiscountNotice">إضافة جديد</button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
<table width="100%">
    <tr>
        <td style="width: 50%;">
            <label style="width: 70%;">بحث بالعميل</label> <br />
            <div class="buttonInside">


                <input style="width: 70%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtsearch" type="text" tabindex="1" id="inputSearch" @bind:event="oninput" @onchange="(()=> GetAllByClient())" @bind="@clients.Name">
                <button type="button" class="erase" @onclick="@(()=>ReloadClientsList())">X</button>
                <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                    <option selected>--اختار العميل --</option>
                    @foreach (var client in ClientList)
                    {
                        <option value="@client.Name">@client.Code</option>
                    }

                </datalist>
            </div>
        </td>

        <td>
            <label>بحث بالمورد</label> <br />
            <select title="المورد" style="width:100%;" id="supp" class="form-control EditedSelect" @bind="@Discount.SupplierId" TabIndex="2" @bind:event="oninput" @onchange="(()=> GetAllBySupplier())">
                <option title="المورد" value="0" selected>--اختار المورد --</option>
                @if (SupplierList != null)
                {
                    @foreach (var supplier in SupplierList)
                    {
                        <option title="المورد" value="@supplier.ID">@supplier.Name</option>
                    }
                }
            </select>
        </td>
        @*<td>
                <label>بحث بالتاريخ</label><br />
                <MatDatePicker @bind-Value="@SalesModel.Date" @onchange="()=> GetAllByDate()" Format='dd/MM/yyyy' TabIndex="3"></MatDatePicker>
            </td>*@
    <td>
        <MatButton Icon="autorenew" Class="renew md-48" @onclick="@(async () => await BindList())"></MatButton>
        @*<button class="btn btn-info" style="background-color: #6200ee" @onclick="@(async () => await TableRenew())">عرض </button>*@
    </td>
    </tr>

    <tr>
        <td colspan="3">
        </td>
    </tr>
</table>
<div class="row" style="overflow-y: auto;max-height: 440px;">
   
    <MatTable Items="@DiscountNoticeList" AllowSelection="true"  PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:"   class="mat-elevation-z5">
        <MatTableHeader>
            <th style="text-align: center;width:0%;">مسلسل </th>
            <th style="text-align: center;width:0%;">التاريخ </th>
            <th style="text-align: center;width:25%;"> عميل/مورد  </th>
            <th style="text-align: center;width:10%;">المبلغ </th>
            <th style="text-align: center;width:65%"><label style=" padding-right: 15px;font-size: 1.5em;"> عرض&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  تعديل &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  حذف&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  تأكيد &nbsp;&nbsp;&nbsp; مراجعه </label></th>
        </MatTableHeader>
        <MatTableRow>
            <td style="text-align: center;width:0%;">@context.SerialNumber</td>
            <td style="text-align: center;width:10%;">@context.Date.ToString("dd/MM/yyyy")</td>
            @if (@context.UserTypeFlag == 1)
            {
                <td style="text-align: center;width:25%;">@context.ClientName</td>
            }
            @if (@context.UserTypeFlag == 2)
            {
                <td style="text-align: center;width:25%;">@context.SupplierName</td>
            }
            <td style="text-align: center;width:10%;">@context.Amount</td>
            <td style="width:65%;">
                <MatButton Raised="true" @onclick="@(async () => await EditOldDiscountNotice(context.ID,"View"))" Style="padding-right: 28px; padding-left: 0px;" Icon="عرض" title="عرض "></MatButton>
                <MatButton Raised="true" @onclick="@(async () => await EditOldDiscountNotice(context.ID,"Edit"))" Icon="edit" title="تعديل "></MatButton>
                <MatButton Raised="true" @onclick="@(() => DeleteDiscountNotice(context.ID,context.SerialNumber.Value,context.SupplierId.Value))" Icon="delete" title="مسح "></MatButton>
                <MatButton Raised="true" Icon="تأكيد" Style="padding-right: 20px; padding-left: 0px;" title="Auth"></MatButton>
                <MatButton Raised="true" Icon="مراجعة" Style=" padding-right: 35px; padding-left: 0px;" title="Review"></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
</div>
