﻿@layout MainLayoutWithoutMenu
@page "/DiscountNoticeEdit"
@inject NavigationManager nav
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@using BlazorInputFile
@inject IJSRuntime jsRuntime
@using Radzen.Blazor

    <style>

        h1 {
            float: right;
        }

        .mdc-dialog .mdc-dialog__surface {
            max-width: 1200px;
        }

        .mdc-button__ripple {
            align-items: center;
            justify-content: center;
            text-align: center
        }

        .mdc-paginator-container {
            align-items: flex-start;
            justify-content: right;
        }

        .mdc-text-field--filled {
            width: 300px;
        }


            .mdc-text-field--filled:not(.mdc-text-field--disabled) {
                background-color: #ebebeb;
                width: 100%;
            }

        .renew {
            display: inline-block;
            /* width: 190%;*/
            bottom: 40%;
            right: 88%;
        }

        .ItemRenew {
            display: inline-block;
            bottom: 44%;
            right: 83%;
        }

        .BalanceRenew {
            display: inline-block;
            bottom: 50%;
            right: 88%;
        }

        .DateFormat .mdc-floating-label {
            margin-top: -20px;
        }

        .DateFormat .material-icons {
            margin-top: 40%;
        }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ffffff;
            width: 100%;
        }

        .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
            margin-top: 9px;
        }

        .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
            color: black;
        }

        .mdc-text-field--disabled .mdc-text-field__input {
            color: black;
        }
        .buttonInside {
            position: relative;
            margin-bottom: 10px;
        }

        .input {
            height: 25px;
            width: 100%;
            padding-left: 10px;
            border-radius: 4px;
            border: none;
            outline: none;
        }

        .erase {
            position: absolute;
            right: 2px;
            top: 12px;
            border: none;
            height: 20px;
            width: 20px;
            border-radius: 100%;
            outline: none;
            text-align: center;
            font-weight: bold;
            padding: 2px;
            background-color: none;
        }

            .erase:hover {
                cursor: pointer;
            }
    </style>
<PageTitle Title="تعديل إشعار الخصم " @ref="PageTitle" />
<EditForm Model="@Discount" OnValidSubmit="EditDiscountNotice">
    <DataAnnotationsValidator /> 
    <div class="row" style="overflow-y: auto;max-height: 610px;width: 100%;">

        <table class="table">
            <tbody>
                <tr class="data-contact-person">
                    <td>
                        <label>رقم المسلسل</label>
                        <br />
                        <MatTextField @bind-Value="@Discount.SerialNumber" disabled="@IsDisabled" TabIndex="1"></MatTextField>
                    </td>
                    <td class="DateFormat">
                        <label>التاريخ</label><br />
                        <MatDatePicker @bind-Value="@Discount.Date" Format='dd/MM/yyyy' disabled="@IsDisabled" TabIndex="2"></MatDatePicker>
                    </td>
                </tr>

                <tr class="data-contact-person">
                    <td>
                        <label>عميل/مورد</label><br />
                        <select title="العميل" id="cli" disabled="@IsDisabled" class="form-control EditedSelect"   @bind="@UserTypeFlag" @bind:event="oninput" @onchange="(()=> ClientOrSupplier())" TabIndex="3">
                            <option value="0" selected>--عميل/مورد--</option>
                            <option value="1">عميل</option>
                            <option value="2">مورد</option>
                        </select>
                        <label class="text-danger">@ValidateSupplierOrClient</label>
                    </td>
                    <td>
                        <label>المبلغ</label><br />
                        <MatTextField @bind-Value="@Discount.Amount" disabled="@IsDisabled" TabIndex="4"></MatTextField>
                    </td>

                </tr>

                <tr class="data-contact-person">
                    @if (ShowClient)
                    {
                    <td>
                        @*<label>العميل</label><br />
        <RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@Discount.ClientId TabIndex="4"
                        Placeholder="اختار العميل" Data=@ClientList TextProperty="Name" ValueProperty="ID" Style=" width: 90%;height: 50px;">
        </RadzenDropDown>*@
                        <label>العميل</label><br />
                        @*<select title="العميل" id="client" disabled="@IsDisabled" class="form-control EditedSelect" @bind="@Discount.ClientId" TabIndex="5"  >
            <option title="العميل" value="0" selected>--اختار العميل --</option>
            @if (ClientList != null)
            {
                @foreach (var client in ClientList)
                {
                    <option title="العملة" value="@client.ID">@client.Name</option>
                }
            }
        </select>*@
                        <div class="buttonInside">


                            <input style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" disabled="@IsDisabled" list="txtsearch" type="text" tabindex="5" id="inputSearch" @bind="@clients.Name">
                            <button type="button" class="erase" @onclick="@(()=>ReloadClientsList())">X</button>
                            <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                                <option selected>--اختار العميل --</option>
                                @foreach (var client in ClientList)
                                {
                                    <option value="@client.Name">@client.Code</option>
                                }

                            </datalist>
                        </div>
                    </td>
                    }
                    @if (ShowSupplier)
                    {
                        <td>
                            @*<label>المورد</label>
                                <br />
                                <RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@Discount.SupplierId TabIndex="4"
                                                Placeholder="اختار المورد" Data=@SupplierList TextProperty="Name" ValueProperty="ID" Style=" width: 90%;height: 50px;">
                                </RadzenDropDown>*@
                            <label>المورد</label><br />
                            <select title="المورد" disabled="@IsDisabled" id="supp" class="form-control EditedSelect"   @bind="@Discount.SupplierId" TabIndex="5">
                                <option title="المورد" value="0" selected>--اختار المورد --</option>
                                @if (SupplierList != null)
                                {
                                    @foreach (var supplier in SupplierList)
                                    {
                                        <option title="العملة" value="@supplier.ID">@supplier.Name</option>
                                    }
                                }
                            </select>
                        </td>
                    }
                    <td>
                        <label>العملة</label><br />
                        @*<RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@Discount.CurrencyId TabIndex="4"
                                            Placeholder="اختار العملة" Data=@CurrencyList TextProperty="Name" ValueProperty="ID" Style=" width: 90%;height: 50px;">
                            </RadzenDropDown>*@
                        <select title="العملة" disabled="@IsDisabled" id="curr" class="form-control EditedSelect"   @bind="@Discount.CurrencyId" TabIndex="6">
                            <option title="العملة" value="0" selected>--اختار العملة --</option>
                            @if (CurrencyList != null)
                            {
                                @foreach (var curr in CurrencyList)
                                {
                                    <option title="العملة" value="@curr.ID">@curr.Name</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td colspan="2">
                        <label>ملاحظات</label><br />
                        <MatTextField @bind-Value="@Discount.Note" disabled="@IsDisabled" TabIndex="7"></MatTextField>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-success justify-content-center" style="color: white;background-color: #6200ee; border-color: #6200ee;" disabled="@IsDisabled" TabIndex="8">حفظ</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
</EditForm>
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
