﻿@layout MainLayoutWithoutMenu
@page "/ClientOpeningBalanceAdd"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ebebeb;
            width: 100%;
        }

    .renew {
        display: inline-block;
        /* width: 190%;*/
        bottom: 40%;
        right: 88%;
    }

    .ItemRenew {
        display: inline-block;
        bottom: 44%;
        right: 83%;
    }

    .BalanceRenew {
        display: inline-block;
        bottom: 50%;
        right: 88%;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
        width: 100%;
    }

  
    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }

        .erase:hover {
            cursor: pointer;
        }
</style>


<PageTitle Title=" إضافة الارصدة الافتتاحية للعملاء" @ref="PageTitle" />
<EditForm Model="@balance" OnValidSubmit="EditClientOpeningBalance">
    <DataAnnotationsValidator />
    <div style="overflow-y: auto;max-height: 610px;">
        <table class="table">
            <tbody>
                <tr class="data-contact-person">
                    <td>
                        <label>رقم المستند</label>
                        <MatTextField @bind-Value="@balance.DocumentNumber" TabIndex="1"></MatTextField>
                    </td>
                    <td class="DateFormat">
                        <label>التاريخ</label>
                        <MatDatePicker @bind-Value="@balance.EntryDate" Format='dd/MM/yyyy' TabIndex="2"></MatDatePicker>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <label>الفرع</label><br />
                        <select id="branch" class="form-control EditedSelect" @bind="balance.BranchID" TabIndex="3">
                            <option value="0" selected>-- اختار الفرع --</option>
                            @if (BranchList != null)
                            {
                                @foreach (var branch in BranchList)
                                {
                                    <option value="@branch.ID">@branch.Name</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        <label>المسئول</label><br />
                        <select id="emp" class="form-control EditedSelect" @bind="balance.EmployeeID" TabIndex="4">
                            <option value="0" selected>-- اختار المسئول --</option>
                            @if (EmployeeList != null)
                            {
                                @foreach (var emp in EmployeeList)
                                {
                                    <option value="@emp.ID">@emp.Name</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td colspan="2">
                        <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" style="float:right" @onclick="@AddNewRow">إضافة جديد</button>
                        <table class="table" id="maintable" style="width:100%;height:100%;">
                            <thead>
                                <tr>
                                    <th style="padding: .22rem;text-align: center;width: 6%;">كود العملية</th>
                                    <th style="padding:.22rem;text-align:center;width:30%">العميل  </th>
                                    <th style="padding:.22rem;text-align:center;width:20%">الرصيد  </th>
                                    <th style="padding:.22rem;text-align:center;width:40%">ملاحظات</th>
                                    <th style="padding:.22rem;text-align:center;width:10%">مسح</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var balance in BalanceDetailsList)
                                {
                                <tr class="data-contact-person">
                                    <td>
                                        <input class="form-control" @bind="@balance.ID" TabIndex="5" />
                                    </td>
                                    <td>
                                        @*<select id="client" class="form-control EditedSelect" @bind:event="oninput" @onchange="(()=> AddClientOpeningBalance())" @bind="balance.ClientID" TabIndex="6">
            <option value="0" selected>-- اختار العميل--</option>
            @if (ClientList != null)
            {
                @foreach (var client in ClientList)
                {
                    <option value="@client.ID">@client.Name</option>
                }
            }
        </select>*@
                                        <div class="buttonInside">

                                            @*@onfocus="@(() => EraseText(balance))"*@
                                            <input autocomplete="off" style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtsearch" type="text" tabindex="6" id="inputSearch" @bind="@balance.ClientName" @bind:event="oninput" @onchange="(()=> AddClientOpeningBalance(balance))">
                                            <button type="button" class="erase" @onclick="@(()=>ReloadClientsList(balance))">X</button>
                                            <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                                                <option selected>--اختار عميل--</option>
                                                @foreach (var client in ClientList)
                                                {
                                                    <option value="@client.Name">@client.Code</option>
                                                }

                                            </datalist>
                                        </div>
                                    </td>
                                    <td>
                                        @*<input class="form-control" @bind:event="oninput" @onchange="(()=> ChangeItemAmount())" @bind="balance.Amount"  type="number" step="1" TabIndex="7" />*@
                                        @*<input type="number" class="form-control" id="points" name="points" step="3" @bind="balance.Amount" @bind:event="oninput" @onchange="(()=> ChangeItemAmount())">*@
                                        <MatTextField Label="الرصيد" @bind-Value="@balance.Amount" TabIndex="7" OnFocusOut="(()=> ChangeItemAmount())"></MatTextField>
                                    </td>
                                    <td>
                                        @*<input class="form-control" @bind="balance.Note" TabIndex="8" />*@
                                        <MatTextField Label="ملاحظات"  @bind-Value="@balance.Note" TabIndex="8"></MatTextField>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-s btn-danger" @onclick="@(()=> {RemoveRow(balance); })">مسح</button>
                                    </td>
                                </tr>
                                }
                            </tbody>

                        </table>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td colspan="2">
                        <label>ملاحظات</label>
                        <MatTextField @bind-Value="@balance.Note" TabIndex="9"></MatTextField>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <button   type="submit" class="btn btn-success justify-content-center" disabled=@IsTaskRunning style="color: white; width: 50%; background-color: #6200ee; border-color: #6200ee;" TabIndex="10">حفظ</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</EditForm>

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
