﻿@page "/EntriesAdd"
@using MatBlazor;
@using System.Net.Http
@inject HttpClient Http
@using BlazorInputFile
@using System.IO
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@layout MainLayoutWithoutMenu

<style>
    [type="date"] {
        background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
    }

        [type="date"]::-webkit-inner-spin-button {
            display: none;
        }

        [type="date"]::-webkit-calendar-picker-indicator {
            opacity: 0;
        }

    .Date {
        font-family: 'PT Sans', sans-serif;
        font-size: 1.2rem;
        display: block;
        padding: 0.5rem 1rem;
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    }

    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }

        .erase:hover {
            cursor: pointer;
        }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }
    /* .new {
                float: right;
                top: 40px;
            }
            .mdc-paginator-container {
                align-items: center;
                justify-content: center;
            }*/
    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .new {
        margin-right: -190px;
        float: right;
        margin-top: 40px;
    }



    .mat-file-upload {
        /* padding: 2rem; */
        display: flex;
        border: solid;
        background-color: #ebebeb;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        /*position: relative;*/
    }

    /* .Name {
            width: 120%;
            background-color: #ffffff;
        }

        .CBM {
            margin-left: 300px;
            width: 80%;
            background-color: #ffffff;
        }

        .Type {
            margin-right: 80%;
        }

        .BoxWeight {
            margin-right: 55px;
            width: 45%;
            background-color: #ffffff;
        }

        .BoxNo {
            width: 60%;
            background-color: #ffffff;
        }

        .Drops {
            display: table;
            width: 100%;
            table-layout: fixed;
            border-spacing: 10px;
        }*/
    input[type='file'] {
        color: transparent;
    }

    .Diff {
        padding: 0;
        vertical-align: middle;
        margin-right: 300px;
    }
</style>
<PageTitle Title="إضافة قيود" @ref="PageTitle" />

<EditForm Model="@entry" OnValidSubmit="AddEntries">
    <DataAnnotationsValidator />
    <div class="row" style="overflow-y: auto;max-height: 1120px;">
        <table class="table">
            <tbody>
                <tr class="data-contact-person">
                    <td>
                        <label style="text-align:center">رقم المسلسل</label><br />
                        <MatTextField @bind-Value="@entry.EntriesNo" TabIndex="1"></MatTextField>
                    </td>
                    <td>
                        <label>التاريخ</label><br />
                        @*<MatDatePicker @bind-Value="@entry.EntryDate" style="padding-right: 0px;" Format='dd/MM/yyyy'  TabIndex="2"></MatDatePicker>*@
                        @*<InputDate @bind-Value="entry.EntryDate" TabIndex="2" class="Date" Format='dd/MM/yyyy'  placeholder="dd/mm/yyyy" /> OnKeyDown="DateChanged()"*@
                        <MatDatePicker @bind-Value="@entry.EntryDate" style="padding-right: 0px;" Format='dd/MM/yyyy' TabIndex="2"></MatDatePicker>
                        @*<RadzenDatePicker @bind-Value=@entry.EntriesNo DateFormat="d" TabIndex="2" />*@
                    </td>
                    <td>
                        <label>نوع القيد</label><br />
                        <select title="نوع القيد" id="branch" name="store" class="form-control EditedSelect" @bind="entry.EntryType" TabIndex="3">
                            <option title="نوع القيد" value="0" selected>--اختار نوع القيد--</option>
                            @*@foreach (var type in Enum.GetValues(typeof(EnEntryTypes)))
                                {
                                    <option title="نوع القيد" value="@type">@type.ToString().Replace("_", " ")</option>
                                }*@
                            @if (EntriesTypes != null)
                            {
                                @foreach (var EntryType in EntriesTypes)
                                {
                                    <option title="نوع القيد" value="@EntryType.ID">@EntryType.Name</option>

                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label style="text-align:center">ملاحظات</label><br />
                        <MatTextField Style="width:100%;" @bind-Value="@entry.EntryDesc_Note" TabIndex="4"></MatTextField>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" @onclick="@AddNewRow">إضافة جديد</button>
                        <table class="table" id="maintable" autocomplete="off">
                            <thead>
                                <tr>
                                    <th style="padding:.22rem;text-align:center;">مركز التكلفة</th>
                                    <th style="padding:.22rem;text-align:center">دائن</th>
                                    <th style="padding:.22rem;text-align:center">مدين </th>
                                    <th style="padding:.22rem;text-align:center">   الحساب</th>
                                    @*<th style="padding:.22rem;text-align:center;">رقم الحساب</th>*@
                                    <th style="padding:.22rem;text-align:center;"> ملاحظات</th>
                                    <th style="padding:.22rem;text-align:center">مسح</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var entryDetail in EntriesDetailsList)
                                {
                                    <tr class="data-contact-person">
                                        <td>
                                            <div class="buttonInside">
                                                <input style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtClientsearch" autocomplete="on" type="text" tabindex="5" id="inputSearch" @bind="entryDetail.CostCenterName">
                                                <button type="button" class="erase" @onclick="@(()=>ReloadCostCentersList())">X</button>
                                                <datalist style="width: 90%; padding-right: 20px;" id="txtClientsearch">
                                                    <option selected>--اختار مركز التكلفة --</option>
                                                    @foreach (var center in CostCentersList)
                                                    {
                                                        <option title="مركز تكلفة" value="@center.Name">@center.AccountCode</option>

                                                    }
                                                </datalist>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="number" step=".01" name="email" class="form-control email01" @bind="entryDetail.Debit" @bind:event="oninput" @onchange="(()=> ChangeDR())" autocomplete="off" tabindex="6" style="text-align:center" />
                                        </td>
                                        <td><input type="number" step=".01" name="email" class="form-control email01" @bind="entryDetail.Credit" @bind:event="oninput" @onchange="(()=> ChangeDR())" autocomplete="off" tabindex="7" style="text-align:center" /> </td>


                                        <td>
                                            <div class="buttonInside">
                                                @*@bind:event="oninput" @onchange="(()=> GetAccountData())"*@
                                                <input style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtsearch" autocomplete="on" type="text" tabindex="8" id="inputSearch" @bind="entryDetail.AccountName">
                                                <button type="button" class="erase" @onclick="@(()=>ReloadAccountsList())">X</button>
                                                <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                                                    <option selected>--اختار الحساب --</option>
                                                    @foreach (var G in GuideList)
                                                    {
                                                        <option value="@G.Name">@G.AccountCode</option>
                                                    }
                                                </datalist>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" name="email" class="form-control email01" @bind="entryDetail.DetailDesc_Note" tabindex="9" style="text-align:center" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-s btn-danger" @onclick="@(()=> { RemoveRow(entryDetail); })">مسح </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>الاجمالي</td>
                                    <td><input type="number" step=".01" name="email" class="form-control" readonly @bind="entryDetail.TotalDR" @bind:event="oninput" @onchange="(()=> RecalculateDifference())" /></td>
                                    <td><input type="number" step=".01" name="email" class="form-control" readonly @bind="entryDetail.TotalCR" @bind:event="oninput" @onchange="(()=> RecalculateDifference())" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="Diff"><input type="text" name="email" class="form-control" @bind="entryDetail.DRCR_Difference" readonly /></td>
                                </tr>
                            </tfoot>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-success justify-content-center" disabled="@IsDisabled" style="color: white;  background-color: #6200ee; border-color: #6200ee;" TabIndex="9">حفظ</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</EditForm>

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}

@if (Diff == true)
{
    <MatDialog @bind-IsOpen="@Diff" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">  يجب أن يكون الفرق بين الدائن و المدين صفر</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}