﻿@page "/ItemConversion"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<style>
    label {
        text-align:justify;
    }
    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }

        .erase:hover {
            cursor: pointer;
        }
    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

    .EditedSelect {
        max-height: 60px;
        background-color: #ebebeb;
        /* padding-right: 60px; */
        display: block;
        height: 50px;
        /* margin-left: 70px; */
        width: 300px;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }

    .renew {
        display: inline-block;
        /* width: 190%;*/
        bottom: 40%;
        right: 88%;
    }

    .ItemRenew {
        display: inline-block;
        bottom: 44%;
        right: 83%;
    }

    .BalanceRenew {
        display: inline-block;
        bottom: 50%;
        right: 88%;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }
</style>
<PageTitle Title="التحويل من صنف لصنف" @ref="PageTitle" />
<table width="100%">
    <tr>
        <td width="20"> </td>

        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewConversionBill">إضافة جديد</button>
        </td>
        <td width="10"> </td>
    </tr>

    <tr>
        <td colspan="2"></td>
    </tr>
</table>
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
<table width="100%">
    <tr>
        <!--<td>
        <label> بحث بالصنف من</label><br />
        <div class="buttonInside">-->
        @*@onfocus="@(() => EraseText(itm))"*@
        <!--<input style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtsearch" type="text" tabindex="8" id="inputSearch" @bind="@CItemModelFrom.ItemNameFrom" @bind:event="oninput" @onchange="(()=> GetAllByItem())">
            <button type="button" class="erase" @onclick="@(()=>ReloadItemsList())">X</button>
            <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                <option selected>--اختار صنف--</option>
                @foreach (var Item in ItemList)
                {
                    <option value="@Item.Name">@Item.Code</option>
                }
            </datalist>
        </div>
    </td>-->
        <td>
            @*style="width: 100%;padding-right:400px;"padding-right: 20px;*@
            <label style="text-align:center;color:red;padding-left:50%;">المخزن</label><br />
            <select id="store" autocomplete="off" name="store" style="width: 47%; height: 50px; max-height: 60px; background-color: rgb(235, 235, 235)" class="form-control EditedSelect" @bind:event="oninput" @onchange="(()=> GetAllByStore())" @bind="BillModel.StoreId" TabIndex="2">
                <option value="0" selected>--اختار مخزن--</option>
                @if (StoreList != null)
                {
                    @foreach (var store in StoreList)
                    {
                        <option value="@store.ID">@store.Name</option>
                    }
                }
            </select>
        </td>
        <td align="left">
            @*<MatButton Icon="autorenew" Class="renew md-48" @onclick="@(async () => await BindList())">    </MatButton>*@
            @*<button class="btn" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>*@
            <button class="btn" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>

            @*<button class="btn btn-info" style="background-color: #6200ee" @onclick="@(async () => await TableRenew())">عرض </button>*@
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <MatTable Items="@BillList" AllowSelection="true" FilterByColumnName="ConversionRecordID" PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:" SearchTermFieldLabel="  بحث برقم محضر التحويل" SearchTermFieldPlaceHolder="رقم محضر التحويل" class="mat-elevation-z5">
                <MatTableHeader>
                    <th style="text-align: center;width:20%"><label style="text-align:center">رقم محضر التحويل</label></th>
                    <th style="text-align: center;width:0%"> <label style="text-align:center"> تاريخ</label></th>
                    <th style="text-align: center;width:25%"> <label style="text-align:center">المخزن</label></th>
                    <th style="text-align: center;width:30%"><label style="padding-right: 50px;"> عرض&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  تعديل &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  حذف&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; تأكيد&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مراجعه  </label></th>
                </MatTableHeader>
                <MatTableRow>
                    <td style="text-align:center">@context.ConversionRecordID</td>
                    <td style="text-align:center">@context.Date.Date.ToString("dd/MM/yyyy")</td>
                    <td style="text-align:center">@context.StoreName</td>
                    <td style="text-align: center;">
                        <MatButton Raised="true" @onclick="@(async () => await ViewOldConversionBill(context.ID))" Style="padding-right: 28px; padding-left: 0px;" Icon="عرض" title="عرض"></MatButton>
                        <MatButton Raised="true" @onclick="@(async () => await EditOldConversionBill(context.ID))" Icon="edit" title="تعديل"></MatButton>
                        <MatButton Raised="true" @onclick="@(() =>DeleteConversionBill(context.ConversionRecordID))" Icon="restore_from_trash" title="حذف"></MatButton>
                        <MatButton Raised="true" Icon="تأكيد" Style="padding-right: 20px; padding-left: 0px;" title="Auth"></MatButton>
                        <MatButton Raised="true" Icon="مراجعة" Style=" padding-right: 35px; padding-left: 0px;" title="Review"></MatButton>
                    </td>
                </MatTableRow>
            </MatTable>

        </td>
    </tr>
</table>