﻿@page "/ItemConversionEdit"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@layout MainLayoutWithoutMenu
@using Radzen.Blazor

<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ebebeb;
            width: 100%;
        }

    .renew {
        display: inline-block;
        /* width: 190%;*/
        bottom: 40%;
        right: 88%;
    }

    .ItemRenew {
        display: inline-block;
        bottom: 44%;
        right: 83%;
    }

    .BalanceRenew {
        display: inline-block;
        bottom: 50%;
        right: 88%;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
        width: 100%;
    }

    img {
        vertical-align: middle;
        border-style: outset;
        border-color: lightgrey;
    }
    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }

        .erase:hover {
            cursor: pointer;
        }
</style>
<PageTitle Title=" تعديل تحويل من صنف لصنف" />

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowImg == true)
{
    <MatDialog @bind-IsOpen="@ShowImg" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>عرض الصورة </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">
                <img src="@ItemImg" alt="صورة الصنف " style="width:100%;height:100%;" />
            </div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() =>  ShowImg = false">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@*<EditForm Model="@BillModel" OnValidSubmit="EditConversionBill">*@
<div class="row" style="overflow-y: auto; max-height: 610px; width: 100%;">
    <table class="table">
        <tbody>
            <tr class="data-contact-person">
                <td>
                    <label>رقم محضر التحويل</label>
                    <br />
                    <MatTextField @bind-Value="@BillModel.ConversionRecordID" TabIndex="1"></MatTextField>
                    <input @bind-value="@BillModel.Name" hidden="hidden" TabIndex="1" />
                </td>
                <td>
                    <label>التاريخ</label><br />
                    <MatDatePicker @bind-Value="@BillModel.Date" Format='dd/MM/yyyy' TabIndex="2"></MatDatePicker>
                </td>
            </tr>
            <tr class="data-contact-person">
                <td>
                    <label> الفرع</label><br />
                    <select title="الفرع" id="store" name="store" class="form-control EditedSelect" @bind:event="oninput" @onchange="(()=> GetSerialNumber())" @bind="BillModel.BranchId" autocomplete="off" TabIndex="3">
                        <option title="الفرع" value="0" selected>--اختار الفرع--</option>
                        @if (BranchList != null)
                        {
                            @foreach (var Branch in BranchList)
                            {
                                <option title="الفرع" value="@Branch.ID">@Branch.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    @*<RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@BillModel.StoreId TabIndex="6"
                                Placeholder="اختار مخزن" Data=@StoreList TextProperty="Name" ValueProperty="ID" Style=" width: 90%;height: 50px;">
                </RadzenDropDown>*@
                    <label>المخزن</label><br />
                    <select id="store" autocomplete="off" style="margin-right: 0px;" name="store" class="form-control EditedSelect" @bind="BillModel.StoreId" TabIndex="3">
                        <option value="0" selected>--اختار مخزن--</option>
                        @if (StoreList != null)
                        {
                            @foreach (var store in StoreList)
                            {
                                <option value="@store.ID">@store.Name</option>
                            }
                        }
                    </select>
                </td>

            </tr>
            <tr class="data-contact-person">
                <td>
                    @*<RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@BillModel.EmployeeId TabIndex="6"
                                Placeholder="اختار المسئول" Data=@EmployeeList TextProperty="Name" ValueProperty="ID" Style=" width: 90%;height: 50px;">
                </RadzenDropDown>*@
                    <label>المسئول</label><br />
                    <select id="store" name="store" autocomplete="off" class="form-control EditedSelect" @bind="BillModel.EmployeeId" TabIndex="4">
                        <option value="0" selected>--اختار المسئول--</option>
                        @if (EmployeeList != null)
                        {
                            @foreach (var emp in EmployeeList)
                            {
                                <option value="@emp.ID">@emp.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <label>سبب التحويل و وصف الواقعة</label><br />
                    <MatTextField Style="height: 120px;" @bind-Value="@BillModel.ConversionReason" TabIndex="5"></MatTextField>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2>تحويل من </h2> <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" @onclick="@AddNewFromRow">إضافة جديد</button>
                    <table class="table" id="maintable" style="margin-top: 1%;">
                        <thead>
                            <tr>
                                <th style="padding: .22rem;text-align: center;width: 6%;">مسلسل</th>
                                <th style="padding:.22rem;text-align: center;width: 15%;">كود الصنف </th>
                                <th style="padding:.22rem;text-align: center;width: 40%;">اسم الصنف </th>
                                <th style="padding:.22rem;text-align: center;width: 10%;">الكمية </th>
                                <th style="padding:.22rem;text-align: center;width: 12%;">السعر </th>
                                <th style="padding:.22rem;text-align: center;width: 12%;">الاجمالى </th>
                                <th style="padding:.22rem;text-align: center;">عرض </th>
                                <th style="padding:.22rem;text-align: center;">مسح </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in CItemListFrom)
                            {
                                <tr class="data-contact-person">
                                    <td>
                                        <input class="form-control" @bind="itm.IdentiferFrom" TabIndex="10" />
                                    </td>
                                    <td>
                                        <input class="form-control" @bind="itm.ParCodeFrom" @bind:event="oninput" @onblur="(()=> GetItemFromDataByCode(itm))" TabIndex="11" />
                                    </td>
                                    <td>
                                        <select title="نوع صنف" autocomplete="off" id="item" name="item" style="width: 90%; padding-right: 20px;" class="form-control EditedSelect" @bind:event="oninput" @onchange="(()=> GetItemFromData(itm))" @bind="itm.ItemIdFrom" TabIndex="12">
                                            <option title="@itm.ItemNameFrom" value="0">--اختار صنف--</option>
                                            @if (ItemList != null)
                                            {
                                                @foreach (var Item in ItemList)
                                                {
                                                    <option title="@Item.Name" value="@Item.ID">@Item.Name</option>
                                                }
                                            }
                                        </select>
                                        @*<RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@itm.ItemIdFrom TabIndex="6" Change=@(()=> GetItemFromData(itm))
                                                    Placeholder="اختار الصنف" Data=@ItemList TextProperty="Name" ValueProperty="ID" Style=" width: 90%;height: 50px;">
                                    </RadzenDropDown>*@
                                        @*<img src="/Images/Refresh.png"   @onclick="@(()=>ItemsRenew())" style="height: 15%; top: -35px; position: relative; float: left;" />*@
                                        <button class="btn" @onclick="@(()=>ItemsRenew())"><i class="fa fa-refresh" style="font-size:30px;color:red;top: -50px; position: relative; float: left; left: -15px;left: -400px"></i></button>
                                    </td>
                                    <td>
                                        <input class="form-control" @bind:event="oninput" @onblur="(()=> ChangeItemQuantityFrom())" @bind="itm.QuantityFrom" TabIndex="13" />
                                    </td>
                                    <td><input type="number" step=".01" class="form-control" @bind:event="oninput" @onblur="(()=> RecalculateTotalFrom())" @bind="itm.PriceFrom" TabIndex="14" /> </td>
                                    <td><input class="form-control" @bind="itm.TotalFrom" readonly /> </td>
                                    <td>
                                        <img src="/Images/ImageOpen.webp" alt="صورة الصنف" @onclick="() =>  ShowImg = true" style="height: 7%;" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-s btn-danger" @onclick="@(()=> {RemoveFromRow(itm); })">مسح</button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <h2>تحويل الى </h2> <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" @onclick="@AddNewToRow">إضافة جديد</button>
                    <table class="table" id="maintable" style="margin-top: 1%;">
                        <thead>
                            <tr>
                                <th style="padding: .22rem;text-align: center;width: 6%;">مسلسل</th>
                                <th style="padding:.22rem;text-align: center;width: 10%;">كود الصنف </th>
                                <th style="padding:.22rem;text-align: center;width: 45%;">اسم الصنف </th>
                                <th style="padding:.22rem;text-align: center;width: 10%;">الكمية </th>
                                <th style="padding:.22rem;text-align: center;width: 12%;">السعر </th>
                                <th style="padding:.22rem;text-align: center;width: 12%;">الاجمالى </th>
                                <th style="padding:.22rem;text-align: center;">عرض </th>
                                <th style="padding:.22rem;text-align: center;">مسح </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in CItemListTo)
                            {
                                <tr class="data-contact-person">
                                    <td>
                                        <input class="form-control" @bind="itm.IdentiferTo" TabIndex="10" />
                                    </td>
                                    <td>
                                        <input class="form-control" @bind="itm.ParCodeTo" @bind:event="oninput" @onblur="(()=> GetItemToDataByCode(itm))" TabIndex="11" />
                                    </td>
                                    <td>
                                        <select title="نوع صنف" autocomplete="off" id="item" name="item" style="width: 90%; padding-right: 20px;" class="form-control EditedSelect" @bind:event="oninput" @onchange="(()=> GetItemToData(itm))" @bind="itm.ItemIdTo" TabIndex="12">
                                            <option title="@itm.ItemNameTo" value="0">--اختار صنف--</option>
                                            @if (ItemList != null)
                                            {
                                                @foreach (var Item in ItemList)
                                                {
                                                    <option title="@Item.Name" value="@Item.ID">@Item.Name</option>
                                                }
                                            }
                                        </select>
                                        @*<RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@itm.ItemIdTo TabIndex="6" Change=@(()=> GetItemToData(itm))
                                                    Placeholder="اختار الصنف" Data=@ItemList TextProperty="Name" ValueProperty="ID" Style=" width: 90%;height: 50px;">
                                    </RadzenDropDown>*@
                                        @*<img src="/Images/Refresh.png"   @onclick="@(()=>ItemsRenew())" style="height: 15%; top: -35px; position: relative; float: left;" />*@
                                        <button class="btn" @onclick="@(()=>ItemsRenew())"><i class="fa fa-refresh" style="font-size:30px;color:red;top: -50px; position: relative; float: left; left: -15px;left: -450px"></i></button>
                                    </td>
                                    <td>
                                        <input class="form-control" @bind:event="oninput" @onblur="(()=> ChangeItemQuantityTo())" @bind="itm.QuantityTo" TabIndex="13" />
                                    </td>
                                    <td><input class="form-control" @bind:event="oninput" @onblur="(()=> RecalculateTotalTo())" @bind="itm.PriceTo" TabIndex="14" /> </td>
                                    <td><input class="form-control" @bind="itm.TotalTo" readonly /> </td>
                                    <td>
                                        <img src="/Images/ImageOpen.webp" alt="صورة الصنف" @onclick="() =>  ShowImg = true" style="height: 7%;" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-s btn-danger" @onclick="@(()=> {RemoveToRow(itm); })">مسح</button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </td>
            </tr>
            <tr>
                <td>
                    <button @onclick="EditConversionBill" class="btn btn-success justify-content-center" style="color: white; width: 50%; background-color: #6200ee; border-color: #6200ee;" TabIndex="18">حفظ</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@*</EditForm>*@