﻿@layout MainLayoutWithoutMenu
@page "/ClientPaymentEdit"
@inject NavigationManager nav
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject IJSRuntime jsRuntime
@using Radzen.Blazor

<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled {
        width: 300px;
    }



        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ebebeb;
            width:100%;
        }

    .renew {
        display: inline-block;
        /* width: 190%;*/
        bottom: 40%;
        right: 88%;
    }

    .ItemRenew {
        display: inline-block;
        bottom: 44%;
        right: 83%;
    }

    .BalanceRenew {
        display: inline-block;
        bottom: 50%;
        right: 88%;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-icon-button.mdc-ripple-upgraded {
        font-size: 1em;
    }
    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }

        .erase:hover {
            cursor: pointer;
        }
</style>

<PageTitle Title="تعديل دفعات العميل " @ref="PageTitle" />

<EditForm Model="@Client" OnValidSubmit="EditClientPayment">
    @*<DataAnnotationsValidator />*@
    <div class="row" style="overflow-y: auto;max-height: 610px;width: 100%;">

        <table class="table">
            <tbody>

                <tr class="data-contact-person">
                    <td>
                        <label>رقم المسلسل</label>
                        <br />
                        <MatTextField @bind-Value="@Client.SerialNumber" disabled="@IsDisabled" TabIndex="1"></MatTextField>
                    </td>
                    <td class="DateFormat">
                        <label>تاريخ</label><br />
                        <MatDatePicker @bind-Value="@Client.Date" disabled="@IsDisabled" Format='dd/MM/yyyy' TabIndex="2"></MatDatePicker>
                    </td>
                    <td class="DateFormat">
                        <label>رقم مسلسل الفاتورة</label><br />
                        <MatTextField @bind-Value="@Client.BillSerialNumber" disabled="@IsDisabled" TabIndex="3"></MatTextField>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <label>العميل</label><br />
                        <div class="buttonInside">
                            <input style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" disabled="@IsDisabled" list="txtsearch" type="text" tabindex="4" id="inputSearch" @bind="@clients.Name">
                            <button type="button" class="erase" @onclick="@(()=>ReloadClientsList())">X</button>
                            <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                                <option selected>--اختار العميل --</option>
                                @foreach (var client in ClientList)
                                {
                                    <option value="@client.Name">@client.Code</option>
                                }

                            </datalist>
                        </div>
                    </td>
                    <td>
                        <label>الخزينة</label><br />
                        <select title="الخزينة" id="supp" class="form-control EditedSelect" disabled @bind="@Client.TreasuryId" TabIndex="5">
                            <option title="الخزينة" value="0" selected>--اختار الخزينة --</option>
                            @if (TreasuryList != null)
                            {
                                @foreach (var Tres in TreasuryList)
                                {
                                    <option title="العملة" value="@Tres.ID">@Tres.Name</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        <label>العملة</label><br />
                        <select title="العملة" id="curr" class="form-control EditedSelect" @bind="@Client.CurrencyId" disabled="@IsDisabled" TabIndex="6">
                            <option title="العملة" value="0">--اختار العملة --</option>
                            @if (CurrencyList != null)
                            {
                                @foreach (var curr in CurrencyList)
                                {
                                    <option title="العملة" value="@curr.ID">@curr.Name</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <label>سعر الصرف</label><br />
                        <MatTextField OnFocusOut="() =>GetTotal()" @bind-Value="@Client.Ratio" disabled="@IsDisabled" TabIndex="7"></MatTextField>
                    </td>
                    <td>
                        <label> المبلغ</label><br />
                        <MatTextField OnFocusOut="() =>GetTotal()" @bind-Value="@Client.Amount" disabled="@IsDisabled" TabIndex="8"></MatTextField>
                    </td>
                    <td>
                        <MatCheckbox Label="شيك" @bind-Value="@Client.IsCheck" Style="padding-bottom: 0px; padding-top: 100px;" disabled="@IsDisabled" TabIndex="9"> </MatCheckbox>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    @if (Client.IsCheck)
                    {
                        <td>
                            <label> تاريخ الاستحقاق</label><br />
                            <MatDatePicker @bind-Value="@Client.DueDate" Format='dd/MM/yyyy' disabled="@IsDisabled" TabIndex="10"></MatDatePicker>
                        </td>
                    }
                </tr>
                <tr class="data-contact-person">
                    @if (Client.IsCheck)
                    {
                        <td>
                            <MatCheckbox Label="تم التحصيل" @bind-Value="@Client.IsCollected" disabled="@IsDisabled" Style="padding-bottom: 0px; padding-top: 70px;" TabIndex="11"> </MatCheckbox>
                        </td>
                        <td>
                            <label> تاريخ التحصيل</label><br />
                            <MatDatePicker @bind-Value="@Client.CollectionDate" disabled="@IsDisabled" Format='dd/MM/yyyy' TabIndex="12"></MatDatePicker>
                        </td>
                        <td>
                            <label> البنك </label><br />
                            <MatTextField @bind-Value="@Client.Bank" disabled="@IsDisabled" TabIndex="13"></MatTextField>
                        </td>
                    }
                </tr>
                <tr class="data-contact-person">
                    <td colspan="3">
                        <label>ملاحظات</label><br />
                        <MatTextField @bind-Value="@Client.Note" disabled="@IsDisabled" TabIndex="14"></MatTextField>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-success justify-content-center" style="color: white; width: 100px; background-color: #6200ee; border-color: #6200ee;" disabled="@IsDisabled" TabIndex="15">حفظ</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
</EditForm>

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (SelectClientChecker == true)
{
    <MatDialog @bind-IsOpen="@SelectClientChecker" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>!!!خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لم تختر العميل</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => SelectClientChecker = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}