﻿@page "/SupplierBalanceReport"
@using System.Net.Http
@inject HttpClient Http
@using Radzen.Blazor
@using MasProject.Domain.ViewModel.TransVM;
@using MatBlazor;
@layout MainLayoutWithoutMenu
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

    .EditedSelect {
        max-height: 60px;
        background-color: #ebebeb;
        /* padding-right: 60px; */
        display: block;
        height: 50px;
        /* margin-left: 70px; */
        width: 300px;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-icon-button.mdc-ripple-upgraded {
        font-size: 1em;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .ui-button.btn-primary, .btn-primary.ui-paginator-element {
        background-color: #5541ff;
    }
</style>

<PageTitle Title="تقرير كشف حساب المورد" @ref="PageTitle" />
<div class="row">
    <div class="col-md-4" style="width:500px;">
        <label>اسم المورد/ @SupplierBalance.SupplierName</label>
    </div>
    <div class="col-md-4" style="width:500px;">
        @if (SupplierBalance.DateForm != null && SupplierBalance.DateForm != DateTime.MinValue)
        {
            <label>التاريخ من/ @SupplierBalance.DateForm.Value.ToString("dd-MM-yyyy")</label>
        }

    </div>
    <div class="col-md-4" style="width:500px;">
        @if (SupplierBalance.DateTo != null && SupplierBalance.DateTo != DateTime.MinValue)
        {
            <label>التاريخ الى/ @SupplierBalance.DateTo.Value.ToString("dd-MM-yyyy")</label>
        }
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-12" style="width:500px;">
        @if (SupplierBalance.DateForm != null && SupplierBalance.DateForm != DateTime.MinValue)
        {
            <label>
                رصيد المورد فى يوم @SupplierBalance.DateForm.Value.ToString("dd-MM-yyyy") : @SupplierBalance.Balance
            </label>
        }
    </div>
</div>
<br />
<br />
<div class="row" style="overflow-y: auto;max-height: 660px;">
    <button Text="Pdf"  @onclick="GeneratePDF" class="btn btn-success justify-content-center" style="color: white;  background-color: #6200ee; border-color: #6200ee;" >Pdf</button>
    <button Text="Excel" @onclick="Export" class="btn btn-success justify-content-center" style="color: white;  background-color: #6200ee; border-color: #6200ee;" >Excel</button>
    <br /> <br />
    <RadzenGrid AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" RowDoubleClick="@((item)=>OpenBill(item))"
                Value="@transSupplier" PageSize="25" AllowSorting="true" ColumnWidth="150px" @ref="grid" Data="@TransSupplierList" TItem="TransSupplierVM">
        <Columns>
            <RadzenGridColumn TItem="TransSupplierVM" Visible="false" Property="SupplierTypeID" />
            <RadzenGridColumn TItem="TransSupplierVM" Property="ShowDate" Title="التاريخ" />
            <RadzenGridColumn TItem="TransSupplierVM" Property="DisplayName" Title="العملية" />
            <RadzenGridColumn TItem="TransSupplierVM" Property="SerialNumber" Title="رقم المستند" />
            <RadzenGridColumn TItem="TransSupplierVM" Property="Debit" Title="مدين" />
            <RadzenGridColumn TItem="TransSupplierVM" Property="Credit" Title="دائن" />
            <RadzenGridColumn TItem="TransSupplierVM" Property="Balance" Title="رصيد" />
        </Columns>
    </RadzenGrid>
</div>
