﻿@page "/SupplierBalance"
@using System.Net.Http
@inject HttpClient Http
@using Radzen.Blazor
@using MasProject.Domain.ViewModel.TransVM;
@using MatBlazor;
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

    .EditedSelect {
        max-height: 60px;
        background-color: #ebebeb;
        /* padding-right: 60px; */
        display: block;
        height: 50px;
        /* margin-left: 70px; */
        width: 300px;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-icon-button.mdc-ripple-upgraded {
        font-size: 1em;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .ui-button.btn-primary, .btn-primary.ui-paginator-element {
        background-color: #5541ff;
    }
</style>

<PageTitle Title="كشف حساب المورد" @ref="PageTitle" />
<EditForm Model="@SupplierBalance" OnValidSubmit="Report">
    <div class="row" style="width:100%;height: 200px;">
        <div class="col-md-4">
            <label>اسم المورد</label><br />
            <select title="المورد" id="emp" style="margin-left: 85px;height: 90px;" class="form-control EditedSelect" @bind="SupplierBalance.SupplierId" autoComplete="on" TabIndex="1">
                <option title="المورد" value="0" selected>-- اختار المورد--</option>
                @if (SupplierList != null)
                {
                    @foreach (var Supplier in SupplierList)
                    {
                        <option title="المورد" value="@Supplier.ID">@Supplier.Name</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-4 DateFormat">
            <label style="padding-right: 10px;"> التاريخ من </label><br />
            <MatDatePicker @bind-Value="@SupplierBalance.DateForm" style="margin-right: 10px;" TabIndex="2" Format='dd/MM/yyyy'></MatDatePicker>
        </div>
        <div class="col-md-4 DateFormat">
            <label style="padding-right: 10px;">التاريخ إلى </label><br />
            <MatDatePicker @bind-Value="@SupplierBalance.DateTo" style="margin-right: 10px;" TabIndex="3" Format='dd/MM/yyyy'></MatDatePicker>
        </div>
        <div class="col-md-6">
            <button @onclick="Report" class="btn btn-success justify-content-center" style="color: white;  background-color: #6200ee; border-color: #6200ee;" TabIndex="4">عرض</button>
            <button @onclick="UpdateSupplierBalance" class="btn btn-success justify-content-center" style="color: white;   background-color: #6200ee; border-color: #6200ee;" TabIndex="4">إعادة حساب الكشف</button>
        </div>
    </div>
</EditForm>

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowCheckSupplier == true)
{
    <MatDialog @bind-IsOpen="@ShowCheckSupplier" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">عليك اختيار المورد اولا!!!</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => ShowCheckSupplier = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}