﻿@page "/StoreByAllItemReport"
@using System.Net.Http
@inject HttpClient Http
@using Radzen.Blazor
@using MasProject.Domain.ViewModel.TransVM;
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@using MatBlazor;

<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

    .EditedSelect {
        max-height: 60px;
        background-color: #ebebeb;
        /* padding-right: 60px; */
        display: block;
        height: 50px;
        /* margin-left: 70px; */
        width: 300px;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-icon-button.mdc-ripple-upgraded {
        font-size: 1em;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .ui-button.btn-primary, .btn-primary.ui-paginator-element {
        background-color: #5541ff;
    }
</style>

<PageTitle Title=" رصيد المخزن من الصنف" @ref="PageTitle" />
<div class="row" style="width:100%;">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <label> التاريخ من </label><br />
                    <MatDatePicker @bind-Value="@ItemBalance.DateForm" TabIndex="1" Format='dd/MM/yyyy'></MatDatePicker>
                </td>
                <td>
                    <label>التاريخ إلى </label><br />
                    <MatDatePicker @bind-Value="@ItemBalance.DateTo" TabIndex="2" Format='dd/MM/yyyy'></MatDatePicker>
                </td>
               
            </tr>
            <tr class="data-contact-person">
                <td>
                    <label>المخزن</label><br />
                    <select title="المخزن" id="store" name="store" class="form-control EditedSelect" @bind="ItemBalance.StoreId" TabIndex="5">
                        <option title="المخزن" value="0" selected>--اختار المخزن--</option>
                        @if (StoreList != null)
                        {
                            @foreach (var store in StoreList)
                            {
                                <option title="المخزن" value="@store.ID">@store.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <label>المجموعة</label><br />
                    <select title="المجموعة" id="store" name="store" class="form-control EditedSelect" @bind="ItemBalance.ItemCollectionId" TabIndex="5">
                        <option title="المجموعة" value="0" selected>--اختار المجموعة--</option>
                        @if (ItemCollectionList != null)
                        {
                            @foreach (var store in ItemCollectionList)
                            {
                                <option title="المجموعة" value="@store.ID">@store.Name</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <button @onclick="Report" class="btn btn-success justify-content-center" style="color: white;   background-color: #6200ee; border-color: #6200ee;" TabIndex="4">عرض</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@*@if (ShowCheckItem == true)
{
    <MatDialog @bind-IsOpen="@ShowCheckItem" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">عليك اختيار الصنف اولا!!!</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => ShowCheckItem = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}*@
@if (ShowReport == true)
{
    <div class="row">
        <div class="col-md-4" style="width:500px;">
            <label>اسم المجموعة/ @ItemBalance.ItemCollectionName</label>
        </div>
        <div class="col-md-4" style="width:500px;">
            @if (ItemBalance.DateForm != null && ItemBalance.DateForm != DateTime.MinValue)
            {
                <label>
                    التاريخ من/ @ItemBalance.DateForm.Value.ToString("dd-MM-yyyy")
                </label>
            }
        </div>
        <div class="col-md-4" style="width:500px;">
            @if (ItemBalance.DateTo != null && ItemBalance.DateTo != DateTime.MinValue)
            {
                <label>
                    التاريخ الى/ @ItemBalance.DateTo.Value.ToString("dd-MM-yyyy")
                </label>
            }
        </div>
    </div>
    <br />
    <br />

    <div class="row" style="overflow-y: auto;max-height: 660px;">
        <RadzenButton Text="Pdf" Icon="grid_on" Click="@(args => GeneratePDF())" Style="margin-left: 10px;" />
        <RadzenButton Text="Excel" Icon="grid_on" Click="@(args => Export())" Style="margin-left: 10px;" />
        <br /> <br />
        <RadzenGrid AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" RowDoubleClick="@((item) => OpenBill(item))"
                    Value="@transItem" PageSize="10" AllowSorting="true" ColumnWidth="150px" @ref="grid" Data="@TransItemList" TItem="StoreReportVM">
            <Columns>
                <RadzenGridColumn TItem="StoreReportVM" Property="StoreName" Title="اسم المخزن" />
                <RadzenGridColumn TItem="StoreReportVM" Property="ItemCode" Title="كود الصنف" />
                <RadzenGridColumn TItem="StoreReportVM" Property="ItemName" Title="الصنف" />
                <RadzenGridColumn TItem="StoreReportVM" Property="Quantity" Title="الرصيد" />
            </Columns>
        </RadzenGrid>
    </div>
}