﻿@page "/ItemType"
@using System.Net.Http
@inject HttpClient Http
@*@using Radzen.Blazor*@
@using MatBlazor


<style>
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }



    .typeTH {
        width: 10%;
    }

    .actionsTH {
        width: 80%;
    }
</style>
<PageTitle Title=" أنواع المنتجات" @ref="PageTitle" />

<table width="100%" style="color:honeydew">
    <tr>
        <td width="20"> </td>

        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewItemType">إضافة نوع </button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />
@if (showAddrow == true)
{
    <EditForm Model="@Type" OnValidSubmit="AddItemType">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-md-12">
                <MatTextField Label="النوع" @bind-Value="@Type.Name" @onfocusout="() => CheckName()" TabIndex="1"></MatTextField>
                <ValidationMessage For="@(() =>Type.Name)" />
                <label class="text-danger">@ValidateMessageName</label>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <MatTextField Label="الترتيب" @bind-Value="@Type.arrangement" TabIndex="2"></MatTextField>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row" style="float:left">
            <div class="col-md-12">
                <MatButton Type="submit" style="width:220px;margin-right:30px;background-color: #6200ee;border-color: #6200ee;color:white"> حفظ</MatButton>
                <MatButton OnClick="@Cancel" style="width:220px;margin-right:30px;background-color: #6200ee;border-color:#6200ee;color:white"> الغاء</MatButton>
            </div>
        </div>
    </EditForm>
}
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (showEditrow == true)
{
    <EditForm Model="@Type" OnValidSubmit="EditItemType">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-md-12">
                <MatTextField Label="النوع" @bind-Value="@Type.Name" @onfocusout="() => CheckName()" TabIndex="1"></MatTextField>
                <ValidationMessage For="@(() =>Type.Name)" />
                <label class="text-danger">@ValidateMessageName</label>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <MatTextField Label="الترتيب" @bind-Value="@Type.arrangement" TabIndex="2"></MatTextField>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row" style="float:left">
            <div class="col-md-12">
                <MatButton Type="submit" Disabled="@IsDisabled" style="width:220px;margin-right:30px;background-color: #6200ee;border-color: #6200ee;color:white"> حفظ</MatButton>
                <MatButton OnClick="@Cancel" style="width:220px;margin-right:30px;background-color: #6200ee;border-color:#6200ee;color:white"> الغاء</MatButton>
            </div>
        </div>
    </EditForm>
}
<button class="btn" style="float:left" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>

<div class="row" style="overflow-y: auto;max-height: 440px;">
    <hr />
    <MatTable Items="@ItemTypeList" AllowSelection="true" FilterByColumnName="Name" PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:" SearchTermFieldLabel="بحث" SearchTermFieldPlaceHolder="الاسم" class="mat-elevation-z5">
        <MatTableHeader>
            <th class="typeTH" style="text-align: center;width:10%">الترتيب</th>
            <th class="typeTH" style="text-align: center;width:70%">اسم النوع</th>
            <th style="text-align: center;width:20%" class="actionsTH">تعديل / حذف   </th>
        </MatTableHeader>
        <MatTableRow>
            <td style="text-align: center;width:10%">@context.arrangement</td>
            <td style="text-align: center;width:70%">@context.Name</td>
            <td style="text-align: center;width:20%">
                <MatButton Raised="true" @onclick="@(async () => await EditOldItemType(context.ID))" Icon="edit" title="تعديل النوع"></MatButton>
                <MatButton Raised="true" @onclick="@(() =>DeleteItemType(context.ID))" Icon="restore_from_trash" title="مسح النوع"></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
</div>