﻿@page "/ExecutionWithDrawalsEdit"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@layout MainLayoutWithoutMenu

<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ebebeb;
            width: 100%;
        }

    .renew {
        display: inline-block;
        /* width: 190%;*/
        bottom: 40%;
        right: 88%;
    }

    .ItemRenew {
        display: inline-block;
        bottom: 44%;
        right: 83%;
    }

    .BalanceRenew {
        display: inline-block;
        bottom: 50%;
        right: 88%;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }
 
    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }


        .erase:hover {
            cursor: pointer;
        }
</style>

<PageTitle Title="تعديل مسحوبات التنفيذ" @ref="PageTitle" />

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@*<EditForm Model="@ExecutionModel" OnValidSubmit="EditExecutionBill">
    <DataAnnotationsValidator />*@
<div class="row" style="overflow-y: auto;max-height: 610px;">
    <table class="table">
        <tbody>
            <tr class="data-contact-person">
                <td>
                    <label>رقم المسلسل</label><br />
                    <MatTextField @bind-Value="@ExecutionModel.SerialNumber" disabled="@IsDisabled" TabIndex="1"></MatTextField>
                </td>
                <td>
                    <label>التاريخ</label><br />
                    <MatDatePicker @bind-Value="@ExecutionModel.Date" disabled="@IsDisabled" TabIndex="2"></MatDatePicker>
                </td>
                <td>
                    <label> الفرع</label><br />
                    @*@bind:event="oninput" @onchange="(()=> GetSerialNumber())"*@
                    <select id="emp" class="form-control EditedSelect" disabled style="width:90%" @bind="ExecutionModel.BranchId" autoComplete="on" TabIndex="4">
                        <option value="0" selected>-- اختار الفرع--</option>
                        @if (BranchList != null)
                        {
                            @foreach (var branch in BranchList)
                            {
                                <option value="@branch.ID">@branch.Name</option>
                            }
                        }
                    </select>
                    @*<img src="/Images/Refresh.png" @onclick="@(()=>BranchesRenew())" disabled="@IsDisabled" style="height: 40px; float: left; top: -42px;left: -10px; position: relative; " />*@
                    <button class="btn" @onclick="@(()=>BranchesRenew())">
                        <i class="fa fa-refresh" style="        font-size: 30px;
        color: red;
        height: 40px;
        float: left;
        top: -42px;
        position: relative;
        left: -330px
"></i>
                    </button>
                </td>
            </tr>
            <tr class="data-contact-person">
              
                <td>
                    <label>نوع التعامل</label><br />
                    <select id="cit" title="نوع التعامل" disabled="@IsDisabled" class="form-control EditedSelect" @bind="@ExecutionModel.DealTypeId" @bind:event="oninput" @onchange="(()=> ChangeDealType())" TabIndex="5">
                        <option title="نوع التعامل" value="0" selected>--اختار نوع التعامل --</option>
                        @if (DealTypeList != null)
                        {
                            @foreach (var DealType in DealTypeList)
                            {
                                <option title="نوع التعامل" value="@DealType.ID">@DealType.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <label> نوع الفاتورة</label><br />
                    <select id="typeid" name="typeid" disabled="@IsDisabled" class="form-control EditedSelect" @bind="@FlagTypeID" @bind:event="oninput" @onchange="(()=> TaxPart())" TabIndex="8">
                        <option value="0" selected>ايصال استلام</option>
                        <option value="1">فاتورة ضريبية</option>
                    </select>

                </td>
                <td>
                    <label>التحويل</label><br />
                    <select id="convert" class="form-control EditedSelect" disabled="@IsDisabled" @bind="@ExecutionModel.convert" style=" background-color: #8c53b0; color: white;" TabIndex="8">
                        <option value="0">--التحويل--</option>
                        <option value="1"> سند صرف مخزن </option>
                    </select>
                </td>
            </tr>
         
            <tr>
                <td colspan="3" style="border:solid">
                    <button type="button" id="btnAdd" disabled="@IsDisabled" class="btn btn-xs btn-primary classAdd" @onclick="@AddNewStore">إضافة مخزن</button>
                    @foreach (var BillStores in BillStoresList)
                    {
                        <table >
                            <tr>
                                <td style="width:10%;">
                                    <label> مسلسل</label><br />
                                    <input class="form-control" disabled="@IsDisabled" @bind="BillStores.Identifer" TabIndex="10" />
                                </td>
                                <td style="width:20%;">
                                    <label>المخزن</label><br />
                                    <select title="المخزن" id="store" disabled="@IsDisabled" name="store" class="form-control EditedSelect" @bind="BillStores.StoreId" TabIndex="3">
                                        <option title="المخزن" value="0" selected>--اختار مخزن--</option>
                                        @if (StoreList != null)
                                        {
                                            @foreach (var store in StoreList)
                                            {
                                                <option title="المخزن" value="@store.ID">@store.Name</option>
                                            }
                                        }
                                    </select>
                                    @*<RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@BillStores.StoreId
                                                        Data=@StoreList TextProperty="Name" ValueProperty="ID" Style=" width: 100%;height: 50px;">
                                        </RadzenDropDown>*@
                                </td>
                                <td style="width:30%;">
                                    @if (BillStores.Identifer > 1)
                                    {
                                        <br /><br />
                                        <button type="button" disabled="@IsDisabled" class="btn btn-s btn-danger" style="float:left;" @onclick="@(() => { RemoveNewStore(BillStores); })">مسح المخزن</button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table>
                                        <tr>
                                            <td colspan="3">
                                                <button type="button" disabled="@IsDisabled" id="btnAdd" class="btn btn-xs btn-primary classAdd" @onclick="@(()=> AddNewRow(BillStores.Identifer))">إضافة جديد</button>
                                                <table class="table" id="maintable"  style="margin-top: 1%;width: 1200px;">
                                                    <thead>
                                                        <tr>
                                                            <th style="padding: .22rem;text-align: center;width: 6%;">مسلسل</th>
                                                            <th style="padding:.22rem;text-align: center;width: 15%;">كود الصنف </th>
                                                            <th style="padding:.22rem;text-align: center;width: 40%;">اسم الصنف </th>
                                                            <th style="padding:.22rem;text-align: center;width: 10%;">الكمية </th>
                                                            <th style="padding:.22rem;text-align: center;width: 12%;">السعر </th>
                                                            <th style="padding:.22rem;text-align: center;width: 12%;">الاجمالى </th>
                                                            <th style="padding:.22rem;text-align: center;">عرض </th>
                                                            <th style="padding:.22rem;text-align: center;">مسح </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var itm in BillStores.ExItem)
                                                        {
                                                            <tr class="data-contact-person">
                                                                <td>
                                                                    <input class="form-control" disabled="@IsDisabled" @bind="itm.Identifer" TabIndex="9" />
                                                                </td>
                                                                <td>
                                                                    <input class="form-control" disabled="@IsDisabled" @bind="itm.Box_ParCode" @bind:event="oninput" @onblur="(()=> GetItemDataByCode(itm))" TabIndex="10" />
                                                                </td>
                                                                <td>

                                                                    <div class="buttonInside">

                                                                        <input disabled="@IsDisabled" style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtsearch" type="text" tabindex="11" id="inputSearch" @bind="@itm.ItemName" @bind:event="oninput" @onchange="(()=> GetItemData(itm))">
                                                                        <button type="button" class="erase" @onclick="@(()=>ReloadItemsList(itm))">X</button>
                                                                        <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                                                                            <option selected>--اختار صنف--</option>
                                                                            @foreach (var Item in ItemList)
                                                                            {
                                                                                <option value="@Item.Name">@Item.Code</option>
                                                                            }

                                                                        </datalist>
                                                                    </div>
                                                                    @*<img src="/Images/Refresh.png" disabled="@IsDisabled" @onclick="@(()=>ItemsRenew(itm))" style=" top: -60px; position: relative; float: left; left: -10px;" />*@
                                                                    <button class="btn" @onclick="@(()=>ItemsRenew(itm))"><i class="fa fa-refresh" style="font-size:30px;color:red;top: -60px; position: relative; float: left; left: -15px;left: -380px"></i></button>
                                                                </td>
                                                                <td>
                                                                    <input class="form-control" disabled="@IsDisabled" @bind:event="oninput" @onblur="(()=> ChangeItemQuantity((int)BillStores.Identifer))" @bind="itm.Quantity" TabIndex="12" />
                                                                </td>
                                                                <td><input type="number" step=".01"  class="form-control" disabled="@IsDisabled" @bind:event="oninput" @onblur="(()=> RecalculateTotal())" @bind="itm.Price" TabIndex="13" /> </td>
                                                                <td><input class="form-control" @bind="itm.Total" readonly TabIndex="14" /> </td>
                                                                <td>
                                                                    <img src="/Images/ImageOpen.webp" alt="صورة الصنف" @onclick="(() => ShowImage(itm))" style="height: 7%;" />
                                                                </td>
                                                                <td>
                                                                    <button type="button" class="btn btn-s btn-danger" disabled="@IsDisabled" @onclick="@(() => { RemoveRow(itm,BillStores.Identifer); })">مسح</button>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>

                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <label>اجمالى السعر</label><br />
                    <input class="form-control" disabled="@IsDisabled" @bind="@ExecutionModel.TotalPrice" readonly />
                </td>
                <td>
                    <label>%خصم </label><br />
                    <MatTextField OnFocusOut="() =>RecalculateTotal()" disabled="@IsDisabled" @bind-Value="@ExecutionModel.DiscountPrecentage" TabIndex="19"></MatTextField>
                </td>
                <td>
                    <label> خصم المبلغ</label><br />
                    <MatTextField OnFocusOut="() =>RecalculateTotal()" disabled="@IsDisabled" @bind-Value="@ExecutionModel.DiscountValue" TabIndex="20"></MatTextField>
                </td>
            </tr>
            <tr>
                <td>
                    <label> الاجمالى بعد الخصم</label><br />
                    <input class="form-control" @bind="@ExecutionModel.TotalAfterDiscount" disabled="@IsDisabled" title="@TotalInWords" readonly />
                </td>
            </tr>
            <tr>
                @if (ShowTaxPart)
                {
                    <td>
                        <label style="float: right;padding-right: 15%;">%</label>
                        <label style="float: right;padding-right: 27%;margin-bottom: 27px;">ضريبة خصم المنبع</label><br />
                        <input style="width: 30%;float: right;" class="form-control" disabled="@IsDisabled" @bind="ExecutionModel.SourceDeduction" @bind:event="oninput" @onchange="(() => RecalculateTotal())" tabindex="19" />
                        <input style="width: 70%;" class="form-control" disabled="@IsDisabled" @bind="ExecutionModel.SourceDeductionAmount" />
                    </td>
                    <td>
                        <label style="float: right;padding-right: 15%;">%</label>
                        <label style="float: right;padding-right: 27%;margin-bottom: 27px;">ضريبة القيمة المضافة</label><br />
                        <input style="width: 30%;float: right;" class="form-control" disabled="@IsDisabled" @bind="ExecutionModel.AddtionTax" @bind:event="oninput" @onchange="(() => RecalculateTotal())" tabindex="20" />
                        <input style="width: 70%;" class="form-control" disabled="@IsDisabled" @bind="ExecutionModel.AddtionTaxAmount" />
                    </td>
                    <td>
                        <label>الاجمالى بعد الضريبة</label><br />
                        <input class="form-control" @bind="@ExecutionModel.TotalAfterTax" disabled="@IsDisabled" title="@TotalInWordsTax" readonly />
                    </td>

                }
            </tr>
            <tr>
                <td colspan="3">
                    <label>ملاحظات</label><br />
                    <MatTextField @bind-Value="@ExecutionModel.Note" disabled="@IsDisabled" TabIndex="21"></MatTextField>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <MatCheckbox @bind-Value="@ExecutionModel.ShowNotesFlag" disabled="@IsDisabled" Label="إظهار الملاحظات فى الطباعة" TabIndex="22"></MatCheckbox>
                </td>
            </tr>
            <tr>
                <td>
                    <button @onclick="EditExecutionBill" disabled="@IsDisabled" class="btn btn-success justify-content-center" style="color: white; width: 50%; background-color: #6200ee; border-color: #6200ee;" TabIndex="23">حفظ</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

@*</EditForm>*@
@if (SelectDealTypeChecker == true)
{
    <MatDialog @bind-IsOpen="@SelectDealTypeChecker" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>!!!خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لم تختر نوع التعامل</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => SelectDealTypeChecker = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}