﻿@page "/ItemBalanceReport"
@using System.Net.Http
@inject HttpClient Http
@using Radzen.Blazor
@using MasProject.Domain.ViewModel.TransVM;
@layout MainLayoutWithoutMenu
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

    .EditedSelect {
        max-height: 60px;
        background-color: #ebebeb;
        /* padding-right: 60px; */
        display: block;
        height: 50px;
        /* margin-left: 70px; */
        width: 300px;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-icon-button.mdc-ripple-upgraded {
        font-size: 1em;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .ui-button.btn-primary, .btn-primary.ui-paginator-element {
        background-color: #5541ff;
    }
</style>

<PageTitle Title=" تقرير كشف حساب الصنف " @ref="PageTitle" />
<div class="row">
    <div class="col-md-4" style="width:500px;">
        <label>اسم الصنف/ @ItemBalance.ItemName</label>
        <label>اسم المخزن/ @ItemBalance.StoreName</label>
    </div>
    <div class="col-md-4" style="width:500px;">

        @if (ItemBalance.DateForm != null && ItemBalance.DateForm != DateTime.MinValue)
        {
            <label>
                التاريخ من/ @ItemBalance.DateForm.Value.ToString("dd-MM-yyyy")
            </label>
        }

    </div>
    <div class="col-md-4" style="width:500px;">

        @if (ItemBalance.DateTo != null && ItemBalance.DateTo != DateTime.MinValue)
        {
            <label>
                التاريخ الى/ @ItemBalance.DateTo.Value.ToString("dd-MM-yyyy")
            </label>
        }
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-12" style="width:500px;">
        @if (ItemBalance.DateForm != null && ItemBalance.DateForm != DateTime.MinValue)
        {
            <label>
                رصيد الصنف فى يوم @ItemBalance.DateForm.Value.ToString("dd-MM-yyyy") : @ItemBalance.Balance
            </label>
        }
    </div>
</div>
<br />
<br />
<div class="row" style="overflow-y: auto;max-height: 660px;">
    <RadzenButton Text="Pdf" Icon="grid_on" Click="@(args => GeneratePDF())" Style="margin-left: 10px;" />
    <RadzenButton Text="Excel" Icon="grid_on" Click="@(args => Export())" Style="margin-left: 10px;" />
    <br /> <br />
    <RadzenGrid AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" RowDoubleClick="@((item)=>OpenBill(item))"
                Value="@transItem" PageSize="25" AllowSorting="true" ColumnWidth="150px" @ref="grid" Data="@TransItemList" TItem="TransItemVM">
        <Columns>
            <RadzenGridColumn TItem="TransItemVM" Visible="false" Property="ItemTypeID" />
            <RadzenGridColumn TItem="TransItemVM" Property="ShowDate" Title="التاريخ" />
            <RadzenGridColumn TItem="TransItemVM" Property="PersonName" Title="اسم الشخص" />
            <RadzenGridColumn TItem="TransItemVM" Property="DisplayName" Title="البيان" />
            <RadzenGridColumn TItem="TransItemVM" Property="SerialNumber" Title="رقم المستند" />
            @*<RadzenGridColumn TItem="TransItemVM" Property="Addition" Title="وارد" />
        <RadzenGridColumn TItem="TransItemVM" Property="Subtraction" Title="منصرف" />
        <RadzenGridColumn TItem="TransItemVM" Property="Balance" Title="رصيد" />*@
            <RadzenGridColumn TItem="TransItemVM" Property="Addition" Title="وارد">
                <FooterTemplate>
                    <b>@(TransItemList.Count()>0 ? TransItemList.Sum(x=>x.Addition).ToString() : "0")</b>
                </FooterTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TransItemVM" Property="Subtraction" Title="منصرف">
                <FooterTemplate>
                    <b>@(TransItemList.Count()>0 ? TransItemList.Sum(x=>x.Subtraction).ToString() : "0")</b>
                </FooterTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TransItemVM" Property="Balance" Title="رصيد">
                <FooterTemplate>
                    <b>@(TransItemList.Count()>0 ? TransItemList.Sum(x=>x.Balance).ToString() : "0")</b>
                </FooterTemplate>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
</div>
