﻿@page "/ItemBalance"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor;
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

    .EditedSelect {
        max-height: 60px;
        background-color: #ebebeb;
        /* padding-right: 60px; */
        display: block;
        height: 50px;
        /* margin-left: 70px; */
        width: 300px;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
        width: 90%;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-icon-button.mdc-ripple-upgraded {
        font-size: 1em;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .ui-button.btn-primary, .btn-primary.ui-paginator-element {
        background-color: #5541ff;
    }

    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }

        .erase:hover {
            cursor: pointer;
        }
</style>

<PageTitle Title="كشف حساب الصنف" @ref="PageTitle" />
@*<EditForm Model="@ItemBalance" OnValidSubmit="Report">*@
<div class="row" style="width:100%;height: 200px;">
    <table class="table">
        <tbody>

            <tr class="data-contact-person">
                <td>

                    <label>المخزن</label><br />
                    <select title="المخزن" id="store" name="store" style="width: 90%;" class="form-control EditedSelect" @bind="ItemBalance.StoreId" TabIndex="10">
                        <option title="المخزن" value="0" selected>--اختار مخزن--</option>
                        @if (StoreList != null)
                        {
                            @foreach (var store in StoreList)
                            {
                                <option title="المخزن" value="@store.ID">@store.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>

                    <label>اسم الصنف</label><br />
                    <div class="buttonInside">
                        @*@onfocus="@(() => EraseText())"*@
                        <input style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtsearch" type="text" tabindex="6" id="inputSearch" @bind="@Items.Name">
                        <button type="button" class="erase" @onclick="@(()=>ReloadItemsList())">X</button>
                        <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                            <option selected>--اختار الصنف --</option>
                            @foreach (var Item in ItemList)
                            {
                                <option value="@Item.Name">@Item.National_ParCode</option>
                            }

                        </datalist>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label> التاريخ من </label><br />
                    <MatDatePicker @bind-Value="@ItemBalance.DateForm" TabIndex="2" Format='dd/MM/yyyy'></MatDatePicker>
                </td>
                <td>
                    <label>التاريخ إلى </label><br />
                    <MatDatePicker @bind-Value="@ItemBalance.DateTo" TabIndex="3" Format='dd/MM/yyyy'></MatDatePicker>
                </td>
            </tr>
            <tr>
                <td>
                    <button @onclick="Report" class="btn btn-success justify-content-center" style="color: white;   background-color: #6200ee; border-color: #6200ee;" TabIndex="4">عرض</button>
                    <button @onclick="UpdateItemBalance" class="btn btn-success justify-content-center" style="color: white;   background-color: #6200ee; border-color: #6200ee;" TabIndex="4">إعادة حساب الكشف</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>
@*</EditForm>*@
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowCheckItem == true)
{
    <MatDialog @bind-IsOpen="@ShowCheckItem" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">عليك اختيار الصنف اولا!!!</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => ShowCheckItem = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowCheckStore == true)
{
    <MatDialog @bind-IsOpen="@ShowCheckStore" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">عليك اختيار المخزن اولا!!!</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => ShowCheckStore = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}