﻿@page "/PurchaseBill"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime


<style>
    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }

        .erase:hover {
            cursor: pointer;
        }
    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

    .EditedSelect {
        max-height: 60px;
        background-color: #ebebeb;
        /* padding-right: 60px; */
        display: block;
        height: 50px;
        /* margin-left: 70px; */
        width: 300px;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }

    .renew {
        display: inline-block;
        /* width: 190%;*/
        bottom: 40%;
        right: 88%;
    }

    .ItemRenew {
        display: inline-block;
        bottom: 44%;
        right: 83%;
    }

    .BalanceRenew {
        display: inline-block;
        bottom: 50%;
        right: 88%;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }
    label {
        text-align:justify;
    }
</style>
<PageTitle Title="فاتورة مشتريات" @ref="PageTitle" />

<table width="100%">
    <tr>
        <td width="20"> </td>

        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewPurchaseBill">إضافة جديد</button>
        </td>
        <td width="10"> </td>
    </tr>

    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
<table width="100%">
    <tr>
        <td style="width: 50%;padding-right:150px;">
            <label style="width: 70%;color:red;text-align:center">بحث بالمورد</label> <br />
            <div class="buttonInside">
                <input style="width: 70%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtClientsearch" @bind:event="oninput" @onchange="(()=> GetAllBySupplier())" autocomplete="off" type="text" tabindex="1" id="inputSearch" @bind="@supplier.Name">
                <button type="button" class="erase" @onclick="@(()=>ReloadSuppliersList())">X</button>
                <datalist style="width: 90%; padding-right: 20px;" id="txtClientsearch">
                    <option title="مورد" selected value="0">--اختار مورد --</option>

                    @foreach (var sup in SupplierList)
                    {
                        <option value="@sup.Name">@sup.Code</option>
                    }

                </datalist>
            </div>
        </td>

        <td  style="padding-right:30px;">
            <label style="color:red;text-align:center">بحث بالفرع</label> <br />
            <select title="الفرع" id="emp" style="width: 90%;height: 50px;max-height: 60px;background-color: rgb(235, 235, 235)" class="form-control EditedSelect" @bind:event="oninput" @onchange="(()=> GetAllByBranch())" @bind="PurchasesModel.BranchId" autocomplete="off" TabIndex="2">
                <option title="الفرع" value="0" selected></option>
                @if (BranchList != null)
                {
                    @foreach (var Branch in BranchList)
                    {
                        <option title="الفرع" value="@Branch.ID">@Branch.Name</option>

                    }
                }
            </select>
        </td>
        @*<td>
                <label>بحث بالتاريخ</label><br />
                <MatDatePicker @bind-Value="@SalesModel.Date" @onchange="()=> GetAllByDate()" Format='dd/MM/yyyy' TabIndex="3"></MatDatePicker>
            </td>*@
    <td align="left">
        @*<MatButton Icon="autorenew" Class="renew md-48" @onclick="@(async () => await BindList())">    </MatButton>*@
        <button class="btn" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>

        @*<button class="btn btn-info" style="background-color: #6200ee" @onclick="@(async () => await TableRenew())">عرض </button>*@
    </td>
    </tr>

    <tr>
        <td colspan="3">
        </td>
    </tr>
</table>
<div class="row" style="overflow-y: auto;max-height: 440px;">
  
    <MatTable Items="@PurchaseList" AllowSelection="true" PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:"  class="mat-elevation-z5">
        <MatTableHeader>
            <th style="text-align: center;width:12%"><label style="text-align: center;"> مسلسل</label></th>
            <th style="text-align: center;width:0%"> <label style="text-align: center;"> تاريخ</label></th>
            <th style="text-align: center;width:25%"> <label style="text-align: center;"> اسم المورد</label></th>
            <th style="text-align: center;width:10%"> <label style="text-align: center;"> الإجمالى</label></th>
            <th style="text-align: center;width:30%"><label style="padding-right: 50px;"> عرض&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  تعديل &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  حذف&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; تأكيد&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مراجعه  </label></th>

        </MatTableHeader>
        <MatTableRow>
            <td style="text-align: center;">@context.SerialNumber</td>
            <td style="text-align: center;">@context.Date.ToString("dd/MM/yyyy")</td>
            <td style="text-align: center;">@context.Supplier.Name</td>
            <td style="text-align: center;">@context.TotalAfterTax</td>
            <td style="padding:0;">
                <MatButton Raised="true" @onclick="@(async () => await ViewOldPurchaseBill(context.ID))" Style="padding-right: 28px; padding-left: 0px;" Icon="عرض" title="عرض"></MatButton>
                <MatButton Raised="true" @onclick="@(async () => await EditOldPurchaseBill(context.ID))" Icon="edit" title="تعديل"></MatButton>
                <MatButton Raised="true" @onclick="@(() =>DeletePurchaseBill(context.ID,context.SerialNumber.Value,context.SupplierId))" Icon="restore_from_trash" title="حذف"></MatButton>
                <MatButton Raised="true" Icon="تأكيد" @onclick="@(async () => await ConfirmPurchaseBill(context.ID))" Style="padding-right: 20px; padding-left: 0px;" title="Auth"></MatButton>
        <MatButton Raised="true" Icon="مراجعة" @onclick="@(async () => await RevirewPurchaseBill(context.ID))" Style=" padding-right: 35px; padding-left: 0px;" title="Review"></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
</div>