﻿@inherits LayoutComponentBase
@inject AuthenticationStateProvider TestAuthStateProvider
<AuthorizeView>
    <Authorized>
        <div class="sidebar" style="overflow: scroll;max-height: 100%;">
            <NavMenu />
            <NavLink href="/logout" class="nav-link">تسجيل خروج</NavLink>
        </div>

        <div class="main" style="overflow-y: auto;max-height: 600px;">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code {
}