﻿<style>
    .nav-item a.active::after {
        content: " *";
        margin-left: 1em;
    }
</style>

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <img src="/Images/Logo.jpeg" alt="Mas System" style="max-width: 40px;margin-left: 11px;" />
        الصفحة الرئيسية
    </a>
</div>

<div>
    <ul class="navbar navbar-dark">
        @*<li class="navbar-brand">
                <NavLink class="nav-link" href="/">
                    <span class="oi oi-home" aria-hidden="true"></span>
                </NavLink>
            </li>*@
        <li class="navbar-brand">
            <NavLink class="nav-link" @onclick="ClickMenu1">
                <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span>البيانات الأساسية
            </NavLink>
            @if (expandMenu1)
            {
                <ul class="navbar navbar-dark">
                    @*<li class="navbar-brand">
                            <NavLink class="nav-link" href="Company">
                                <span class="oi SubTitleMenu" aria-hidden="true"></span>الشركات
                            </NavLink>
                        </li>*@
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="Branch">
                            <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>الفروع
                        </NavLink>
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="Departments">
                            <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>الإدارات
                        </NavLink>
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="Store">
                            <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>المخازن
                        </NavLink>
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="Treasury">
                            <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>الخزائن
                        </NavLink>
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="Currency">
                            <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>العملات
                        </NavLink>
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="DealType">
                            <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>أنواع التعامل
                        </NavLink>
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="OtherConstant">
                            <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>ثوابت أخرى
                        </NavLink>
                    </li>

                    <li class="navbar-brand">
                        <NavLink class="nav-link" @onclick="ClickMenu1Sub1">
                            <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span>المنتجات
                        </NavLink>
                        @if (expandMenu1Sub1)
                        {
                            <ul class="navbar navbar-dark">
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="ItemCollection">
                                        <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span> المجموعات
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="ItemType">
                                        <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>الأنواع
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="Items">
                                        <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>المنتجات
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="OtherIncome">
                                        <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>أعباء إضافية
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="SellingExpenses">
                                        <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>مصاريف بيعية
                                    </NavLink>
                                </li>
                            </ul>
                        }
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" @onclick="ClickMenu1Sub2">
                            <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span>الأشخاص
                        </NavLink>
                        @if (expandMenu1Sub2)
                        {
                            <ul class="navbar navbar-dark">
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="Client">
                                        <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>العملاء
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="Supplier">
                                        <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>الموردين
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="Employee">
                                        <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>الموظفين
                                    </NavLink>
                                </li>
                            </ul>
                        }
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" @onclick="ClickMenu1Sub3">
                            <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span>الأرصدة الأفتتاحية
                        </NavLink>
                        @if (expandMenu1Sub3)
                        {
                            <ul class="navbar navbar-dark">
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="ItemOB">
                                        <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>المخازن
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="OpenBalTreasury">
                                        <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>الخزائن
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="EmployeeOpeningBalance">
                                        <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>الموظفين
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="SupplierOpeningBalance">
                                        <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>الموردين
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="ClientOpeningBalance">
                                        <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>العملاء
                                    </NavLink>
                                </li>
                            </ul>
                        }
                    </li>
                </ul>
            }
        </li>
        <li class="navbar-brand">
            <NavLink class="nav-link" @onclick="ClickMenu2">
                <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span>حركات المخزن
            </NavLink>
            @if (expandMenu2)
            {
                <ul class="navbar navbar-dark">
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="Quotation">
                            <span class="oi oi-bolt" aria-hidden="true"></span>  عرض السعر
                        </NavLink>
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" @onclick="ClickMenu2Sub1">
                            <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span>مبيعات
                        </NavLink>
                        @if (expandMenu2Sub1)
                        {
                            <ul class="navbar navbar-dark" style="margin-right: 6px; padding-left: 0px; padding-right: 0px;">
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="SalesBill">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>فاتورة مبيعات
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="SalesExecutive">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>فاتورة تنفيذ
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="SalesMaintance">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>فاتورة صيانة
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="SalesReturns">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>مردودات مبيعات
                                    </NavLink>
                                </li>
                            </ul>
                        }
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" @onclick="ClickMenu2Sub2">
                            <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span>مشتريات
                        </NavLink>
                        @if (expandMenu2Sub2)
                        {
                            <ul class="navbar navbar-dark" style="margin-right: 6px; padding-left: 0px; padding-right: 0px;">
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="PurchaseBill">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>فاتورة مشتريات
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="PurchaseReturns">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>مردودات مشتريات
                                    </NavLink>
                                </li>
                            </ul>
                        }
                    </li>

                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="ExecutionWithDrawals">
                            <span class="oi oi-bolt" aria-hidden="true"></span>   مسحوبات التنفيذ
                        </NavLink>
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="AdditionVoucher">
                            <span class="oi oi-bolt" aria-hidden="true"></span>  سند إضافة مخزن
                        </NavLink>
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="PaymentVoucher">
                            <span class="oi oi-bolt" aria-hidden="true"></span>  سند صرف مخزن
                        </NavLink>
                    </li>

                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="ItemConversion">
                            <span class="oi oi-bolt" aria-hidden="true"></span>تحويل من صنف لصنف
                        </NavLink>
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="TransferRequest">
                            <span class="oi oi-bolt" aria-hidden="true"></span>   طلب التحويل
                        </NavLink>
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="TransferOrder">
                            <span class="oi oi-bolt" aria-hidden="true"></span> أمر التحويل
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
        <li class="navbar-brand">
            <NavLink class="nav-link" @onclick="ClickMenu3">
                <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span>حركات الصندوق
            </NavLink>
            @if (expandMenu3)
            {
                <ul class="navbar navbar-dark">
                    <li class="navbar-brand">
                        <NavLink class="nav-link" @onclick="ClickMenu3Sub1">
                            <span class="oi oi-arrow-thick-bottom SubTitleMenu" aria-hidden="true"></span>سندات القبض
                        </NavLink>
                        @if (expandMenu3Sub1)
                        {
                            <ul class="navbar navbar-dark" style="margin-right: 6px; padding-left: 0px; padding-right: 0px;">
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="ClientPayment">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>دفعات العملاء
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="EmployeeLoanPayment">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>سداد سلف الموظفين
                                    </NavLink>
                                </li>

                            </ul>
                        }
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" @onclick="ClickMenu3Sub2">
                            <span class="oi oi-arrow-thick-bottom SubTitleMenu" aria-hidden="true"></span>سندات الصرف
                        </NavLink>
                        @if (expandMenu3Sub2)
                        {
                            <ul class="navbar navbar-dark" style="margin-right: 6px; padding-left: 0px; padding-right: 0px;">
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="SupplierPayment">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>دفعات الموردين
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="EmployeeLoanEntry">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>سلف الموظفين
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="ClientPayoffs">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>  مردودات العملاء
                                    </NavLink>
                                </li>
                            </ul>
                        }
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" @onclick="ClickMenu3Sub3">
                            <span class="oi oi-arrow-thick-bottom SubTitleMenu" aria-hidden="true"></span>إشعارات خصم و إضافة
                        </NavLink>
                        @if (expandMenu3Sub3)
                        {
                            <ul class="navbar navbar-dark">
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="DiscountNotice">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>إشعار خصم
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="AdditionNotice">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>إشعار إضافة
                                    </NavLink>
                                </li>
                            </ul>
                        }
                    </li>
                </ul>
            }
        </li>
        <li class="navbar-brand">
            <NavLink class="nav-link" @onclick="ClickMenu4">
                <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span>تقارير
            </NavLink>
            @if (expandMenu4)
            {
                <ul class="navbar navbar-dark">
                    <li class="navbar-brand">
                        <NavLink class="nav-link" @onclick="ClickMenu4Sub1">
                            <span class="oi oi-arrow-thick-bottom SubTitleMenu" aria-hidden="true"></span>تقارير الاشخاص
                        </NavLink>
                        @if (expandMenu4Sub1)
                        {
                            <ul class="navbar navbar-dark" style="margin-right: 6px; padding-left: 0px; padding-right: 0px;">
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="ClientBalance">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>كشف حساب العميل
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="SupplierBalance">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>كشف حساب المورد
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="EmployeesBalance">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>كشف حساب الموظف
                                    </NavLink>
                                </li>
                            </ul>
                        }
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" @onclick="ClickMenu4Sub2">
                            <span class="oi oi-arrow-thick-bottom SubTitleMenu" aria-hidden="true"></span>تقارير المخزن
                        </NavLink>
                        @if (expandMenu4Sub2)
                        {
                            <ul class="navbar navbar-dark" style="margin-right: 6px; padding-left: 0px; padding-right: 0px;">
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="ItemBalance">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>كشف حساب الصنف
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="StoreByAllItemReport">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>رصيد مخزن لجميع الاصناف
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="StoreByItemReport">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>رصيد مخزن لصنف
                                    </NavLink>
                                </li>
                            </ul>
                        }
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" @onclick="ClickMenu4Sub3">
                            <span class="oi oi-arrow-thick-bottom SubTitleMenu" aria-hidden="true"></span>تقارير المبيعات
                        </NavLink>
                        @if (expandMenu4Sub3)
                        {
                            <ul class="navbar navbar-dark" style="margin-right: 6px; padding-left: 0px; padding-right: 0px;">
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="StoreReport">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>اجمالى المخزن
                                    </NavLink>
                                </li>
                                <li class="navbar-brand">
                                    <NavLink class="nav-link" href="StoreItemsReport">
                                        <span class="oi oi-bolt" aria-hidden="true"></span>اجمالى المخزن بالصنف
                                    </NavLink>
                                </li>

                            </ul>
                        }
                    </li>
                </ul>
            }
        </li>
        <li class="navbar-brand">
            <NavLink class="nav-link" @onclick="ClickMenu5">
                <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span>الحسابات
            </NavLink>
            @if (expandMenu5)
            {
                <ul class="navbar navbar-dark">
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="AccountingGuide">
                            <span class="oi oi-bolt" aria-hidden="true"></span>دليل الحسابات
                        </NavLink>
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="EntriesType">
                            <span class="oi oi-bolt SubTitleMenu" aria-hidden="true"></span>نوع القيد
                        </NavLink>
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="EntriesStructuring">
                            <span class="oi oi-bolt" aria-hidden="true"></span>هيكلة القيود
                        </NavLink>
                    </li>
                    <li class="navbar-brand">
                        <NavLink class="nav-link" href="Entries">
                            <span class="oi oi-bolt" aria-hidden="true"></span>القيود
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </ul>
</div>

@code {
    #region Menu1
    private bool expandMenu1 = false;
    private bool expandMenu1Sub1 = false;
    private bool expandMenu1Sub2 = false;
    private bool expandMenu1Sub3 = false;
    void ClickMenu1()
    {
        expandMenu1 = !expandMenu1;
        if (!expandMenu1)
        {
            expandMenu1Sub1 = false;
            expandMenu1Sub2 = false;
            expandMenu1Sub3 = false;
        }
    }
    void ClickMenu1Sub1()
    {
        expandMenu1Sub1 = !expandMenu1Sub1;
        if (expandMenu1Sub1)
        {
            expandMenu1Sub2 = false;
            expandMenu1Sub3 = false;
        }
    }
    void ClickMenu1Sub2()
    {
        expandMenu1Sub2 = !expandMenu1Sub2;
        if (expandMenu1Sub2)
        {
            expandMenu1Sub1 = false;
            expandMenu1Sub3 = false;
        }
    }
    void ClickMenu1Sub3()
    {
        expandMenu1Sub3 = !expandMenu1Sub3;
        if (expandMenu1Sub3)
        {
            expandMenu1Sub1 = false;
            expandMenu1Sub2 = false;
        }
    }
    #endregion

    #region Menu2
    private bool expandMenu2 = false;
    private bool expandMenu2Sub1 = false;
    private bool expandMenu2Sub2 = false;
    private bool expandMenu2Sub3 = false;
    void ClickMenu2()
    {
        expandMenu2 = !expandMenu2;
        if (!expandMenu2)
        {
            expandMenu2Sub1 = false;
            expandMenu2Sub2 = false;
            expandMenu2Sub3 = false;
        }
    }
    void ClickMenu2Sub1()
    {
        expandMenu2Sub1 = !expandMenu2Sub1;
        if (expandMenu2Sub1)
        {
            expandMenu2Sub2 = false;
            expandMenu2Sub3 = false;
        }
    }
    void ClickMenu2Sub2()
    {
        expandMenu2Sub2 = !expandMenu2Sub2;
        if (expandMenu2Sub2)
        {
            expandMenu2Sub1 = false;
            expandMenu2Sub3 = false;
        }
    }
    void ClickMenu2Sub3()
    {
        expandMenu2Sub3 = !expandMenu2Sub3;
        if (expandMenu2Sub3)
        {
            expandMenu2Sub1 = false;
            expandMenu2Sub2 = false;
        }
    }
    #endregion

    #region Menu3
    private bool expandMenu3 = false;
    private bool expandMenu3Sub1 = false;
    private bool expandMenu3Sub2 = false;
    private bool expandMenu3Sub3 = false;
    void ClickMenu3()
    {
        expandMenu3 = !expandMenu3;
        if (!expandMenu3)
        {
            expandMenu3Sub1 = false;
            expandMenu3Sub2 = false;
            expandMenu3Sub3 = false;
        }
    }
    void ClickMenu3Sub1()
    {
        expandMenu3Sub1 = !expandMenu3Sub1;
        if (expandMenu3Sub1)
        {
            expandMenu3Sub2 = false;
            expandMenu3Sub3 = false;
        }
    }
    void ClickMenu3Sub2()
    {
        expandMenu3Sub2 = !expandMenu3Sub2;
        if (expandMenu3Sub2)
        {
            expandMenu3Sub1 = false;
            expandMenu3Sub3 = false;
        }
    }
    void ClickMenu3Sub3()
    {
        expandMenu3Sub3 = !expandMenu3Sub3;
        if (expandMenu3Sub3)
        {
            expandMenu3Sub1 = false;
            expandMenu3Sub2 = false;
        }
    }
    #endregion

    #region Menu4
    private bool expandMenu4 = false;
    private bool expandMenu4Sub1 = false;
    private bool expandMenu4Sub2 = false;
    private bool expandMenu4Sub3 = false;
    void ClickMenu4()
    {
        expandMenu4 = !expandMenu4;
    }
    void ClickMenu4Sub1()
    {
        expandMenu4Sub1 = !expandMenu4Sub1;
        if (expandMenu4Sub1)
        {
            expandMenu4Sub2 = false;
            expandMenu4Sub3 = false;
        }
    }
    void ClickMenu4Sub2()
    {
        expandMenu4Sub2 = !expandMenu4Sub2;
        if (expandMenu4Sub2)
        {
            expandMenu4Sub1 = false;
            expandMenu4Sub3 = false;
        }
    }
    void ClickMenu4Sub3()
    {
        expandMenu4Sub3 = !expandMenu4Sub3;
        if (expandMenu4Sub3)
        {
            expandMenu4Sub1 = false;
            expandMenu4Sub2 = false;
        }
    }
    #endregion

    #region Menu5
    private bool expandMenu5 = false;
    void ClickMenu5()
    {
        expandMenu5 = !expandMenu5;
    }

    #endregion
}
