﻿@page "/Employee"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<style>

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 800px;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    aria-label {
        text-align: left;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }
</style>
<PageTitle Title="الموظفين" @ref="PageTitle" />
<table width="100%">
    <tr>
        <td width="20"> </td>
        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewEmployee">إضافة جديد</button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
<table width="100%">
    <tr>
        <td>
            @*<MatCheckbox @bind-Value="@ShowHide" @onchange="@(()=>GetAllByEmployees(ShowHide))" ></MatCheckbox>*@
            <input type="checkbox" checked="@ShowHide" @onchange="() => GetAllByEmployees()" />
            <label style="float: right;">اظهار كل الموظفين</label>
        </td>
    </tr>
    <tr>
        <td colspan="3">
        </td>
    </tr>
</table>
<button class="btn" style="float:left" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>

<div class="row" style="overflow-y: auto;max-height: 440px;">
    @*<MatButton Icon="autorenew" Class="renew md-48" @onclick="@(async () => await BindList())"></MatButton>*@
    <MatTable Items="@EmployeeList" AllowSelection="true" FilterByColumnName="Name" PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:" SearchTermFieldLabel="بحث" SearchTermFieldPlaceHolder="الاسم" class="mat-elevation-z5">
        <MatTableHeader>
            <th style="text-align: center;width:5%;">الترتيب </th>
            <th style="text-align: center;width:20%;">اسم الموظف </th>
            <th style="text-align: center;width:10%;">الوظيفة </th>
            <th style="text-align: center;width:10%;">رقم التليفون  </th>
            <th style="text-align: center;width:10%;">رقم الموبايل  </th>
            <th style="text-align: center;width:10%;">الفرع  </th>
            <th style="text-align: center;width:10%;">الإدارة  </th>
            <th style="text-align: center;width:25%;">تعديل / حذف   </th>
        </MatTableHeader>
        <MatTableRow>
            <td style="text-align: right;width:5%;">@context.arrangement</td>
            <td style="text-align: center;width:20%;">@context.Name</td>
            <td style="text-align: center;width:10%;">@context.JObTitle</td>
            <td style="text-align: center;width:10%;">@context.Phone</td>
            <td style="text-align: center;width:10%;">@context.Mobile</td>
            <td style="text-align: center;width:10%;">@context.BranchName</td>
            <td style="text-align: center;width:10%;">@context.DepartmentName</td>
            <td style="width:25%;">
                <MatButton Raised="true" @onclick="@(async () => await EditOldEmployee(context.ID))" Icon="edit" title="تعديل "></MatButton> &nbsp; &nbsp;
                <MatButton Raised="true" @onclick="@(() => DeleteEmployee(context.ID))" Icon="delete" title="مسح "></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
</div>
