﻿@layout MainLayoutWithoutMenu
@page "/EmployeeAdd"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@using BlazorInputFile
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

    <style>

        h1 {
            float: right;
        }

        .mdc-dialog .mdc-dialog__surface {
            max-width: 1200px;
        }

        .mdc-button__ripple {
            align-items: center;
            justify-content: center;
            text-align: center
        }

        .mdc-paginator-container {
            align-items: flex-start;
            justify-content: right;
        }

        .DateFormat .mdc-floating-label {
            margin-top: -20px;
        }

        .DateFormat .material-icons {
            margin-top: 40%;
        }

        .mdc-text-field--filled {
            width: 300px;
        }

            .mdc-text-field--filled:not(.mdc-text-field--disabled) {
                background-color: #ebebeb;
                width: 100%;
            }

        .renew {
            display: inline-block;
            /* width: 190%;*/
            bottom: 40%;
            right: 88%;
        }

        .ItemRenew {
            display: inline-block;
            bottom: 44%;
            right: 83%;
        }

        .BalanceRenew {
            display: inline-block;
            bottom: 50%;
            right: 88%;
        }

        .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
            color: black;
        }

        .mdc-text-field--disabled .mdc-text-field__input {
            color: black;
        }

        .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
            margin-top: 9px;
        }


        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ffffff;
            width: 100%;
        }
 
    </style>

<PageTitle Title=" إضافة موظف " @ref="PageTitle" />
<EditForm Model="@employee" OnValidSubmit="AddEmployee">
    <DataAnnotationsValidator />
    <div class="row" style="overflow-y: auto;max-height: 610px;width:1350px;">

        <table class="table">
            <tbody>
                <tr class="data-contact-person">
                    <td>
                        <InputFile OnChange="HandleSelection" Label="إضافة صورة الموظف" @bind-Value="@employee.Image" TabIndex="1"></InputFile>
                        @if (file != null)
                        {
                            <label style="font-size: 1em; font-weight: 100;float: right;">@file.Name</label>
                        }
                    </td>
                    @*<td>
                <InputFile OnChange="HandleSelection" Label="إضافة صورة الموظف" @bind-Value="@employee.AttachmentFiles" TabIndex="1"></InputFile>
                @if (file != null)
                {
                    <label style="font-size: 1em; font-weight: 100;float: right;">@file.Name</label>
                }
            </td>*@
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <label>اسم الموظف</label>
                        <MatTextField @bind-Value="@employee.Name" OnFocusOut="() =>CheckName()" TabIndex="2"></MatTextField>
                        <ValidationMessage For="@(() =>employee.Name)" />
                        <label class="text-danger">@ValidateMessagName</label>
                    </td>
                    <td class="DateFormat">
                        <label>تاريخ الميلاد</label>
                        <MatDatePicker @bind-Value="@employee.DateOfBirth" Format='dd/MM/yyyy' TabIndex="3"></MatDatePicker>
                        <ValidationMessage For="@(() =>employee.DateOfBirth)" />
                        <label class="text-danger">@ValidateMessageBirthD</label>
                    </td>
                    <td>
                        <label>الرقم القومي</label>
                        <MatTextField @bind-Value="@employee.NationalID" TabIndex="4"></MatTextField>
                        <ValidationMessage For="@(() =>employee.NationalID)" />
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td colspan="3">
                        <label>العنوان</label>
                        <MatTextField @bind-Value="@employee.Address" tabIndex="5"></MatTextField>
                        <ValidationMessage For="@(() =>employee.Address)" />
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <label>البريد الالكتروني</label>
                        @*OnFocusOut="() => CheckMail()"*@
                        <MatTextField @bind-Value="@employee.Mail" tabIndex="6"></MatTextField>
                        <ValidationMessage For="@(() =>employee.Mail)" />
                        <label class="text-danger">@ValidateMessagMail</label>
                    </td>
                    <td>
                        <label> رقم التليفون </label>
                        @*OnFocusOut="() => CheckMobile()"*@
                        <MatTextField @bind-Value="@employee.Phone" tabIndex="7"></MatTextField>
                        <ValidationMessage For="@(() =>employee.Phone)" />
                        <label class="text-danger">@ValidateMessagPhone</label>
                    </td>
                    <td>
                        <label>رقم الموبايل</label>
                        @*OnFocusOut="() => CheckMobile()"*@
                        <MatTextField @bind-Value="@employee.Mobile" TabIndex="8"></MatTextField>
                        <ValidationMessage For="@(() =>employee.Mobile)" />
                        <label class="text-danger">@ValidateMessagMobile</label>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <label>رقم الموبايل الشغل</label>
                        <MatTextField @bind-Value="@employee.PhoneWork" TabIndex="9"></MatTextField>
                    </td>
                    <td>
                        <label>وصف موبايل الشغل</label>
                        <MatTextField @bind-Value="@employee.PhoneWorkDescription" TabIndex="9"></MatTextField>
                    </td>
                    <td class="DateFormat">
                        <label>تاريخ الالتحاق بالشركة </label>
                        <MatDatePicker @bind-Value="@employee.JoiningDate" Format='dd/MM/yyyy' TabIndex="11"></MatDatePicker>
                        <ValidationMessage For="@(() =>employee.JoiningDate)" />
                        <label class="text-danger">@ValidateMessageJoinD</label>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <label>الكود الوظيفى</label>
                        <MatTextField @bind-Value="@employee.Code" OnFocusOut="() =>CheckCode()" TabIndex="9"></MatTextField>
                        <ValidationMessage For="@(() =>employee.Code)" />
                        <label class="text-danger">@ValidateMessagCode</label>
                    </td>
                    <td>
                        <label>المسمى الوظيفى</label>
                        <MatTextField @bind-Value="@employee.JObTitle" TabIndex="10"></MatTextField>
                        <ValidationMessage For="@(() =>employee.JObTitle)" />
                    </td>
                    <td class="DateFormat">
                        <label>تاريخ نهاية الخدمة </label>
                        <MatDatePicker @bind-Value="@employee.LeavingDate" Format='dd/MM/yyyy' TabIndex="11"></MatDatePicker>
                        <ValidationMessage For="@(() =>employee.LeavingDate)" />
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <label>بداية الراتب</label>
                        <MatTextField @bind-Value="@employee.StartSalary" TabIndex="12"></MatTextField>
                        <ValidationMessage For="@(() =>employee.StartSalary)" />
                    </td>
                    <td>
                        <label>الزيادة السنوية </label>
                        <MatTextField @bind-Value="@employee.AnnualIncrease" TabIndex="13"></MatTextField>
                        <ValidationMessage For="@(() =>employee.AnnualIncrease)" />
                    </td>
                    <td>
                        <label>رصيد الاجازات السنوى </label>
                        <MatTextField @bind-Value="@employee.Annual" TabIndex="14"></MatTextField>
                        <ValidationMessage For="@(() =>employee.Annual)" />
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <label>القسم</label>  <br />
                        <select id="dept" class="form-control EditedSelect" @bind="@employee.DepartmentID" TabIndex="15">
                            <option value="0" selected>--اختار القسم--</option>
                            @if (DepartmentList != null)
                            {
                                @foreach (var dept in DepartmentList)
                                {
                                    <option value="@dept.ID">@dept.Name</option>
                                }
                            }
                        </select>
                        <ValidationMessage For="@(() => employee.DepartmentID)" />
                        <label class="text-danger">@ValidateMessageDepartment</label>
                    </td>
                    <td>
                        <label>الفرع</label>   <br />
                        <select id="dept" class="form-control EditedSelect" @bind="@employee.BranchID" TabIndex="16">
                            <option value="0" selected>--اختار الفرع--</option>
                            @if (BranchList != null)
                            {
                                @foreach (var branch in BranchList)
                                {
                                    <option value="@branch.ID">@branch.Name</option>
                                }
                            }
                        </select>
                        <ValidationMessage For="@(() => employee.BranchID)" />
                        <label class="text-danger">@ValidateMessageBranch</label>
                    </td>
                    <td>
                        <label>الترتيب</label>
                        <MatTextField @bind-Value="@employee.arrangement" TabIndex="17"> </MatTextField>
                        <label class="text-danger">@ValidateMessageArrangement</label>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <MatCheckbox Label="مستخدم" @bind-Value="@employee.IsUser" TabIndex="18"> </MatCheckbox>
                    </td>
                    <td>
                        <MatCheckbox Id="print" Label="Hide" @bind-Value="employee.IsHide"></MatCheckbox>
                    </td>
                </tr>
                @if (employee.IsUser)
                {
                    <tr class="data-contact-person">
                        <td>
                            <label>اسم المستخدم </label>
                            <MatTextField @bind-Value="@employee.UserName" TabIndex="19"></MatTextField> &nbsp;  &nbsp;
                            <label class="text-danger">@ValidateMessageUsername</label>
                        </td>
                        <td>
                            <label>كلمة السر </label>
                            <MatTextField @bind-Value="@employee.Passwordouble" Type="password" TabIndex="20"></MatTextField>
                            <label class="text-danger">@ValidateMessagePass</label>

                        </td>
                    </tr>
                }
                <tr class="data-contact-person">
                    <td colspan="3">
                        <label>ملاحظات</label>
                        <MatTextField @bind-Value="@employee.Note" TabIndex="21"></MatTextField>
                        <ValidationMessage For="@(() =>employee.Note)" />
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <button type="submit" disabled="@IsDisabled" class="btn btn-success justify-content-center" style="color: white; width: 50%; background-color: #6200ee; border-color: #6200ee;" TabIndex="22">حفظ</button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
</EditForm>
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}