﻿@page "/EditItems"
@using MatBlazor;
@using System.Net.Http
@inject HttpClient Http
@using BlazorInputFile
@using System.IO
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@layout MainLayoutWithoutMenu

<style>
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }
    /* .new {
            float: right;
            top: 40px;
        }
        .mdc-paginator-container {
            align-items: center;
            justify-content: center;
        }*/
    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .new {
        margin-right: -190px;
        float: right;
        margin-top: 40px;
    }



    .mat-file-upload {
        /* padding: 2rem; */
        display: flex;
        border: solid;
        background-color: #ebebeb;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        /*position: relative;*/
    }

    /* .Name {
        width: 120%;
        background-color: #ffffff;
    }

    .CBM {
        margin-left: 300px;
        width: 80%;
        background-color: #ffffff;
    }

    .Type {
        margin-right: 80%;
    }

    .BoxWeight {
        margin-right: 55px;
        width: 45%;
        background-color: #ffffff;
    }

    .BoxNo {
        width: 60%;
        background-color: #ffffff;
    }

    .Drops {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-spacing: 10px;
    }*/
    input[type='file'] {
        color: transparent;
    }
</style>
<PageTitle Title="تعديل منتج" @ref="PageTitle" />

<EditForm Model="@itm" OnValidSubmit="EditItems">
    <DataAnnotationsValidator />
    <div class="row" style="overflow-y: auto;max-height: 610px;">
        <table class="table">
            <tbody>
                <tr class="data-contact-person">
                    <td>
                        <InputFile OnChange="HandleSelection" Label="إضافة صورة المنتج" @bind-Value="@itm.ItemImg" Style="width: 100%;" autocomplete="off"></InputFile>
                        @if (file != null)
                        {
                            <label style="font-size: 1em; font-weight: 100;float: right;">@file.Name</label>
                        }
                    </td>
                    <td>
                        @if(itm.ItemImg !=null && itm.ItemImg!="")
                        {
                            <img src="/Images/ImageOpen.webp" alt="صورة المنتج" @onclick="() =>  ShowImg = true" style="width: 5%; height: 7%;" />
                        }
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td colspan="2">
                        @*<MatTextField Label="اسم المنتج" @bind-Value="@itm.Name" Class="Name" OnFocusOut="() =>CheckName()" TabIndex="1"></MatTextField>*@
                        <label style="text-align: right; padding-right: 30%;">اسم المنتج</label><br />
                        <input type="text" name="f-name" class="form-control f-name01" @bind="itm.Name" @bind:event="oninput" @onchange="CheckName" TabIndex="1" style="width: 70%;" placeholder="اسم المنتج" />
                        @*<label class="text-danger">@RequiredMessageName</label>*@
                        <ValidationMessage For="@(() =>itm.Name)" />
                        <label class="text-danger">@ValidateMessageName</label>
                    </td>
                    @*<Microsoft.AspNetCore.Components.Forms.ValidationMessage For="@(() =>itm.Name)" />
                        <br />
                        <label class="text-danger">@ValidateMessage</label>*@
                    <td>
                        <MatCheckbox Id="print" Label="Hide" @bind-Value="itm.IsShow" Style="float: left;" TabIndex="2"></MatCheckbox>
                    </td>

                </tr>
                <tr class="data-contact-person">
                    <td>
                        <label>المجموعة</label><br />
                        <select id="collec" class="form-control  EditedSelect" @bind="itm.CollectionId" TabIndex="3">
                            <option value="">--المجموعة--</option>
                            @if (CollectionList != null)
                            {
                                @foreach (var collec in CollectionList)
                                {
                                    <option value="@collec.ID">@collec.Name</option>
                                }
                            }
                        </select>

                        @*<Microsoft.AspNetCore.Components.Forms.ValidationMessage For="@(() =>itm.CollectionId)" />*@
                    </td>
                    <td>
                        <label> النوع</label><br />
                        <select id="type" class="form-control  EditedSelect" @bind="itm.TypeId" TabIndex="4">
                            <option value="">--النوع--</option>
                            @if (TypeList != null)
                            {
                                @foreach (var itm in TypeList)
                                {
                                    <option value="@itm.ID">@itm.Name</option>
                                }
                            }
                        </select>

                    </td>
                    <td>
                        @*style="margin-right:170%;*@
                        <label>اختار المورد</label><br />
                        <select id="supp" class="form-control EditedSelect" @bind="itm.SupplierId" TabIndex="5">
                            <option value="">--المورد--</option>
                            @if (SupplierList != null)
                            {
                                @foreach (var supp in SupplierList)
                                {
                                    <option value="@supp.ID">@supp.Name</option>
                                }
                            }
                        </select>
                        @*<Microsoft.AspNetCore.Components.Forms.ValidationMessage For="@(() =>itm.SupplierId)" />*@

                    </td>
                </tr>

                <tr class="data-contact-person">
                    @*<MatTextField Label="اسم المورد" @bind-Value="@itm.SupplierName"></MatTextField>&nbsp;*@
                    <td>
                        @*<MatTextField Label="عددالكرتونة" @bind-Value="@itm.BoxNumber" Class="BoxNo TabOnEnter" TabIndex="6"></MatTextField>&nbsp;*@
                        <label>عددالكرتونة</label><br />
                        <input type="text" name="f-name" class="form-control f-name" @bind="itm.BoxNumber" TabIndex="6" />


                    </td>
                    @*<Microsoft.AspNetCore.Components.Forms.ValidationMessage For="@(() =>itm.BoxNumber)" />*@
                    <td>
                        @* <MatTextField Label="وزن الكرتونة" @bind-Value="@itm.BoxWeight" Class="BoxWeight TabOnEnter" TabIndex="7"></MatTextField>&nbsp;*@
                        <label>وزن الكرتونة</label><br />
                        <input type="text" name="f-name" class="form-control f-name01 " @bind="itm.BoxWeight" TabIndex="7" />
                    </td>
                    @*<Microsoft.AspNetCore.Components.Forms.ValidationMessage For="@(() =>itm.BoxWeight)" />*@
                    <td>
                        @*<MatTextField Label="CBM" @bind-Value="@itm.CBM" Class="CBM TabOnEnter" TabIndex="8"></MatTextField>*@
                        <label>CBM</label><br />
                        <input type="text" name="f-name" class="form-control f-name01" @bind="itm.CBM" TabIndex="8" />
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <h2>التسعير</h2>
                        <table class="table" id="maintable">
                            <thead>
                                <tr>
                                    <th style="padding:.22rem;text-align:center">التكلفة</th>
                                    <th style="padding:.22rem;text-align:center">الموزع</th>
                                    <th style="padding:.22rem;text-align:center">الجملة</th>
                                    <th style="padding:.22rem;text-align:center">البيع</th>
                                    <th style="padding:.22rem;text-align:center">التنفيذ</th>
                                    <th style="padding:.22rem;text-align:center">العرض</th>
                                    <th style="padding:.22rem;text-align:center">أخرى</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr class="data-contact-person">
                                    <td>
                                        <input type="text" name="f-name" class="form-control f-name01" @bind="itm.CostPrice" TabIndex="9" style="text-align:center" />
                                    </td>
                                    <td>
                                        <input type="text" name="f-name" class="form-control f-name01" @bind="itm.SupplierPrice" TabIndex="10" style="text-align:center" />
                                    </td>
                                    <td>
                                        <input type="text" name="l-name" class="form-control l-name01" @bind="itm.WholesalePrice" TabIndex="11" style="text-align:center" />
                                    </td>
                                    <td>
                                        <input type="text" name="email" class="form-control email01" @bind="itm.SellingPrice" TabIndex="12" style="text-align:center" />
                                    </td>
                                    <td>
                                        <input type="text" name="email" class="form-control email01" @bind="itm.ExecutionPrice" TabIndex="13" style="text-align:center" />
                                    </td>
                                    <td>
                                        <input type="text" name="email" class="form-control email01" @bind="itm.ShowPrice" TabIndex="14" style="text-align:center" />
                                    </td>
                                    <td>
                                        <input type="text" name="email" class="form-control email01" @bind="itm.other_Price" TabIndex="15" style="text-align:center" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h2>الأكواد</h2>
                        <table class="table" id="maintable">
                            <thead>
                                <tr>
                                    <th style="padding:.22rem;text-align:center">المحلي</th>
                                    <th style="padding:.22rem;text-align:center">الدولي</th>
                                    <th style="padding:.22rem;text-align:center">الكرتونة</th>
                                    <th style="padding:.22rem;text-align:center">المورد</th>
                                    <th style="padding:.22rem;text-align:center">الضمان</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr class="data-contact-person">
                                    <td>

                                        <input type="text" name="f-name" class="form-control f-name01" @bind:event="oninput" @onchange="CheckNationalParCode" @bind="itm.National_ParCode" tabindex="16" style="text-align:center" />
                                        @*<label class="text-danger">@RequiredMessageNationalParCode</label>*@
                                        <ValidationMessage For="@(() =>itm.National_ParCode)" />
                                        <label class="text-danger">@ValidateMessageNational</label>

                                    </td>
                                    <td>
                                        <input type="text" name="f-name" class="form-control f-name01" @bind:event="oninput" @onchange="CheckInternationalParCode" @bind="itm.Interational_ParCode" tabindex="17" style="text-align:center" />
                                        <label class="text-danger">@ValidateMessageInternational</label>

                                    </td>
                                    <td>
                                        <input type="text" name="l-name" class="form-control l-name01" @bind:event="oninput" @onchange="CheckBoxParCode" @bind="itm.Box_ParCode" tabindex="18" style="text-align:center" />
                                        <label class="text-danger">@ValidateMessageBox</label>

                                    </td>
                                    <td>
                                        <input type="text" name="email" class="form-control email01" @bind:event="oninput" @onchange="CheckSupplierParCode" @bind="itm.Supplier_ParCode" tabindex="19" style="text-align:center" />
                                        <label class="text-danger">@ValidateMessageSupplier</label>

                                    </td>
                                    <td>
                                        <input type="text" name="email" class="form-control email01" @bind:event="oninput" @onchange="CheckGuaranteeParCode" @bind="itm.Guarantee_ParCode" tabindex="20" style="text-align:center" />
                                        <label class="text-danger">@ValidateMessageGuarantee</label>


                                    </td>

                                </tr>

                            </tbody>

                        </table>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <h2>بيانات مخزنية</h2> <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd"  @onclick="@AddNewRow">إضافة جديد</button>
                        <table class="table" id="maintable" autocomplete="off">
                            <thead>
                                <tr>
                                    <th style="padding:.22rem;text-align:center;width: 15%;">المخزن</th>
                                    <th style="padding:.22rem;text-align:center">الرف</th>
                                    <th style="padding:.22rem;text-align:center">الكمية المخزنية</th>
                                    <th style="padding:.22rem;text-align:center">الحد الأدنى للطلب</th>
                                    <th style="padding:.22rem;text-align:center;width: 30%;">ملاحظات</th>
                                    <th style="padding:.22rem;text-align:center">مسح</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itm in ItemStoreList)
                                {
                                    <tr class="data-contact-person">
                                        <td>
                                            <select id="store" name="store" class="form-control EditedSelect" @bind="itm.StoreId">
                                                <option value="">--اختار مخزن--</option>
                                                @if (StoreList != null)
                                                {
                                                    @foreach (var store in StoreList)
                                                    {
                                                        <option value="@store.ID">@store.Name</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" name="f-name" class="form-control f-name01" @bind="itm.SheilfNo" autocomplete="off" tabindex="21" style="text-align:center" />
                                        </td>
                                        <td>
                                            <input type="text" name="l-name" class="form-control l-name01" @bind="itm.Quantity" autocomplete="off" tabindex="22" style="text-align:center" />
                                        </td>
                                        <td><input type="text" name="email" class="form-control email01" @bind="itm.OrderLimit" autocomplete="off" tabindex="23" style="text-align:center" /> </td>
                                        <td><input type="text" name="email" class="form-control email01" @bind="itm.Note" autocomplete="off" tabindex="23" style="text-align:center" /> </td>
                                        <td>
                                            <button type="button" class="btn btn-s btn-danger" @onclick="@(()=> { RemoveRow(itm); })">مسح </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-success justify-content-center" style=" color: white; width: 220px; margin-right: 30px;        background-color: #6200ee; border-color: #6200ee; position: relative;">حفظ</button>
                        @*<button class="btn btn-success justify-content-center" @onclick="@Cancel" style="color: white; width: 220px; margin-right: 30px; background-color: #6200ee; border-color: #6200ee;">الغاء</button>*@
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</EditForm>


@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}

@if (ShowImg == true)
{
    <MatDialog @bind-IsOpen="@ShowImg" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>عرض الصورة </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">
                <img src="@itm.ItemImg" alt="صورة المنتج" style="width:100%;height:100%;" />
            </div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() =>  ShowImg = false">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}