﻿@page "/Items"
@using MatBlazor;
@using System.Net.Http
@inject HttpClient Http
@using BlazorInputFile
@using System.IO
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime


<style>
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    .renew l-48 mdc-button mdc-ripple-upgraded {
        float: left;
    }

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }
    /* .new {
        float: right;
        top: 40px;
    }
    .mdc-paginator-container {
        align-items: center;
        justify-content: center;
    }*/
    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .new {
        margin-right: -190px;
        float: right;
        margin-top: 40px;
    }



    .mat-file-upload {
        /* padding: 2rem; */
        display: flex;
        border: solid;
        background-color: #ebebeb;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        /*position: relative;*/
    }

    .Name {
        width: 150%;
        background-color: #ffffff;
    }

    .CBM {
        margin-right: 135%;
        width: 90%;
        background-color: #ffffff;
    }

    .Type {
        margin-right: 80%;
    }

    .BoxWeight {
        margin-right: 70%;
        width: 85%;
        background-color: #ffffff;
    }

    .BoxNo {
        width: 85%;
        background-color: #ffffff;
    }

    .Drops {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-spacing: 10px;
    }

    .Column {
        /* display: table-cell;*/
        width: 70%;
        max-height: 60px;
        background-color: #ebebeb;
        /* padding-right: 60px; */
        height: 80%;
        margin: 0 80px 30px;
    }
</style>
<PageTitle Title=" المنتجات" @ref="PageTitle" />

<table width="100%">
    <tr>
        <td width="20"> </td>
        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewItem">اضافة منتج</button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<button class="btn" style="float:left" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>

<div class="row" style="overflow-y: auto;max-height: 440px; direction: rtl;">
    @*<MatButton Icon="autorenew" Class="renew l-48" Style="float:left" @onclick="@(async () => await BindList())">    </MatButton>*@
    <hr />
    <MatTable Items="@ItemList" AllowSelection="true" FilterByColumnName="Name" PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:" SearchTermFieldLabel="بحث" SearchTermFieldPlaceHolder="الاسم" class="mat-elevation-z5">
        <MatTableHeader>
            <th style="text-align: center;width:10%;">الترتيب</th>
            <th style="text-align: center;width:19%;">اسم المنتج</th>
            <th style="text-align: center;width:15%;">الكود المحلي</th>
            <th style="text-align: center;width:12%;">سعر التكلفة</th>
            <th style="text-align: center;width:12%;">سعر البيع</th>
            <th style="text-align: center;width:12%;">سعر التنفيذ</th>


            <th style="text-align: center;width:20%;">تعديل / حذف   </th>

        </MatTableHeader>
        <MatTableRow>
            <td style="text-align: center;width:10%;">@context.Index</td>
            <td style="text-align: center;width:19%;">@context.Name</td>
            <td style="text-align: center;width:15%;">@context.National_ParCode</td>
            <td style="text-align: center;width:12%;">@context.CostPrice</td>
            <td style="text-align: center;width:12%;">@context.SellingPrice</td>
            <td style="text-align: center;width:12%;">@context.ExecutionPrice</td>


            <td style="text-align: center;width:20%; ">
                <MatButton Raised="true" @onclick="@(async () => await EditOldItem(context.ID))" Icon="edit" title="تعديل المنتج"></MatButton>
                <MatButton Raised="true" @onclick="@(() =>DeleteItem(context.ID))" Icon="restore_from_trash" title="مسح المنتج"></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
</div>

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العمليه بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ItemUsed == true)
{
    <MatDialog @bind-IsOpen="@ItemUsed" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>!!!خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لا يمكن حذف المنتج لانه مستخدم </div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() =>ItemUsed = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل انت متاكد من استكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}





