﻿@layout MainLayoutWithoutMenu
@page "/DealTypeAdd"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<style>

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    /*
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }*/
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }
    label {
        display: block;
        text-align: right;
        font-size: 1em;
        font-weight: 600;
    }
</style>
<PageTitle Title="إضافة نوع التعامل" @ref="PageTitle" />

<EditForm Model="@Deal" OnValidSubmit="AddDealType">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col-md-12">
            <MatTextField Label="نوع التعامل" @bind-Value="@Deal.Name" OnFocusOut="() =>CheckName()" Style="width: 495px;" TabIndex="1"></MatTextField>
            <ValidationMessage For="@(() =>Deal.Name)" />
            <label class="text-danger">@ValidateMessageName</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>نوع السعر</label>
            <select id="store" name="store" class="form-control EditedSelect" @bind="Deal.PriceType" style="width: 495px;height:50px;" TabIndex="2">
                <option value="0" selected>--اختار نوع السعر --</option>
                @if (PriceTypeList != null)
                {
                    @foreach (var price in PriceTypeList)
                    {
                        <option value="@price.ID">@price.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <MatTextField Label="الترتيب" @bind-Value="@Deal.arrangement" OnFocusOut="() =>CheckArrangement()" Style="width: 495px;" TabIndex="3"></MatTextField>
            <label class="text-danger">@ValidateArrangementMessage</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <MatTextField Label="ملاحظات" @bind-Value="@Deal.Note" Style="width: 495px;" TabIndex="3"></MatTextField>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-success justify-content-center" disabled="@IsDisabled" style="color: white; width: 220px; margin-right: 30px; background-color: #6200ee; border-color: #6200ee;">حفظ</button>
    </div>
</EditForm>

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت التعامل بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}