﻿@page "/SalesReturnsAdd"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@layout MainLayoutWithoutMenu
@using Radzen
@using Radzen.Blazor
<style>
  

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ebebeb;
            width: 100%;
        }

    .renew {
        display: inline-block;
        /* width: 190%;*/
        bottom: 40%;
        right: 88%;
    }

    .ItemRenew {
        display: inline-block;
        bottom: 44%;
        right: 83%;
    }

    .BalanceRenew {
        display: inline-block;
        bottom: 50%;
        right: 88%;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
        width: 100%;
    }

    
    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }
</style>

<PageTitle Title="إضافة مردودات مبيعات" @ref="PageTitle" />

@*<EditForm Model="@ReturnsModel" OnValidSubmit="EditReturnBill">
    <DataAnnotationsValidator />*@
<div class="row" style="overflow-y: auto;max-height: 610px;">
    <table class="table">
        <tbody>
            <tr class="data-contact-person">
                <td>
                    <label>رقم المسلسل</label><br />
                    <MatTextField @bind-Value="@ReturnsModel.SerialNumber" TabIndex="1"></MatTextField>
                </td>
                <td>
                    <label>التاريخ</label><br />
                    <MatDatePicker @bind-Value="@ReturnsModel.Date" style="padding-right: 0px;" Format='dd/MM/yyyy' TabIndex="2"></MatDatePicker>
                    @*<InputDate @bind-Value="ReturnsModel.Date" TabIndex="2" class="Date"  Format='dd/MM/yyyy' placeholder="dd/MM/yyyy" />*@
                </td>
                <td>
                    <label> الفرع</label><br />
                    <select title="الفرع" id="store" autocomplete="off" name="store" class="form-control EditedSelect" @bind="ReturnsModel.BranchId"  @bind:event="oninput" @onchange="(()=> GetSerialNumber())" TabIndex="3">
                        <option title="الفرع" value="0" selected>--اختار الفرع--</option>
                        @if (BranchList != null)
                        {
                            @foreach (var Branch in BranchList)
                            {
                                <option title="الفرع" value="@Branch.ID">@Branch.Name</option>
                            }
                        }
                    </select>

                </td>
            </tr>
            <tr class="data-contact-person">
                <td>
                    <label> العميل</label><br />
                    <div class="buttonInside">
                        <input style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtClientsearch" @bind:event="oninput" @onchange="(()=> GetDealType())" autocomplete="off" type="text" tabindex="4" id="inputSearch" @bind="@clients.Name">
                        <button type="button" class="erase" @onclick="@(()=>ReloadClientsList())">X</button>
                        <datalist style="width: 90%; padding-right: 20px;" id="txtClientsearch">
                            <option selected>--اختار العميل --</option>
                            @foreach (var client in ClientList)
                            {
                                <option value="@client.Name">@client.Code</option>
                            }

                        </datalist>
                    </div>
                    @*<img src="/Images/Refresh.png" @onclick="@(()=>ClientsRenew())" style="height: 40px; float: left;  position: relative; top: -40px;    left: -10px;" /><br />*@
                    <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" @onclick="@AddNewClient">إضافة عميل  </button>
                    <button class="btn" @onclick="@(()=>ClientsRenew())"><i class="fa fa-refresh" style="font-size:30px;color:red;height: 40px; float: left;position: relative; top: -51px;  left: -220px;"></i></button>

                </td>
                <td>
                    <label>رقم الملف الضريبى</label><br />
                    <MatTextField @bind-Value="@ReturnsModel.TaxFileNumber" readonly TabIndex="7"></MatTextField>
                </td>
                <td>
                    <label>الرصيد</label><br />
                    <MatTextField @bind-Value="@ReturnsModel.ClientBalance" Style="width: 85%;" Disabled="true" TabIndex="6"></MatTextField>
                    @*<img src="/Images/Refresh.png" @onclick="@(()=>BalancesRenew())" style="height: 40px; float: left;" />*@
                    <button class="btn" @onclick="@(()=>BalancesRenew())"><i class="fa fa-refresh" style="font-size:30px;color:red;height: 40px; float: left;position: relative; top: -51px;  left: -220px;"></i></button>

                </td>
            </tr>
            <tr class="data-contact-person">
                <td>
                    <label>المخزن</label><br />
                    <select title="المخزن" id="store" autocomplete="off" name="store" class="form-control EditedSelect" @bind="ReturnsModel.StoreId" TabIndex="3">
                        <option title="المخزن" value="0" selected>--اختار مخزن--</option>
                        @if (StoreList != null)
                        {
                            @foreach (var store in StoreList)
                            {
                                <option title="المخزن" value="@store.ID">@store.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <label> نوع الفاتورة</label><br />
                    <select id="typeid" name="typeid" autocomplete="off" class="form-control EditedSelect" @bind="@FlagTypeID" @bind:event="oninput" @onchange="(()=> TaxPart())" TabIndex="8">
                        <option value="0" selected>ايصال استلام</option>
                        <option value="1">فاتورة ضريبية</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" @onclick="@(()=> AddNewRow())">إضافة جديد</button>
                    <table class="table" id="maintable"  style=" width: 1200px;margin-top: 1%;">
                        <thead>
                            <tr>
                                <th style="padding: .22rem;text-align: center;width: 6%;">مسلسل</th>
                                <th style="padding:.22rem;text-align: center;width: 15%;">كود الصنف </th>
                                <th style="padding:.22rem;text-align: center;width: 35%;">اسم الصنف </th>
                                <th style="padding:.22rem;text-align: center;width: 10%;">الكمية </th>
                                <th style="padding:.22rem;text-align: center;width: 10%;">السعر </th>
                                <th style="padding:.22rem;text-align: center;width: 12%;">الاجمالى </th>
                                <th style="padding:.22rem;text-align: center;">عرض </th>
                                <th style="padding:.22rem;text-align: center;">مسح </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in sItemList)
                            {
                                <tr class="data-contact-person">
                                    <td>
                                        <input class="form-control" @bind="itm.Identifer" TabIndex="10" />
                                    </td>
                                    <td>
                                        <input class="form-control" @bind="itm.Box_ParCode" @bind:event="oninput" @onblur="(() => GetItemDataByCode(itm))" TabIndex="11" />
                                    </td>
                                    <td>
                                        <div class="buttonInside">
                                            <input style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtsearch" type="text" tabindex="12" id="inputSearch" @bind="@itm.ItemName" @bind:event="oninput" @onchange="(()=> GetItemData(itm))">
                                            <button type="button" class="erase" @onclick="@(()=>ReloadItemsList(itm))">X</button>
                                            <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                                                <option selected>--اختار صنف--</option>
                                                @foreach (var Item in ItemList)
                                                {
                                                    <option value="@Item.Name">@Item.Code</option>
                                                }

                                            </datalist>
                                        </div>
                                        @*<img src="/Images/Refresh.png" @onclick="@(() => ItemsRenew(itm))" style="top: -60px; position: relative; float: left; left: -10px;" />*@
                                        <button class="btn" @onclick="@(()=>ItemsRenew(itm))"><i class="fa fa-refresh" style="font-size:30px;color:red;top: -60px; position: relative; float: left; left: -15px;left: -355px"></i></button>

                                    </td>
                                    <td>
                                        <input class="form-control" @bind:event="oninput" @onblur="(() => ChangeItemQuantity())" @bind="itm.Quantity" TabIndex="13" />
                                    </td>
                                    <td><input type="number" step=".01"  class="form-control" @bind:event="oninput" @onblur="(() => RecalculateTotal())" @bind="itm.Price" TabIndex="14" /> </td>
                                    <td><input class="form-control" @bind="itm.Total" readonly /> </td>
                                    <td>
                                        <img src="/Images/ImageOpen.webp" alt="صورة الصنف" @onclick="() => ShowImg = true" style="height: 7%;" />
                                    </td>
                                    <td>
                                        @*,BillStores.Identifer(int)BillStores.Identifer)*@
                                        <button type="button" class="btn btn-s btn-danger" @onclick="@(() => { RemoveRow(itm); })">مسح</button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <h2>مصاريف بيعية  </h2> <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" @onclick="@AddNewExpenseRow">إضافة جديد</button>
                    <table class="table" id="maintable" style=" width: 1200px;">
                        <thead>
                            <tr>
                                <th style="padding: .22rem;text-align: center;width: 10%;">مسلسل</th>
                                <th style="padding: .22rem;text-align: center;width: 30%;">بيان </th>
                                <th style="padding: .22rem;text-align: center;width: 20%;">التكلفه </th>
                                <th style="padding: .22rem;text-align: center;width: 30%;">اسم الحساب </th>
                                <th style="padding:.22rem;text-align: center;">مسح </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (ExpenseList != null)
                                {
                                    foreach (var Expense in ExpenseList)
                                    {
                                        <tr class="data-contact-person">
                                            <td>
                                                <input class="form-control" @bind="Expense.Identifer" TabIndex="15" />
                                            </td>
                                            <td>
                                                <input class="form-control" @bind="@Expense.Name" TabIndex="16" />

                                            </td>
                                            <td>
                                                <input type="number" step=".01"  class="form-control" @bind="Expense.Amount" @bind:event="oninput" @onblur="(()=> RecalculateTotal())" TabIndex="17" />
                                            </td>
                                            <td>
                                                <select id="item" name="item" autocomplete="off" style="width:90%" class="form-control EditedSelect" @bind:event="oninput" @onchange="(()=> AddReturnBill())" @bind="Expense.ExpensesId" TabIndex="18">
                                                    <option value="0" selected>--اختار مصاريف--</option>
                                                    @if (ExpensesList != null)
                                                    {
                                                        @foreach (var Exp in ExpensesList)
                                                        {
                                                            <option value="@Exp.ID">@Exp.Name</option>
                                                        }
                                                    }
                                                </select>
                                                @*<img src="/Images/Refresh.png" @onclick="@(()=>ExpensesRenew())" style="position: relative; float: left;top: -50px;    left: -20px;" />*@
                                                @*<img src="/Images/Refresh.png" @onclick="@(()=>ExpensesRenew())" style="position: relative; float: left;top: -50px;    left: -20px;" />*@
                                                <button class="btn" @onclick="@(() => ExpensesRenew())"><i class="fa fa-refresh" style="font-size:30px;color:red;top: -50px; position: relative; float: left; left: -310px"></i></button>


                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-s btn-danger" @onclick="@(() => { RemoveExpenseRow(Expense); })">مسح</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>

                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    <label>اجمالى السعر</label><br />
                    <input class="form-control" @bind="@ReturnsModel.TotalPrice" readonly />
                </td>
                <td>
                    <label>%خصم </label><br />
                    <MatTextField OnFocusOut="() =>RecalculateTotal()" @bind-Value="@ReturnsModel.DiscountPrecentage" TabIndex="19"></MatTextField>
                </td>
                <td>
                    <label> خصم المبلغ</label><br />
                    <MatTextField OnFocusOut="() =>RecalculateTotal()" @bind-Value="@ReturnsModel.DiscountValue" TabIndex="20"></MatTextField>
                </td>
            </tr>
            <tr>
                <td>
                    <label> الاجمالى بعد الخصم</label><br />
                    <input class="form-control" @bind="@ReturnsModel.TotalAfterDiscount" title="@TotalInWords" readonly />
                </td>
            </tr>
            <tr>
                @if (ShowTaxPart)
                {
                    <td>
                        <label style="float: right;padding-right: 15%;">%</label>
                        <label style="float: right;padding-right: 27%;margin-bottom: 27px;">ضريبة خصم المنبع</label><br />
                        <input style="width: 30%;float: right;" class="form-control" @bind="ReturnsModel.SourceDeduction" @bind:event="oninput" @onchange="(() => RecalculateTotal())" tabindex="19" />
                        <input style="width: 70%;" class="form-control" @bind="ReturnsModel.SourceDeductionAmount" />
                    </td>
                    <td>
                        <label style="float: right;padding-right: 15%;">%</label>
                        <label style="float: right;padding-right: 27%;margin-bottom: 27px;">ضريبة القيمة المضافة</label><br />
                        <input style="width: 30%;float: right;" class="form-control" @bind="ReturnsModel.AddtionTax" @bind:event="oninput" @onchange="(() => RecalculateTotal())" tabindex="20" />
                        <input style="width: 70%;" class="form-control" @bind="ReturnsModel.AddtionTaxAmount" />
                    </td>
                    <td>
                        <label>الاجمالى بعد الضريبة</label><br />
                        <input class="form-control" @bind="@ReturnsModel.TotalAfterTax" title="@TotalInWordsTax" readonly />
                    </td>

                }
            </tr>
            <tr>
                <td colspan="3">
                    <label>ملاحظات</label><br />
                    <MatTextField @bind-Value="@ReturnsModel.Note" TabIndex="21"></MatTextField>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <MatCheckbox @bind-Value="@ReturnsModel.ShowNotesFlag" Label="إظهار الملاحظات فى الطباعة" TabIndex="22"></MatCheckbox>
                </td>
            </tr>
            <tr>
                <td>
                    <button @onclick="EditReturnBill" class="btn btn-success justify-content-center" disabled="@IsDisabled" style="color: white; width: 50%; background-color: #6200ee; border-color: #6200ee;" TabIndex="23">حفظ</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@*</EditForm>*@
@if (ShowImg == true)
{
    <MatDialog @bind-IsOpen="@ShowImg" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>عرض الصورة </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">
                <img src="@ItemImg" alt="صورة الصنف " style="width:100%;height:100%;" />
            </div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() =>  ShowImg = false">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (SelectClientChecker == true)
{
    <MatDialog @bind-IsOpen="@SelectClientChecker" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>!!!خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لم تختر العميل</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => SelectClientChecker = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}