﻿@page "/ClientBalanceReportRdlc"
@using System.Net.Http
@inject HttpClient Http
@layout MainLayoutWithoutMenu
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<div id="autoUpdate" class="SlideContainer">
    <table width="100%" height="100%">
        <tr>
            <td>
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                @if (ReportResult != "")
                {
                    <embed src="@ReportResult" width="100%" height="800" type="application/pdf" />
                }
                @if (ReportResultExcel != "")
                {
                    <embed src="@ReportResultExcel" width="100%" height="800" type="application/excel" />
                }
            </td>
        </tr>
    </table>
</div>
