﻿@page "/ClientBalanceReport"
@using System.Net.Http
@inject HttpClient Http
@using Radzen.Blazor
@using MasProject.Domain.ViewModel.TransVM;
@layout MainLayoutWithoutMenu
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

    .EditedSelect {
        max-height: 60px;
        background-color: #ebebeb;
        /* padding-right: 60px; */
        display: block;
        height: 50px;
        /* margin-left: 70px; */
        width: 300px;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-icon-button.mdc-ripple-upgraded {
        font-size: 1em;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .ui-button.btn-primary, .btn-primary.ui-paginator-element {
        background-color: #5541ff;
    }
</style>

<PageTitle Title=" تقرير كشف حساب العميل " @ref="PageTitle" />
<div class="row">
    <div class="col-md-4" style="width:500px;">
        <label>اسم العميل/ @clientBalance.ClientName</label>
    </div>
    <div class="col-md-4" style="width:500px;">

        @if (clientBalance.DateForm != null && clientBalance.DateForm != DateTime.MinValue)
        {
            <label>
                التاريخ من/ @clientBalance.DateForm.Value.ToString("dd-MM-yyyy")
            </label>
        }

    </div>
    <div class="col-md-4" style="width:500px;">

        @if (clientBalance.DateTo != null && clientBalance.DateTo != DateTime.MinValue)
        {
            <label>
                التاريخ الى/ @clientBalance.DateTo.Value.ToString("dd-MM-yyyy")
            </label>
        }
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-12" style="width:500px;">
        @if (clientBalance.DateForm != null && clientBalance.DateForm != DateTime.MinValue)
        {
            <label>
                رصيد العميل فى يوم @clientBalance.DateForm.Value.ToString("dd-MM-yyyy") : @clientBalance.Balance
            </label>
        }
    </div>
</div>
<br />
<br />
<div class="row" style="overflow-y: auto;max-height: 660px;">
    <button Text="Pdf" @onclick="GeneratePDF" class="btn btn-success justify-content-center" style="color: white;  background-color: #6200ee; border-color: #6200ee;">Pdf</button>
    <button Text="Excel" @onclick="Export" class="btn btn-success justify-content-center" style="color: white;  background-color: #6200ee; border-color: #6200ee;">Excel</button>
    <br /> <br />
    <RadzenGrid AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" RowDoubleClick="@((item)=>OpenBill(item))"
                Value="@transClient" PageSize="25" AllowSorting="true" ColumnWidth="150px" @ref="grid" Data="@TransClientList" TItem="TransClientVM">

        <Columns>
            <RadzenGridColumn TItem="TransClientVM" Visible="false" Property="ClientTypeID" />
            <RadzenGridColumn TItem="TransClientVM" Property="ShowDate" Title="التاريخ">
                <FooterTemplate>
                    <b>  الاجمالى</b>
                </FooterTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TransClientVM" Property="DisplayName" Title="العملية" />
            <RadzenGridColumn TItem="TransClientVM" Property="SerialNumber" Title="رقم المستند" />
            @*<RadzenGridColumn TItem="TransClientVM" Property="Debit" Title="مدين" />
                <RadzenGridColumn TItem="TransClientVM" Property="Credit" Title="دائن" />
                <RadzenGridColumn TItem="TransClientVM" Property="Balance" Title="رصيد" />*@
            <RadzenGridColumn TItem="TransClientVM" Property="Debit" Title="مدين">
                <FooterTemplate>
                    <b>@(TransClientList.Count()>0 ? TransClientList.Sum(x=>x.Debit).ToString() : "0")</b>
                </FooterTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TransClientVM" Property="Credit" Title="دائن">
                <FooterTemplate>
                    <b>@(TransClientList.Count()>0 ? TransClientList.Sum(x=>x.Credit).ToString() : "0")</b>
                </FooterTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TransClientVM" Property="Balance" Title="رصيد">
                <FooterTemplate>
                    @*<b>@(TransClientList.Count()>0 ? TransClientList.Sum(x=>x.Balance).ToString() : "0")</b>*@
                    <b>@(decimal.Parse(TransClientList.Count()>0 ? TransClientList.Sum(x=>x.Debit).ToString() : "0")- decimal.Parse(TransClientList.Count() > 0 ? TransClientList.Sum(x => x.Credit).ToString() : "0")) </b>
                </FooterTemplate>
            </RadzenGridColumn>
            @*<RadzenGridColumn TItem="TransClientVM" Property="Debit" Title="مدين">
                    <Template Context="TransClientVM">
                        @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", TransClientVM.Debit)
                    </Template>
                    <FooterTemplate>
                        Total Debit: <b>@String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", TransClientList.Sum(o => o.Debit))</b>
                    </FooterTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="TransClientVM" Property="Credit" Title="دائن">
                    <Template Context="TransClientVM">
                        @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", TransClientVM.Credit)
                    </Template>
                    <FooterTemplate>
                        Total Credit: <b>@String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", TransClientList.Sum(o => o.Credit))</b>
                    </FooterTemplate>
                </RadzenGridColumn>*@
        </Columns>
    </RadzenGrid>
</div>
