﻿@layout MainLayoutWithoutMenu
@page "/SupplierOpeningBalanceAdd"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<style>

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 500px;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    .EMatDialog {
        width: 1500px;
    }
</style>
<PageTitle Title=" إضافة الارصدة الافتتاحية للموردين" @ref="PageTitle" />

<EditForm Model="@balance" OnValidSubmit="EditSupplierOpeningBalance">
    <DataAnnotationsValidator />


    <div style="overflow-y: auto;max-height: 610px;">
        <table class="table">
            <tbody>
                <tr class="data-contact-person">
                    <td>
                        <label>رقم المستند</label>
                        <MatTextField @bind-Value="@balance.DocumentNumber" TabIndex="1"></MatTextField>
                    </td>
                    <td class="DateFormat">
                        <label>التاريخ</label>
                        <MatDatePicker @bind-Value="@balance.EntryDate" Format='dd/MM/yyyy' TabIndex="2"></MatDatePicker>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td colspan="2">
                        <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" style="float:right" tabindex="7" @onclick="@AddNewRow">إضافة جديد</button>

                        <table class="table" id="maintable" style="width:100%;height:100%;">
                            <thead>
                                <tr>
                                    <th style="padding:.22rem;text-align:center;width:15%">المورد  </th>
                                    <th style="padding:.22rem;text-align:center;width:15%">العملة  </th>
                                    <th style="padding:.22rem;text-align:center;width:10%">سعر الصرف </th>
                                    <th style="padding:.22rem;text-align:center;width:10%">الرصيد  </th>
                                    <th style="padding:.22rem;text-align:center;width:20%">ملاحظات</th>
                                    <th style="padding:.22rem;text-align:center;width:12%">مسح</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var balance in SupplierDetailsList)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" value="@balance.ID" />
                                            <select id="Sup" class="form-control EditedSelect" @bind="balance.SupplierID" @bind:event="oninput" @onchange="(()=> AddSupplierOpeningBalance(balance))" TabIndex="1">
                                                <option value="0" selected>-- اختار المورد--</option>
                                                @if (SupplierList != null)
                                                {
                                                    @foreach (var Sup in SupplierList)
                                                    {
                                                        <option value="@Sup.ID">@Sup.Name</option>
                                                    }
                                                }
                                            </select>
                                        </td>

                                        <td>
                                            <select id="curr" class="form-control EditedSelect" @bind:event="oninput" @onchange="(()=> GetRatio(balance))" @bind="balance.CurrencyID" TabIndex="3">
                                                <option value="0" selected>-- اختار العملة--</option>
                                                @if (CurrencyList != null)
                                                {
                                                    @foreach (var curr in CurrencyList)
                                                    {
                                                        <option value="@curr.ID">@curr.Name</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <MatTextField Label="سعر الصرف" @bind-Value="@balance.Ratio" TabIndex="4"></MatTextField>
                                        </td>
                                        <td>
                                            <MatTextField Label="الرصيد  " @bind-Value="@balance.Amount" TabIndex="5"></MatTextField>
                                        </td>
                                        <td>
                                            <MatTextField Label="ملاحظات" @bind-Value="@balance.Note" Style="    width: 100%;" TabIndex="6"></MatTextField>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-s btn-danger" @onclick="@(()=> {RemoveRow(balance); })" TabIndex="8">مسح</button>
                                        </td>
                                    </tr>
                                }
                                <tr class="data-contact-person">
                                    <td>
                                        @*<button type="button" disabled="@IsDisabled" class="btn btn-xs btn-primary classAdd" @onclick="@(async () => await AddSupplierOpeningBalance(balance))" TabIndex="9">حفظ</button>*@
                                        <button type="submit"  disabled=@IsTaskRunning class="btn btn-success justify-content-center" style="color: white; width: 50%; background-color: #6200ee; border-color: #6200ee;" TabIndex="10">حفظ</button>

                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</EditForm>

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (SelectSupplierChecker == true)
{
    <MatDialog @bind-IsOpen="@SelectSupplierChecker" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>!!!خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لم تختر مورد</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => SelectSupplierChecker = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}