﻿@page "/SupplierOpeningBalance"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime


<style>

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 500px;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    .EMatDialog {
        width: 1500px;
    }
</style>
<PageTitle Title="الارصدة الافتتاحية للموردين" @ref="PageTitle" />

<table width="100%">
    <tr>
        <td width="20"> </td>

        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewSupplierOpeningBalance">إضافة جديد</button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />

@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
<button class="btn" style="float:left" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>

<div class="row" style="overflow-y: auto;max-height: 440px;">
    @*<MatButton Icon="autorenew" Class="renew md-48" @onclick="@(async () => await BindList())"></MatButton>*@
    <MatTable Items="@SupplierOpeningBalanceList" AllowSelection="true" FilterByColumnName="Name" PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:" SearchTermFieldLabel="بحث" SearchTermFieldPlaceHolder="الاسم" class="mat-elevation-z5">
        <MatTableHeader>
            <th style="text-align: center;width:30%;">التاريخ</th>
            <th style="text-align: center;width:30%;">رقم المستند</th>
            @*<th style="text-align: center;width:17%;">اسم المورد </th>
                <th style="text-align: center;width:12%;">العملة </th>
                <th style="text-align: center;width:12%;">الرصيد </th>
                <th style="text-align: center;width:12%;">سعر الصرف  </th>*@
            <th style="text-align: center;width:25%;">عرض/ تعديل / حذف   </th>
        </MatTableHeader>
        <MatTableRow>
            <td style="text-align: center;width:30%;">@context.EntryDate.ToString("dd/MM/yyyy")</td>
            <td style="text-align: center;width:30%;">@context.DocumentNumber</td>

            @*<td style="text-align: center;width:17%;">@context.SupplierName</td>
                <td style="text-align: center;width:12%;">@context.CurrencyName</td>
                <td style="text-align: center;width:12%;">@context.Amount</td>
                <td style="text-align: center;width:12%;">@context.Ratio</td>*@
            <td style="width:35%;text-align:center">
                <MatButton Raised="true" @onclick="@(async () => await EditOldSupplierOpeningBalance(context.ID,"View"))" Style="padding-right: 28px; padding-left: 0px;" Icon="عرض" title="عرض الرصيد"></MatButton>

                <MatButton Raised="true" @onclick="@(async () => await EditOldSupplierOpeningBalance(context.ID,"Edit"))" Icon="edit" title="تعديل "></MatButton> &nbsp; &nbsp;
                <MatButton Raised="true" @onclick="@( () =>  DeleteSupplierOpeningBalance(context.ID,context.DocumentNumber))" Icon="delete" title="مسح "></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
</div>
