﻿@layout MainLayoutWithoutMenu
@page "/EmployeeLoanEntryEdit"
@inject NavigationManager nav
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject IJSRuntime jsRuntime
@using Radzen.Blazor

<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

     
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
        width:100%;
    }

    .renew {
        display: inline-block;
        /* width: 190%;*/
        bottom: 40%;
        right: 88%;
    }

    .ItemRenew {
        display: inline-block;
        bottom: 44%;
        right: 83%;
    }

    .BalanceRenew {
        display: inline-block;
        bottom: 50%;
        right: 88%;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
        width: 100%
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-icon-button.mdc-ripple-upgraded {
        font-size: 1em;
    }
</style>

<PageTitle Title="تعديل ادخال سلف الموظفين " @ref="PageTitle" />

<EditForm Model="@EmployeeEntry" OnValidSubmit="EditEmployeesLoansEntry">
    @*<DataAnnotationsValidator />*@
    <div class="row" style="overflow-y: auto;max-height: 610px;width: 100%;">

        <table class="table">
            <tbody>
                <tr class="data-contact-person">
                    <td>
                        <label>رقم المسلسل</label><br />
                        <MatTextField @bind-Value="@EmployeeEntry.SerialNumber" disabled="@IsDisabled" TabIndex="1"></MatTextField>
                    </td>
                    <td class="DateFormat">
                        <label>تاريخ</label><br />
                        <MatDatePicker @bind-Value="@EmployeeEntry.Date" disabled="@IsDisabled" Format='dd/MM/yyyy' TabIndex="2"></MatDatePicker>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <label>الخزينة</label><br />
                        @*<RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@EmployeeEntry.TreasuryId TabIndex="5"
                                            Placeholder="اختار الخزينة" Data=@TreasuryList TextProperty="Name" ValueProperty="ID" Style=" width: 90%;height: 50px;">
                            </RadzenDropDown>*@
                        <select title="الخزينة" id="supp" class="form-control EditedSelect" @bind="@EmployeeEntry.TreasuryId" disabled="@IsDisabled" TabIndex="3">
                            <option title="الخزينة" value="0" selected>--اختار الخزينة --</option>
                            @if (TreasuryList != null)
                            {
                                @foreach (var Tres in TreasuryList)
                                {
                                    <option title="العملة" value="@Tres.ID">@Tres.Name</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        <label>الموظف</label><br />
                        @*<RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@EmployeeEntry.EmployeeId TabIndex="5"
                                            Placeholder="اختار الموظف" Data=@EmployeeList TextProperty="Name" ValueProperty="ID" Style=" width: 90%;height: 50px;">
                            </RadzenDropDown>*@
                        <select title="الموظف" id="supp" class="form-control EditedSelect" @bind="@EmployeeEntry.EmployeeId" disabled="@IsDisabled" TabIndex="4">
                            <option title="الموظف" value="0" selected>--اختار الموظف --</option>
                            @if (EmployeeList != null)
                            {
                                @foreach (var emp in EmployeeList)
                                {
                                    <option title="العملة" value="@emp.ID">@emp.Name</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td>
                        <label> المبلغ</label><br />
                        <MatTextField @bind-Value="@EmployeeEntry.Amount" disabled="@IsDisabled" TabIndex="5"></MatTextField>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    <td colspan="2">
                        <label>ملاحظات</label><br />
                        <MatTextField @bind-Value="@EmployeeEntry.Note" disabled="@IsDisabled" TabIndex="6"></MatTextField>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-success justify-content-center" style="color: white; width: 100px; background-color: #6200ee; border-color: #6200ee;" disabled="@IsDisabled" TabIndex="7">حفظ</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
</EditForm>

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (SelectEmployeeChecker == true)
{
    <MatDialog @bind-IsOpen="@SelectEmployeeChecker" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>!!!خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لم تختر الموظف</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => SelectEmployeeChecker = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}