﻿@page "/QuotationView"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager nav
@inject IJSRuntime jsRuntime
@layout MainLayoutWithoutMenu
@using Radzen
@using Radzen.Blazor

<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ebebeb;
            width: 100%;
        }

    .renew {
        display: inline-block;
        /* width: 190%;*/
        bottom: 40%;
        right: 88%;
    }

    .ItemRenew {
        display: inline-block;
        bottom: 44%;
        right: 83%;
    }

    .BalanceRenew {
        display: inline-block;
        bottom: 50%;
        right: 88%;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
        width: 100%;
    }


    input[type="text"] {
        width: 200px;
        height: 20px;
        padding-right: 50px;
    }

    input[type="submit"] {
        margin-left: -50px;
        height: 25px;
        width: 50px;
        background: blue;
        color: white;
        border: 0;
        -webkit-appearance: none;
    }

    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 5px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }

        .erase:hover {
            cursor: pointer;
        }
</style>
<PageTitle Title=" عرض عرض السعر" />

@*<EditForm Model="@QuotModel" OnValidSubmit="EditQuotation">
    <DataAnnotationsValidator />@ref="PageTitle"*@
<div class="row" style="overflow-y: auto;max-height: 610px;">
    <table class="table">
        <tbody>
            <tr class="data-contact-person">
                <td>
                    <label>رقم المسلسل</label><br />
                    <MatTextField @bind-Value="@QuotModel.SerialNumber" disabled TabIndex="1"></MatTextField>
                </td>
                <td>
                    <label>التاريخ</label><br />
                    <MatDatePicker @bind-Value="@QuotModel.Date" disabled style="padding-right: 0px;" Format='dd/MM/yyyy' TabIndex="2"></MatDatePicker>
                    @*<input type="hidden"  @bind="QuotModel.CreatedDate"/>*@
                </td>
                <td>
                    <label>الفرع</label><br />
                    <select title="الفرع" id="branch" name="store" class="form-control EditedSelect" @bind="QuotModel.BranchId" disabled TabIndex="3">
                        <option title="الفرع" value="0" selected>--اختار الفرع--</option>
                        @if (BranchList != null)
                        {
                            @foreach (var branch in BranchList)
                            {
                                <option title="الفرع" value="@branch.ID">@branch.Name</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr class="data-contact-person">
                <td>
                    <label>اسم العميل</label><br />
                    <MatTextField @bind-Value="@QuotModel.Client" disabled TabIndex="4"></MatTextField>
                </td>
                <td>
                    <label>نوع التعامل</label><br /> @*@bind:event="oninput" @onchange="(()=> ChangeDealType())"*@
                    <select title="نوع التعامل" id="cit" class="form-control EditedSelect" @bind="@QuotModel.DealTypeId" disabled TabIndex="5">
                        <option title="نوع التعامل" value="0" selected>--اختار نوع التعامل --</option>
                        @if (DealTypeList != null)
                        {
                            @foreach (var DealType in DealTypeList)
                            {
                                <option title="نوع التعامل" value="@DealType.ID">@DealType.Name</option>
                            }
                        }
                    </select>

                </td>
                <td>
                </td>
            </tr>
            <tr class="data-contact-person">
                <td>
                    <label>رقم الملف الضريبى</label><br />
                    <MatTextField @bind-Value="@QuotModel.TaxFileNumber" disabled TabIndex="7"></MatTextField>
                </td>
                <td>
                    <label> نوع الفاتورة</label><br />@*@bind:event="oninput" @onchange="(()=> TaxPart())"*@
                    <select id="typeid" name="typeid" class="form-control EditedSelect" disabled @bind="@FlagTypeID" TabIndex="8">
                        <option value="0" selected>ايصال استلام</option>
                        <option value="1">فاتورة ضريبية</option>
                    </select>
                </td>
                <td>
                    <label>التحويل</label><br />
                    <select id="convert" class="form-control EditedSelect" @bind="@QuotModel.convert" disabled style=" background-color: #8c53b0; color: white;" TabIndex="9">
                        <option value="Select">--التحويل--</option>
                        <option value="SalesBillAdd"> فاتورة مبيعات  </option>
                        <option value="SalesExecutiveAdd"> فاتورة تنفيذ  </option>
                        <option value="SalesMaintanceAdd"> فاتورة صيانة   </option>
                    </select>

                </td>

            </tr>
            <tr>
                <td colspan="3">
                    @*<button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" @onclick="@AddNewRow" disabled  >إضافة جديد</button>*@
                    <table class="table" id="maintable" style="margin-top: 1%;width: 1200px;">
                        <thead>
                            <tr>
                                <th style="padding: .22rem;text-align: center;width: 6%;">مسلسل</th>
                                <th style="padding:.22rem;text-align: center;width: 15%;">كود الصنف </th>
                                <th style="padding:.22rem;text-align: center;width: 40%;">اسم الصنف </th>
                                <th style="padding:.22rem;text-align: center;width: 10%;">الكمية </th>
                                <th style="padding:.22rem;text-align: center;width: 12%;">السعر </th>
                                <th style="padding:.22rem;text-align: center;width: 12%;">الاجمالى </th>
                                <th style="padding:.22rem;text-align: center;">عرض </th>
                                @*<th style="padding:.22rem;text-align: center;">مسح </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in QItemList)
                            {
                                <tr class="data-contact-person">
                                    <td>
                                        <input class="form-control" @bind="itm.Identifer" disabled TabIndex="10" />
                                    </td>
                                    <td>
                                        <input class="form-control" @bind="itm.Box_ParCode" disabled TabIndex="11" />
                                    </td>
                                    @*@bind:event="oninput" @onblur="(()=> GetItemDataByCode(itm))"
                                        @bind:event="oninput" @onchange="(()=> GetItemData(itm))" @onfocus="@(() => EraseText(itm))"*@
                                    <td>

                                        <div class="buttonInside">
                                            <input style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtsearch" type="text" tabindex="6" id="inputSearch" @bind="@itm.ItemName">
                                            @*<button type="button" class="erase" @onclick="@(()=>ReloadItemsList(itm))">X</button>*@
                                            <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                                                <option selected>--اختار صنف--</option>
                                                @foreach (var Item in ItemList)
                                                {
                                                    <option value="@Item.Name">@Item.Code</option>
                                                }

                                            </datalist>
                                        </div>

                                        @*@bind:event="oninput" @onblur="(()=> RecalculateTotal())"<img src="/Images/Refresh.png" @onclick="@(()=>ItemsRenew(itm))" disabled style="top: -60px; position: relative; float: left; left: -10px;" />@bind:event="oninput" @onblur="(()=> ChangeItemQuantity())" *@
                                    </td>
                                    <td>
                                        <input class="form-control" @bind="itm.Quantity" disabled TabIndex="13" />
                                    </td>
                                    <td><input type="number" step=".01" class="form-control" @bind="itm.Price" disabled TabIndex="14" /> </td>
                                    <td><input class="form-control" @bind="itm.Total" disabled readonly /> </td>
                                    <td>
                                        <img src="/Images/ImageOpen.webp" alt="صورة الصنف" @onclick="(() => ShowImage(itm))" style="height: 7%;" />
                                    </td>
                                    @*<td>
                                            <button type="button" class="btn btn-s btn-danger" disabled @onclick="@(()=> {RemoveRow(itm); })">مسح</button>
                                        </td>*@
                                </tr>
                            }
                        </tbody>

                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <label>اجمالى السعر</label><br />
                    <input class="form-control" @bind="@QuotModel.TotalPrice" disabled readonly />
                </td>
                <td>
                    @*OnFocusOut="() =>RecalculateTotal()"OnFocusOut="() =>RecalculateTotal()"*@
                    <label>%خصم </label><br />
                    <MatTextField disabled @bind-Value="@QuotModel.DiscountPrecentage" TabIndex="15"></MatTextField>
                </td>
                <td>
                    <label> خصم المبلغ</label><br />
                    <MatTextField disabled @bind-Value="@QuotModel.DiscountValue" TabIndex="16"></MatTextField>
                </td>
            </tr>
            <tr>
                <td>
                    <label> الاجمالى بعد الخصم</label><br />
                    <input class="form-control" @bind="@QuotModel.TotalAfterDiscount" disabled title="@TotalInWords" readonly />
                </td>
            </tr>
            <tr>
                @if (ShowTaxPart)
                {
                    <td>
                        @*@bind:event="oninput" @onchange="(() => RecalculateTotal())"@bind:event="oninput" @onchange="(() => RecalculateTotal())"*@
                        <label style="float: right;padding-right: 15%;">%</label>
                        <label style="float: right;padding-right: 27%;margin-bottom: 27px;">ضريبة خصم المنبع</label><br />
                        <input style="width: 30%;float: right;" class="form-control" disabled @bind="QuotModel.SourceDeduction" tabindex="17" />
                        <input style="width: 70%;" class="form-control" disabled @bind="QuotModel.SourceDeductionAmount" />
                    </td>
                    <td>
                        <label style="float: right;padding-right: 15%;">%</label>
                        <label style="float: right;padding-right: 27%;margin-bottom: 27px;">ضريبة القيمة المضافة</label><br />
                        <input style="width: 30%;float: right;" class="form-control" disabled @bind="QuotModel.AddtionTax" tabindex="18" />
                        <input style="width: 70%;" class="form-control" disabled @bind="QuotModel.AddtionTaxAmount" />
                    </td>
                    <td>
                        <label>الاجمالى بعد الضريبة</label><br />
                        <input class="form-control" @bind="@QuotModel.TotalAfterTax" disabled title="@TotalInWordsTax" readonly />
                    </td>

                }
            </tr>
            <tr>
                <td colspan="3">
                    <label>ملاحظات</label><br />
                    <MatTextField @bind-Value="@QuotModel.Note" disabled TabIndex="19"></MatTextField>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <MatCheckbox @bind-Value="@QuotModel.ShowNotesFlag" disabled Label="إظهار الملاحظات فى الطباعة" TabIndex="20"></MatCheckbox>
                </td>
                <td>
                    @*<label>User  </label>  , <label>Reviewer  </label> , <label>Author </label>*@
                </td>
            </tr>
            <tr>
                <td>
                    @*<button @onclick="EditQuotation" disabled  class="btn btn-success justify-content-center" style="color: white; width: 50%; background-color: #6200ee; border-color: #6200ee;" TabIndex="21">حفظ</button>*@
                </td>
            </tr>
        </tbody>
    </table>
</div>

@*</EditForm>*@
@if (ShowImg == true)
{
    <MatDialog @bind-IsOpen="@ShowImg" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>عرض الصورة </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">
                <img src="@ItemImg" alt="صورة الصنف " style="width:100%;height:100%;" />
            </div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() =>  ShowImg = false">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@*@if (ShowConfirm == true)
    {
        <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
            <MatDialogTitle>نجاح </MatDialogTitle>
            <MatDialogContent>
                <div class="modal-body">تمت العملية بنجاح</div>
                <div class="modal-footer">
                    <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()" Id="OKBtn">حسنا</MatButton>
                </div>
            </MatDialogContent>
        </MatDialog>
    }*@
@*@if (SelectDealTypeChecker == true)
    {
        <MatDialog @bind-IsOpen="@SelectDealTypeChecker" Class="MatDialog" Style="width:100%;height:100%">
            <MatDialogTitle>!!!خطأ </MatDialogTitle>
            <MatDialogContent>
                <div class="modal-body">لم تختر نوع التعامل</div>
                <div class="modal-footer">
                    <MatButton type="button" class="btn btn-secondary" @onclick="(() => SelectDealTypeChecker = false)">حسنا</MatButton>
                </div>
            </MatDialogContent>
        </MatDialog>
    }*@