﻿@layout MainLayoutWithoutMenu
@page "/QuotationAdd"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@using Radzen
@using Radzen.Blazor



<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ebebeb;
            width: 100%;
        }

    .renew {
        display: inline-block;
        /* width: 190%;*/
        bottom: 40%;
        right: 88%;
    }

    .ItemRenew {
        display: inline-block;
        bottom: 44%;
        right: 83%;
    }

    .BalanceRenew {
        display: inline-block;
        bottom: 50%;
        right: 88%;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
        width: 100%;
    }

    
    /* input[type="text"] {
        width: 200px;
        height: 20px;
        padding-right: 50px;
    }

    input[type="submit"] {
        margin-left: -50px;
        height: 25px;
        width: 50px;
        background: blue;
        color: white;
        border: 0;
        -webkit-appearance: none;
    }*/
    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }
    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }
    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color : none;
    }

    .erase:hover {
        cursor: pointer;
    }
</style>


<PageTitle Title="إضافة عرض السعر" @ref="PageTitle" />

@*<EditForm Model="@QuotModel" OnValidSubmit="EditQuotation">
    <DataAnnotationsValidator />*@
<div class="row" style="overflow-y: auto;max-height: 610px;">
    <table class="table">
        <tbody>
            <tr class="data-contact-person">
                <td>
                    <label>رقم المسلسل</label><br />
                    <MatTextField @bind-Value="@QuotModel.SerialNumber" TabIndex="1"></MatTextField>
                </td>
                <td>
                    <label>التاريخ</label><br />
                    <MatDatePicker @bind-Value="@QuotModel.Date" style="padding-right: 0px;" Format='dd/MM/yyyy' TabIndex="2"></MatDatePicker>
                </td>
                <td>
                    <label>الفرع</label><br />
                    <select title="الفرع" autocomplete="off" id="branch" name="store" class="form-control EditedSelect"  @bind:event="oninput" @onchange="(()=> GetSerialNumber())"  @bind="QuotModel.BranchId" TabIndex="3">
                        <option title="الفرع" value="0" selected>--اختار الفرع--</option>
                        @if (BranchList != null)
                        {
                            @foreach (var branch in BranchList)
                            {
                                <option title="الفرع" value="@branch.ID">@branch.Name</option>
                            }
                        }
                    </select>
                    @*<RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@QuotModel.BranchId  TabIndex="3"
                                        Data=@BranchList TextProperty="Name" ValueProperty="ID" Style=" width: 100%;height:50px;">
                        </RadzenDropDown>*@
                </td>
            </tr>
            <tr class="data-contact-person">
                <td>
                    <label>اسم العميل</label><br />
                    <MatTextField @bind-Value="@QuotModel.Client" TabIndex="4"></MatTextField>
                </td>

                <td>
                    <label>نوع التعامل</label><br />
                    @*<RadzenDropDown AllowClear="true" AllowFiltering="true"  @bind-Value=@QuotModel.DealTypeId Change=@(()=> ChangeDealType()) TabIndex="5"
                                        Data=@DealTypeList TextProperty="Name" ValueProperty="ID" Style=" width: 100%;height:50px;">
                        </RadzenDropDown>*@
                    <select title="نوع التعامل" id="cit" class="form-control EditedSelect" @bind="@QuotModel.DealTypeId" autocomplete="off" @bind:event="oninput" @onchange="(()=> ChangeDealType())" TabIndex="5">
                        <option title="نوع التعامل" value="0" selected>--اختار نوع التعامل --</option>
                        @if (DealTypeList != null)
                        {
                            @foreach (var DealType in DealTypeList)
                            {
                                <option title="نوع التعامل" value="@DealType.ID">@DealType.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>
                </td>
            </tr>
            <tr class="data-contact-person">
                <td>
                    <label>رقم الملف الضريبى</label><br />
                    <MatTextField @bind-Value="@QuotModel.TaxFileNumber" TabIndex="6"></MatTextField>
                </td>
                <td>
                    <label> نوع الفاتورة</label><br />
                    <select id="typeid" name="typeid" class="form-control EditedSelect" autocomplete="off" @bind="@FlagTypeID" @bind:event="oninput" @onchange="(()=> TaxPart())" TabIndex="7">
                        <option value="0" selected>ايصال استلام</option>
                        <option value="1">فاتورة ضريبية</option>
                    </select>
                </td>
                <td>
                    @*@if (ItemImg != "")
                        {
                            <img src="@ItemImg" alt="صورة المنتج" style="width:70%;height:70%;" />
                        }
                        else
                        {
                            <img src="/Images/items/DefaultItem.jpg" alt="صورة المنتج" style="width:70%;height:70%;" />
                        }*@
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" @onclick="@AddNewRow">إضافة جديد</button>
                    <table class="table" id="maintable" style="margin-top: 1%;width: 1200px;">
                        <thead>
                            <tr>
                                <th style="padding: .22rem;text-align: center;width: 6%;">مسلسل</th>
                                <th style="padding:.22rem;text-align: center;width: 15%;">كود الصنف </th>
                                <th style="padding:.22rem;text-align: center;width: 40%;">اسم الصنف </th>
                                <th style="padding:.22rem;text-align: center;width: 10%;">الكمية </th>
                                <th style="padding:.22rem;text-align: center;width: 12%;">السعر </th>
                                <th style="padding:.22rem;text-align: center;width: 12%;">الاجمالى </th>
                                <th style="padding:.22rem;text-align: center;">عرض </th>
                                <th style="padding:.22rem;text-align: center;">مسح </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in QItemList)
                            {
                                <tr class="data-contact-person">
                                    <td>
                                        <input class="form-control" @bind="itm.Identifer" TabIndex="8" />
                                    </td>
                                    <td>
                                        <input class="form-control" @bind="itm.Box_ParCode" @bind:event="oninput" @onblur="(()=> GetItemDataByCode(itm))" TabIndex="9" />
                                    </td>
                                    <td>

                                        <div class="buttonInside">
                                            <input style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtsearch" type="text" tabindex="6" autocomplete="off" id="inputSearch" @bind="@itm.ItemName" @bind:event="oninput" @onchange="(()=> GetItemData(itm))">
                                            <button type="button" class="erase" @onclick="@(()=>ReloadItemsList(itm))">X</button>
                                            <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                                                <option selected>--اختار صنف--</option>
                                                @foreach (var Item in ItemList)
                                                {
                                                    <option value="@Item.Name">@Item.Code</option>
                                                }

                                            </datalist>
                                        </div>

                                        @*<img src="/Images/Refresh.png" @onclick="@(()=>ItemsRenew(itm))" style="top: -60px; position: relative; float: left; left: -10px;" />*@
                                        <button class="btn" @onclick="@(()=>ItemsRenew(itm))"><i class="fa fa-refresh" style="font-size:30px;color:red;top: -60px; position: relative; float: left; left: -380px"></i></button>

                                    </td>
                                    <td>
                                        <input class="form-control" @bind:event="oninput" @onblur="(()=> ChangeItemQuantity())" @bind="itm.Quantity" TabIndex="11" />
                                    </td>
                                    <td><input type="number" step=".01"  class="form-control" @bind:event="oninput" @onblur="(()=> RecalculateTotal())" @bind="itm.Price" TabIndex="12" /> </td>
                                    <td><input class="form-control" @bind="itm.Total" readonly /> </td>
                                    <td>
                                        <img src="/Images/ImageOpen.webp" alt="صورة الصنف" @onclick="() =>  ShowImg = true" style="height: 7%;" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-s btn-danger" @onclick="@(()=> {RemoveRow(itm); })">مسح</button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <label>اجمالى السعر</label><br />
                    <input class="form-control" @bind="@QuotModel.TotalPrice" readonly />
                </td>
                <td>
                    <label>%خصم </label><br />
                    <MatTextField OnFocusOut="() =>RecalculateTotal()" @bind-Value="@QuotModel.DiscountPrecentage" TabIndex="13"></MatTextField>
                </td>
                <td>
                    <label> خصم المبلغ</label><br />
                    <MatTextField OnFocusOut="() =>RecalculateTotal()" @bind-Value="@QuotModel.DiscountValue" TabIndex="14"></MatTextField>
                </td>
            </tr>
            <tr>
                <td>
                    <label> الاجمالى بعد الخصم</label><br />
                    <input class="form-control" @bind="@QuotModel.TotalAfterDiscount" title="@TotalInWords" readonly />
                </td>
            </tr>
            <tr>
                @if (ShowTaxPart)
                {
                    <td>
                        <label style="float: right;padding-right: 15%;">%</label>
                        <label style="float: right;padding-right: 27%;margin-bottom: 27px;">ضريبة خصم المنبع</label><br />
                        <input style="width: 30%;float: right;" class="form-control" @bind="QuotModel.SourceDeduction" @bind:event="oninput" @onchange="(() => RecalculateTotal())" tabindex="15" />
                        <input style="width: 70%;" class="form-control" @bind="QuotModel.SourceDeductionAmount" />
                    </td>
                    <td>
                        <label style="float: right;padding-right: 15%;">%</label>
                        <label style="float: right;padding-right: 27%;margin-bottom: 27px;">ضريبة القيمة المضافة</label><br />
                        <input style="width: 30%;float: right;" class="form-control" @bind="QuotModel.AddtionTax" @bind:event="oninput" @onchange="(() => RecalculateTotal())" tabindex="16" />
                        <input style="width: 70%;" class="form-control" @bind="QuotModel.AddtionTaxAmount" />
                    </td>
                    <td>
                        <label>الاجمالى بعد الضريبة</label><br />
                        <input class="form-control" @bind="@QuotModel.TotalAfterTax" title="@TotalInWordsTax" readonly />
                    </td>

                }
            </tr>
            <tr>
                <td colspan="3">
                    <label>ملاحظات</label><br />
                    <MatTextField @bind-Value="@QuotModel.Note" TabIndex="17"></MatTextField>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <MatCheckbox @bind-Value="@QuotModel.ShowNotesFlag" Label="إظهار الملاحظات فى الطباعة" TabIndex="18"></MatCheckbox>
                </td>
            </tr>
            <tr>
                <td>
                    <button @onclick="EditQuotation" class="btn btn-success justify-content-center" style="color: white; width: 50%; background-color: #6200ee; border-color: #6200ee;" TabIndex="19" disabled="@IsDisabled">حفظ</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@*</EditForm>*@
@if (ShowImg == true)
{
    <MatDialog @bind-IsOpen="@ShowImg" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>عرض الصورة </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">
                <img src="@ItemImg" alt="صورة الصنف " style="width:100%;height:100%;" />
            </div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() =>  ShowImg = false">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (SelectDealTypeChecker == true)
{
    <MatDialog @bind-IsOpen="@SelectDealTypeChecker" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>!!!خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لم تختر نوع التعامل</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => SelectDealTypeChecker = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}