﻿@layout MainLayoutWithoutMenu
@page "/EmployeeOpeningBalanceAdd"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<style>

    h1 {
        float: right;
    }


    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 800px;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    aria-label {
        text-align: left;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
        width: 100%;
    }
</style>
<PageTitle Title=" إضافة الارصدة الافتتاحية للموظفين" @ref="PageTitle" />

<EditForm Model="@balance">
    <DataAnnotationsValidator />
    <table class="table">
        <tbody>
            <tr class="data-contact-person">
                <td>
                    <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" style="float:right" @onclick="@AddNewRow">إضافة جديد</button>
                    <table class="table" id="maintable" style="width:100%;height:100%;">
                        <thead>
                            <tr>
                                <th style="padding:.22rem;text-align:center;width:20%">الموظف  </th>
                                <th style="padding:.22rem;text-align:center;width:18%">التاريخ   </th>
                                <th style="padding:.22rem;text-align:center;width:20%">الرصيد  </th>
                                <th style="padding:.22rem;text-align:center;width:30%">ملاحظات</th>
                                <th style="padding:.22rem;text-align:center;width:12%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var balance in EmployeeOpenningList)
                            {
                                <tr>
                                    <td>
                                        <input type="hidden" value="@balance.ID" />
                                        <select id="emp" class="form-control EditedSelect" @bind="balance.EmployeeID" TabIndex="1">
            <option value="0" selected>-- اختار الموظف--</option>
            @if (EmployeeList != null)
            {
                @foreach (var emp in EmployeeList)
                {
                    <option value="@emp.ID">@emp.Name</option>
                }
            }
        </select>
                                        @*<input list="txtsearch" name="txtsearchs" id="txtsearchs" @bind="@balance.EmployeeName" @bind:event="oninput" tabindex="1" style="width: 90%;padding-right: 20px; background-color: rgb(235, 235, 235)" class="form-control">
                                        <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                                            <option selected>--اختار موظف--</option>
                                            @foreach (var emp in EmployeeList)
                                            {
                                                <option>@emp.Name</option>
                                            }

                                        </datalist>*@
                                    </td>
                                    <td class="DateFormat">
                                        <MatDatePicker  @bind-Value="@balance.EntryDate" Format='dd/MM/yyyy' TabIndex="2"></MatDatePicker>
                                    </td>
                                    <td>
                                        <MatTextField Label="الرصيد" @bind-Value="@balance.Amount" TabIndex="3"></MatTextField>
                                    </td>
                                    <td>
                                        <MatTextField Label="ملاحظات" @bind-Value="@balance.Note" TabIndex="4"></MatTextField>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-xs btn-primary classAdd" @onclick="@(async () => await AddEmployeeOpeningBalance(balance))" disabled="@IsDisabled" TabIndex="5">حفظ</button>
                                        <button type="button" class="btn btn-s btn-danger" @onclick="@(()=> {RemoveRow(balance); })" TabIndex="6">مسح</button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</EditForm>

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (SelectEmployeeChecker == true)
{
    <MatDialog @bind-IsOpen="@SelectEmployeeChecker" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>!!!خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لم تختر عميل</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => SelectEmployeeChecker = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}