﻿@layout MainLayoutWithoutMenu
@page "/EmployeeOpeningBalanceEdit"
@inject NavigationManager nav
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
<style>

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 500px;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    .EMatDialog {
        width: 1500px;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
        width: 100%;
    }
</style>
<PageTitle Title=" تعديل الارصدة الافتتاحية للموظفين" @ref="PageTitle" />

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
<EditForm Model="@balance" OnValidSubmit="EditEmployeeOpeningBalance">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <label>الموظف</label><br />
                <select id="emp" class="form-control EditedSelect" @bind="balance.EmployeeID" style="width:495px;" disabled="@IsDisabled" TabIndex="1">
                    <option value="0" selected>-- اختار الموظف--</option>
                    @if (EmployeeList != null)
                    {
                        @foreach (var emp in EmployeeList)
                        {
                            <option value="@emp.ID">@emp.Name</option>
                        }
                    }
                </select>
                <ValidationMessage For="@(() => balance.EmployeeID)" />
                <label class="text-danger">@ValidateMessagePerson</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 DateFormat">
                <label>التاريخ</label><br />
                <MatDatePicker   @bind-Value="@balance.EntryDate" Format='dd/MM/yyyy' style="width:495px;" disabled="@IsDisabled" TabIndex="2"></MatDatePicker>
                <ValidationMessage For="@(() =>balance.EntryDate)" />
                <label class="text-danger">@ValidateMessageEntryD</label>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <label>الرصيد</label><br />
                <MatTextField  @bind-Value="@balance.Amount" style="width:495px;" disabled="@IsDisabled" TabIndex="3"></MatTextField>
                <ValidationMessage For="@(() =>balance.Amount)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>ملاحظات</label><br />
                <MatTextField Label="ملاحظات" style="width: 495px;" @bind-Value="@balance.Note" disabled="@IsDisabled" TabIndex="4"></MatTextField>
                <ValidationMessage For="@(() =>balance.Note)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success justify-content-center" disabled="@IsDisabled" style="color: white; width: 220px; background-color: #6200ee;margin-right: 15px;" TabIndex="7">حفظ</button>
            </div>
        </div>
    </div>
</EditForm>
