﻿@page "/ItemCollection"
@using System.Net.Http
@inject HttpClient Http
@*@using Radzen.Blazor*@
@using MatBlazor
@using Radzen.Blazor

<style>
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    h1 {
        float: right;
    }



    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }
    /* .new {
        float: right;
        top: 40px;
    }
    .mdc-paginator-container {
        align-items: center;
        justify-content: center;
    }*/
    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }




    body {
        overflow: scroll;
    }

    .CollectionTH {
        width: 20%;
        text-align: center;
    }

    .CollectionName {
        width: 50%;
        text-align: center;
    }

    .CollectionArr {
        width: 30%;
        text-align: center;
    }
</style>
<PageTitle Title="  مجموعات المنتجات" @ref="PageTitle" />

<table width="100%" style="color:honeydew">
    <tr>
        <td width="20"> </td>

        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewItemCollection">إضافة جديد</button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />
@if (showAddrow == true)
{
    <EditForm Model="@collec" OnValidSubmit="AddItemCollection">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-md-6">
                <MatTextField Label="اسم المجموعة" @bind-Value="@collec.Name" OnFocusOut="() =>CheckName()" TabIndex="1"></MatTextField>
                <ValidationMessage For="@(() =>collec.Name)" />
                <label class="text-danger">@ValidateMessageName</label>
            </div>


            <div class="col-md-6">
                <MatTextField Label="ترتيب المجموعة" @bind-Value="@collec.arrangement" OnFocusOut="() =>CheckArrangement()" TabIndex="2"></MatTextField>
                <ValidationMessage For="@(() =>collec.arrangement)" />
                <label class="text-danger">@ValidateMessageArrangement</label>
            </div>
        </div>
        <div class="row" style="float:left">
            @*<button type="submit" class="btn btn-success justify-content-center" @onclick="@AddItemCollection" style="width:220px;margin-right:30px;background-color: #6200ee;border-color: #6200ee;">حفظ</button>*@
            <MatButton Type="submit" Disabled="@IsDisabled" style="width:220px;margin-right:30px;background-color: #6200ee;border-color: #6200ee;color:white"> حفظ</MatButton>
            @*<button class="btn btn-success justify-content-center" style="width:220px;margin-right:30px;background-color: #6200ee;border-color:#6200ee;">الغاء</button>*@
            <MatButton OnClick="@Cancel" style="width:220px;margin-right:30px;background-color: #6200ee;border-color:#6200ee;color:white"> الغاء</MatButton>
        </div>
    </EditForm>
}
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (showEditrow == true)
{

    <EditForm Model="@collec" OnValidSubmit="EditItemCollection">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-md-6">
                <MatTextField Label="اسم المجموعة" @bind-Value="@collec.Name" OnFocusOut="() => CheckName()"></MatTextField>
                <ValidationMessage For="@(() => collec.Name)" />
                <label class="text-danger">@ValidateMessageName</label>
            </div>


            <div class="col-md-6">
                <MatTextField Label="ترتيب المجموعة" @bind-Value="@collec.arrangement" OnFocusOut="() => CheckArrangement()"></MatTextField>
                <ValidationMessage For="@(() => collec.arrangement)" />
                <label class="text-danger">@ValidateMessageArrangement</label>
            </div>
        </div>
        @*<button type="submit" class="btn btn-success justify-content-center" @onclick="@EditItemCollection" style="width:220px;margin-right:30px;">تعديل</button>*@
        <div class="row" style="float:left">
            <MatButton Type="submit" style="width:220px;margin-right:30px;background-color: #6200ee;border-color: #6200ee;color:white"> حفظ</MatButton>
            <MatButton OnClick="@Cancel" style="width:220px;margin-right:30px;background-color: #6200ee;border-color:#6200ee;color:white"> الغاء</MatButton>
        </div>
    </EditForm>
}
<button class="btn" style="float:left" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>

<div class="row" style="overflow-y: auto;max-height: 440px;">
    <hr />
    <MatTable Items="@ItemCollectionList" AllowSelection="true" FilterByColumnName="Name" PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:" SearchTermFieldLabel="بحث" SearchTermFieldPlaceHolder="الاسم" class="mat-elevation-z5">
        <MatTableHeader>
            <th class="CollectionArr" style="text-align: center;width:20%">ترتيب المجموعة</th>
            <th class="CollectionName" style="text-align: center;width:60%">اسم المجموعة</th>

            <th style="text-align: center;width:20%" class="CollectionTH">تعديل / حذف   </th>
        </MatTableHeader>
        <MatTableRow>
            <td style="text-align: center;width:20%">@context.arrangement</td>
            <td style="text-align: center;width:60%">@context.Name</td>

            <td style="text-align: center;width:20%">
                <MatButton Raised="true" @onclick="@(async () => await EditOldItemCollection(context.ID))" Icon="edit" title="تعديل المجموعة"></MatButton>
                <MatButton Raised="true" @onclick="@(() =>DeleteItemCollection(context.ID))" Icon="restore_from_trash" title="مسح المجموعة"></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
    @*<input type="text" id="goto" name="f-name" class="form-control f-name01" @bind:event="oninput" @onchange="GotoPage"  />*@

</div>

@*<RadzenGrid AllowFiltering="true" AllowPaging="true" PageSize="4"
                AllowSorting="true" Data="@collection" TItem="ItemCollection" ColumnWidth="200px">
        <Columns>

            <RadzenGridColumn TItem="ItemCollection" Property="Name" Title="Name" />
            <RadzenGridColumn TItem="ItemCollection" Property="arrangement" Title="Arrangement" />
        </Columns>

    </RadzenGrid>*@