﻿@page "/StoreAdd"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@layout MainLayoutWithoutMenu



<style>

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }
    label {
        display: block;
        text-align: right;
        font-size: 1em;
        font-weight: 600;
    }
</style>
<PageTitle Title="إضافة مخزن" @ref="PageTitle" />

<EditForm Model="@StoreModel" OnValidSubmit="AddStore">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-6">
            <MatTextField Label="اسم المخزن" @bind-Value="@StoreModel.Name" OnFocusOut="() =>CheckName()" TabIndex="1"></MatTextField>
            <ValidationMessage For="@(() =>StoreModel.Name)" />
            <label class="text-danger">@ValidateMessageName</label>
        </div>
        <div class="col-md-6">
            <MatTextField Label="ترتيب " @bind-Value="@StoreModel.arrangement" OnFocusOut="() =>CheckArrangement()" TabIndex="2"></MatTextField>
            @*<ValidationMessage For="@(() =>StoreModel.arrangement)" />*@
                <label class="text-danger">@ValidateMessageArrangement</label>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <MatTextField Label="العنوان" @bind-Value="@StoreModel.Address" Style="width: 495px;" TabIndex="3"></MatTextField>
            @*<ValidationMessage For="@(() =>StoreModel.Address)" />*@
        </div>
    </div>
    @*<div class="row">
            <div class="col-md-12">
                <select id="dept" class="form-control EditedSelect" @bind="@StoreModel.BranchID" style="width: 450px;" TabIndex="3">
                    <option value="0" selected>اختار الفرع</option>
                    @if (BranchList != null)
                    {
                        @foreach (var branch in BranchList)
                        {
                            <option value="@branch.ID">@branch.Name</option>
                        }
                    }
                </select>
                <ValidationMessage For="@(() => StoreModel.BranchID)" />
                <label class="text-danger">@ValidateMessageBranch</label>
            </div>
        </div>*@
    <div class="row">
        <div class="col-md-6">
            <MatTextField Label=" التليفون" @bind-Value="@StoreModel.Phone" TabIndex="5"></MatTextField>
            @*<ValidationMessage For="@(() =>StoreModel.Phone)" />*@
        </div>
        <div class="col-md-6">
            <MatTextField Label=" المحمول" @bind-Value="@StoreModel.Mobile" TabIndex="6"></MatTextField>
            @*<ValidationMessage For="@(() =>StoreModel.Phone)" />*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="width:50%">
            <MatCheckbox Label=" الرئيسي" @bind-Value="StoreModel.MainStore" TabIndex="7"></MatCheckbox>
        </div>
        <div class="col-md-6">
            <label>أمين المخزن</label>
            <select id="cit" class="form-control EditedSelect" @bind="@StoreModel.EmployeeID" style="height: 50px;width: 230px;margin-left: 140px;" TabIndex="8">
                <option title="أمين المخزن" value="0" selected>--اختار أمين المخزن--</option>
                @if (EmpList != null)
                {
                @foreach (var Emp in EmpList)
                    {
                <option title="أمين المخزن" value="@Emp.ID">@Emp.Name</option>
                    }
                }
            </select>
            @*<MatTextField Label=" أمين المخزن" @bind-Value="@StoreModel.GradId" TabIndex="6"></MatTextField>*@
            @*<ValidationMessage For="@(() =>StoreModel.Gra`dId)" />*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <MatTextField Label="ملاحظات" @bind-Value="@StoreModel.Note" Style="width: 495px;" TabIndex="9"></MatTextField>
            @*<ValidationMessage For="@(() =>StoreModel.Note)" />*@
        </div>
    </div>
    <div class="row">
        <button type="submit" disabled="@IsDisabled" class="btn btn-success justify-content-center" style="        color: white;
        width: 220px;
        margin-right: 30px;
        background-color: #6200ee;
        border-color: #6200ee;">حفظ</button>
    </div>
   
</EditForm>
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}