﻿@page "/TransferRequest"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
<style>
    label{
        text-align:justify;
    }
    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }

        .erase:hover {
            cursor: pointer;
        }
    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1300px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    .table thead th {
        font-family: Arial;
        font-size: 15px;
    }

    .table tr td {
        font-family: Arial;
        font-size: 15px;
    }
</style>
<PageTitle Title="طلب التحويل " @ref="PageTitle" />

<table width="100%">
    <tr>
        <td width="20"> </td>
        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewTransferRequest">إضافة جديد</button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
<table width="100%">
    <tr>

        @*<td>
             <label>بحث بالفرع</label>
             <select title="الفرع" id="emp" style="        width: 50%;
         ;
        height: 50px;
         max-height: 60px;
         padding-right: 20px;
         background-color: rgb(235, 235, 235)" class="form-control EditedSelect" autocomplete="off" @bind:event="oninput" @onchange="(()=> GetAllByBranch())" @bind="TransRequest.BranchToID"  TabIndex="3">
                 <option title="الفرع"></option>
                 @if (BranchList != null)
                 {
                     @foreach (var Branch in BranchList)
                     {
                         <option title="الفرع" value="@Branch.ID">@Branch.Name</option>

                     }
                 }
             </select>
         </td>*@
        <td style="width: 100%;padding-right:400px;">
            <label style="text-align:center;color:red;padding-left:310px;">بحث بالفرع</label>
            <select title="الفرع" id="emp" autocomplete="off" style="width:40%;height: 50px;max-height: 60px;padding-right: 20px;background-color: rgb(235, 235, 235)" class="form-control EditedSelect" @bind:event="oninput" @onchange="(()=> GetAllByBranch())" @bind="TransRequest.BranchToID" TabIndex="3">
                <option title="الفرع" value="0" selected>اختار فرع</option>
                @if (BranchList != null)
                {
                    @foreach (var Branch in BranchList)
                    {
                        <option title="الفرع" value="@Branch.ID">@Branch.Name</option>

                    }
                }
            </select>
        </td>
        <td align="left">
            @*<MatButton Icon="autorenew" Class="renew md-48" @onclick="@(async () => await BindList())"></MatButton>*@
            <button class="btn" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>

        </td>

    </tr>
    <tr>
        <td colspan="3">
        </td>
    </tr>
</table>
<div class="row" style="overflow-y: auto;max-height: 440px;">
   
    <MatTable Items="@TransferRequestList" AllowSelection="true"  PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:"   class="mat-elevation-z5">
        <MatTableHeader>
            <th style="text-align: center;width:20%;"> <label style="text-align:center">المسلسل</label>  </th>
            <th style="text-align: center;width:20%;"><label style="text-align:center">التاريخ</label>   </th>
            <th style="text-align: center;width:15%;"><label style="text-align:center">الفرع الطالب</label>  </th>
            <th style="text-align: center;width:30%"><label style="padding-right: 50px;"> عرض&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  تعديل &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  حذف&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; تأكيد&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مراجعه  </label></th>
        </MatTableHeader>
        <MatTableRow>
            @if (@context.IsOrder)
            {
                <td style="text-align:center;background-color:yellow">@context.SerialNumber</td>
                <td style="text-align:center;background-color:yellow">@context.Date.ToString("dd/MM/yyyy")</td>
                <td style="text-align:center;background-color:yellow">@context.BranchToName</td>
                <td style="background-color:yellow">
                    <MatButton Raised="true" @onclick="@(async () => await EditOldTransferRequest(context.ID,"View"))" Style="padding-right: 28px; padding-left: 0px;" Icon="عرض" title="عرض"></MatButton>
                    <MatButton Raised="true" @onclick="@(async () => await EditOldTransferRequest(context.ID,"Edit"))" Icon="edit" title="تعديل"></MatButton>
                    <MatButton Raised="true" @onclick="@(() =>DeleteTransferRequest(context.ID))" Icon="restore_from_trash" title="حذف"></MatButton>
                    <MatButton Raised="true" Icon="تأكيد" Style="padding-right: 20px; padding-left: 0px;" title="Auth"></MatButton>
                    <MatButton Raised="true" Icon="مراجعة" Style=" padding-right: 35px; padding-left: 0px;" title="Review"></MatButton>
                </td>
               
            }
            else
            {
                <td style="text-align:center;">@context.SerialNumber</td>
                <td style="text-align:center;">@context.Date.ToString("dd/MM/yyyy")</td>
                <td style="text-align:center;">@context.BranchToName</td>
                <td>
                    <MatButton Raised="true" @onclick="@(async () => await EditOldTransferRequest(context.ID,"View"))" Style="padding-right: 28px; padding-left: 0px;" Icon="عرض" title="عرض"></MatButton>
                    <MatButton Raised="true" @onclick="@(async () => await EditOldTransferRequest(context.ID,"Edit"))" Icon="edit" title="تعديل"></MatButton>
                    <MatButton Raised="true" @onclick="@(() =>DeleteTransferRequest(context.ID))" Icon="restore_from_trash" title="حذف"></MatButton>
                    <MatButton Raised="true" Icon="تأكيد" Style="padding-right: 20px; padding-left: 0px;" title="Auth"></MatButton>
                    <MatButton Raised="true" Icon="مراجعة" Style=" padding-right: 35px; padding-left: 0px;" title="Review"></MatButton>
                </td>
            }
        </MatTableRow>
    </MatTable>
</div>