﻿@page "/TransferRequestEdit"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@layout MainLayoutWithoutMenu
    <style>

        h1 {
            float: right;
        }

        .mdc-dialog .mdc-dialog__surface {
            max-width: 1200px;
        }

        .mdc-button__ripple {
            align-items: center;
            justify-content: center;
            text-align: center
        }

        .mdc-paginator-container {
            align-items: flex-start;
            justify-content: right;
        }

        .DateFormat .mdc-floating-label {
            margin-top: -20px;
        }

        .DateFormat .material-icons {
            margin-top: 40%;
        }

        .mdc-text-field--filled {
            width: 300px;
        }

            .mdc-text-field--filled:not(.mdc-text-field--disabled) {
                background-color: #ebebeb;
                width: 100%;
            }

        .renew {
            display: inline-block;
            /* width: 190%;*/
            bottom: 40%;
            right: 88%;
        }

        .ItemRenew {
            display: inline-block;
            bottom: 44%;
            right: 83%;
        }

        .BalanceRenew {
            display: inline-block;
            bottom: 50%;
            right: 88%;
        }

        .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
            color: black;
        }

        .mdc-text-field--disabled .mdc-text-field__input {
            color: black;
        }

        .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
            margin-top: 9px;
        }


        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ffffff;
            width: 100%;
        }

        img {
            vertical-align: middle;
            border-style: outset;
            border-color: lightgrey;
        }
    </style>
<PageTitle Title="طلب التحويل " @ref="PageTitle" />

@if (ShowImg == true)
{
    <MatDialog @bind-IsOpen="@ShowImg" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>عرض الصورة </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">
                <img src="@ItemImg" alt="صورة الصنف " style="width:100%;height:100%;" />
            </div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() =>  ShowImg = false">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@*<EditForm Model="@TransRequest" OnValidSubmit="EditTransferRequest">*@
<div class="row" style="overflow-y: auto;max-height: 610px;">
    <table class="table">
        <tbody>
            <tr class="data-contact-person">
                <td>
                    <label>رقم المسلسل</label><br />
                    <MatTextField  @bind-Value="@TransRequest.SerialNumber" disabled="@IsDisabled" TabIndex="1"></MatTextField>

                </td>
                <td>
                    <label>التاريخ</label><br />
                    <MatDatePicker  @bind-Value="@TransRequest.Date" Format='dd/MM/yyyy' disabled="@IsDisabled" TabIndex="2"></MatDatePicker>
                </td>
            </tr>
            <tr>
                <td>
                    <label>الفرع</label><br />
                    <select id="Month" style="width: 90%;" class="form-control EditedSelect" autocomplete="off" @bind="@TransRequest.BranchToID" disabled="@IsDisabled" TabIndex="3">
                        <option value="0" selected>--اختار الفرع --</option>
                        @if (BranchList != null)
                        {
                            @foreach (var branch in BranchList)
                            {
                                <option value="@branch.ID">@branch.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <label>التحويل</label><br />
                    <select id="Month" name="Month" class="form-control EditedSelect" autocomplete="off" @bind="@TransRequest.Convert" disabled="@IsDisabled" style=" background-color: #8c53b0; color: white;" TabIndex="4">
                        <option value="0" selected>--التحويل  --</option>
                        <option value="1"> أمر التحويل </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" style="float:left" @onclick="@AddNewRow" disabled="@IsDisabled">إضافة جديد</button>
                    <table class="table" id="maintable" style="width:100%;height:100%">
                        <thead>
                            <tr>
                                <th style="padding:.22rem;text-align:center;width:15%">الكود  </th>
                                <th style="padding:.22rem;text-align:center;width:25%">الصنف</th>
                                <th style="padding:.22rem;text-align:center;width:10%"> الرصيد</th>
                                <th style="padding:.22rem;text-align:center;width:10%"> المخزن الرئيسى </th>
                                <th style="padding:.22rem;text-align:center;width:15%">الفروع  </th>
                                <th style="padding:.22rem;text-align:center;width:10%">رصيد الفرع   </th>
                                <th style="padding:.22rem;text-align:center;width:10%">الكمية المطلوبة</th>
                                <th style="padding:.22rem;text-align: center;">عرض </th>
                                <th style="padding:.22rem;text-align: center;">مسح </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var trans in TransferRequestItemList)
                            {

                                <tr class="data-contact-person">
                                    <td>
                                        <input type="hidden" @bind="trans.ID" />
                                        <input type="hidden" @bind="TransRequest.ID" />
                                        <input class="form-control" @bind:event="oninput" @onblur="(()=> GetItemDataByCode(trans))" @bind="trans.Code" style="width:100px;" TabIndex="5" />
                                    </td>
                                    <td>
                                        <select id="item" name="item" autocomplete="off" class="form-control EditedSelect" disabled="@IsDisabled" style="width: 90%; padding-right: 20px;" @bind:event="oninput" @onchange="(()=> GetItemData(trans))" @bind="trans.ItemId" TabIndex="6">
                                            <option value="0" selected>--اختار صنف--</option>
                                            @if (ItemList != null)
                                            {
                                                @foreach (var Item in ItemList)
                                                {
                                                    <option value="@Item.ID">@Item.Name</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control" @bind="trans.BranchToQuantity"  disabled TabIndex="7" />
                                    </td>
                                    <td>
                                        <input class="form-control" @bind="trans.MainStoreQuantity"  disabled TabIndex="8" />
                                    </td>
                                    <td>
                                        <select id="item" name="item" autocomplete="off" class="form-control EditedSelect" style="width:150px;height:40px;" disabled="@IsDisabled" @bind:event="oninput" @onchange="(()=> GetItemStoreData(trans))" @bind="trans.BranchFromID" TabIndex="9">
                                            <option value="0" selected>--اختار الفرع  --</option>
                                            @if (BranchList != null)
                                            {
                                                @foreach (var branch in BranchList)
                                                {
                                                    <option value="@branch.ID">@branch.Name</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control" @bind="trans.SelectedBranchQuantity" disabled TabIndex="10" />
                                    </td>
                                    <td>
                                        <input class="form-control" @bind="trans.RequiredQuantity"  @bind:event="oninput" @onblur="(()=>AddNewRow())"  disabled="@IsDisabled" TabIndex="11" />
                                    </td>
                                    <td>
                                        <img src="/Images/ImageOpen.webp" alt="صورة الصنف" @onclick="(() => ShowImage(trans))" style="height: 7%;" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-s btn-danger" @onclick="@(()=> {RemoveRow(trans); })" disabled="@IsDisabled">مسح</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <button @onclick="EditTransferRequest" class="btn btn-success justify-content-center" disabled="@IsDisabled" style="color: white; width: 50%; background-color: #6200ee; border-color: #6200ee;" TabIndex="23">حفظ</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@*</EditForm>*@