﻿@page "/DepartmentEdit"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@inject NavigationManager nav
@layout MainLayoutWithoutMenu

<PageTitle Title="تعديل الإدارة" @ref="PageTitle" />

<EditForm Model="@Department" OnValidSubmit="EditDepartment">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col-md-12">
            <MatTextField Label="اسم الإدارة" @bind-Value="@Department.Name" OnFocusOut="() =>CheckName()" Style="width: 460px;" TabIndex="1"></MatTextField>
            <ValidationMessage For="@(() =>Department.Name)" />
            <label class="text-danger">@ValidateMessageName</label>
        </div>
    </div>
    <div class="row">
        @*<div class="col-md-6">
            <select id="dept" class="form-control EditedSelect" @bind="@Department.BranchID" TabIndex="2">
                <option value="0" selected>اختار الفرع</option>
                @if (BranchList != null)
                {
                    @foreach (var branch in BranchList)
                    {
                        <option value="@branch.ID">@branch.Name</option>
                    }
                }
            </select>
            <ValidationMessage For="@(() => Department.BranchID)" />
            <label class="text-danger">@ValidateMessageBranch</label>
        </div>*@
        <div class="col-md-12">
            <MatTextField Label="ترتيب " @bind-Value="@Department.arrangement" OnFocusOut="() =>CheckArrangement()"  Style="width: 460px;" TabIndex="2"></MatTextField>
            @*<ValidationMessage For="@(() =>collec.arrangement)" />*@
            <label class="text-danger">@ValidateMessageArrangement</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <MatTextField Label="ملاحظات" @bind-Value="@Department.Note" Style="width: 460px;" TabIndex="3"></MatTextField>
            @*<ValidationMessage For="@(() =>Department.Note)" />*@
        </div>
    </div>
    <div class="row">
        <button type="submit" disabled="@IsDisabled" class="btn btn-success justify-content-center" style="color: white; width: 220px; margin-right: 30px; background-color: #6200ee; border-color: #6200ee;">حفظ</button>
    </div>
</EditForm>


@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
