﻿@page "/SalesBillReview"
@using System.Net.Http
@inject HttpClient Http
@layout MainLayoutWithoutMenu
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@using MatBlazor
<div id="autoUpdate" class="SlideContainer">
    <table width="100%" height="100%">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>   <button type="button" id="btnAdd" style="float:left" class="btn btn-xs btn-primary classAdd" @onclick="@ReviewPurchasesBill">مراجعة الفاتورة </button></td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <embed src="@ReportResult" width="100%" height="800" type="application/pdf" />
            </td>
        </tr>
    </table>
</div>
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}