﻿@page "/StoreReport"
@using System.Net.Http
@inject HttpClient Http
@using Radzen.Blazor
@using MasProject.Domain.ViewModel.TransVM;
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@using MatBlazor;

<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

    .EditedSelect {
        max-height: 60px;
        background-color: #ebebeb;
        /* padding-right: 60px; */
        display: block;
        height: 50px;
        /* margin-left: 70px; */
        width: 300px;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
        width: 90%;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-icon-button.mdc-ripple-upgraded {
        font-size: 1em;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .ui-button.btn-primary, .btn-primary.ui-paginator-element {
        background-color: #5541ff;
    }

    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }

        .erase:hover {
            cursor: pointer;
        }
</style>

<PageTitle Title="اجمالى حركه المخزن" @ref="PageTitle" />
<div class="row" style="width:100%;">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <label> التاريخ من </label><br />
                    <MatDatePicker @bind-Value="@ItemBalance.DateForm" TabIndex="1" Format='dd/MM/yyyy'></MatDatePicker>
                </td>
                <td>
                    <label>التاريخ إلى </label><br />
                    <MatDatePicker @bind-Value="@ItemBalance.DateTo" TabIndex="2" Format='dd/MM/yyyy'></MatDatePicker>
                </td>
                <td>
                    <label>الفرع</label><br />
                    <select title="الفرع" id="store" name="store" class="form-control EditedSelect" @bind="ItemBalance.BranchId" TabIndex="4">
                        <option title="الفرع" value="0" selected>--جميع الفروع--</option>
                        @if (BranchList != null)
                        {
                            @foreach (var store in BranchList)
                            {
                                <option title="الفرع" value="@store.ID">@store.Name</option>
                            }
                        }
                    </select>
                </td>

            </tr>
            <tr class="data-contact-person">
                <td>
                    <label>المخزن</label><br />
                    <select title="المخزن" id="store" name="store" class="form-control EditedSelect" @bind="ItemBalance.StoreId" TabIndex="4">
                        <option title="المخزن" value="0" selected>--جميع المخازن--</option>
                        @if (StoreList != null)
                        {
                            @foreach (var store in StoreList)
                            {
                                <option title="المخزن" value="@store.ID">@store.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>

                    <label>نوع الحركه</label><br />
                    <select title="نوع الحركه" id="store" name="store" class="form-control EditedSelect" @bind="ItemBalance.TransactionTypeId" TabIndex="3">
                        <option title="نوع الحركه" value="0" selected>--جميع حركات المخزن--</option>
                        @if (TransactionTypeList != null)
                        {
                            @foreach (var store in TransactionTypeList)
                            {
                                <option title="نوع الحركه" value="@((int)store)">@store</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <label>الشخص</label><br />
                    <input style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtsearch" type="text" tabindex="6" id="inputSearch" @bind="@clients.Name">
                    @*<button type="button" class="erase" @onclick="@(()=>ReloadClientsList())">X</button>*@
                    <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                        <option selected>--اختار العميل --</option>
                        @foreach (var client in ClientList)
                        {
                            <option value="@client.Name">@client.Code</option>
                        }

                    </datalist>
                    @*<select title="الشخص" id="store" name="store" style="width: 90%;" class="form-control EditedSelect" @bind="ItemBalance.PersionId" TabIndex="5">
            <option title="الشخص" value="0" selected>--جميع الاشخاص--</option>
            @if (ClientList != null)
            {
                @foreach (var store in ClientList)
                {
                    <option title="الشخص" value="@store.ID">@store.Name</option>
                }
            }
        </select>*@
                </td>
            </tr>
            <tr>
                <td>
                    <button @onclick="Report" class="btn btn-success justify-content-center" style="color: white;   background-color: #6200ee; border-color: #6200ee;" TabIndex="4">عرض</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@if (ShowReport == true)
{
    <div class="row">
        <div class="col-md-4" style="width:500px;">
            <label>
                عدد الفواتير @ItemBalance.BillsNumber
            </label>
        </div>
        <div class="col-md-4" style="width:500px;">
            <label>
                اجمالى الفواتير @ItemBalance.BillsTotal
            </label>
        </div>
    </div>
    <br />
    <br />
    <div class="row" style="overflow-y: auto;max-height: 660px;max-width: 100%;">
        <RadzenButton Text="Pdf" Icon="grid_on" Click="@(args => GeneratePDF())" Style="margin-left: 10px;" />
        <RadzenButton Text="Excel" Icon="grid_on" Click="@(args => Export())" Style="margin-left: 10px;" />
        <br /> <br />
        <RadzenGrid AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" RowDoubleClick="@((item) => OpenBill(item))"
                    Value="@transItem" PageSize="100" AllowSorting="true" ColumnWidth="150px" @ref="grid" Data="@TransItemList" TItem="StoreReportVM">
            <Columns>
                <RadzenGridColumn TItem="StoreReportVM" Property="ShowDate" Format="dd-MM-yyyy" Title="التاريخ" />
                <RadzenGridColumn TItem="StoreReportVM" Property="StoreName" Title="المخزن" />
                <RadzenGridColumn TItem="StoreReportVM" Property="BranchName" Title="الفرع" />
                <RadzenGridColumn TItem="StoreReportVM" Property="PersonName" Title="الاسم" />
                <RadzenGridColumn TItem="StoreReportVM" Property="TransactionType" Title="الحركه" />
                <RadzenGridColumn TItem="StoreReportVM" Property="SerialNumber" Title="المستند" />
                <RadzenGridColumn TItem="StoreReportVM" Property="Total" Title="الاجمالى" />
                <RadzenGridColumn TItem="StoreReportVM" Property="CreateDate" Title="تاريخ الانشاء" />
            </Columns>
        </RadzenGrid>
    </div>
}