﻿@page "/ClientPayoffs"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<style>
    label {
        text-align:justify;
    }
    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }

        .erase:hover {
            cursor: pointer;
        }

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 800px;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    aria-label {
        text-align: left;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }
</style>
<PageTitle Title="مردودات العميل" @ref="PageTitle" />
<table width="100%">
    <tr>
        <td width="20"> </td>
        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewClientsPayoffs">إضافة جديد</button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
<table width="100%">
    <tr>
        <td style="width: 50%;">
            <label style="width: 70%;">بحث بالعميل</label> <br />
            <div class="buttonInside">


                <input style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtsearch" type="text" tabindex="4" id="inputSearch" @bind:event="oninput" @onchange="(()=> GetAllByClient())" @bind="@clients.Name">
                <button type="button" class="erase" @onclick="@(()=>ReloadClientsList())">X</button>
                <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                    <option selected></option>
                    @foreach (var client in ClientList)
                    {
                        <option value="@client.Name">@client.Code</option>
                    }

                </datalist>
            </div>
        </td>

        <td>
            <label>بحث بالخزينة</label> <br />
            <select title="الفرع" id="emp" style="width: 70%;height: 50px;max-height: 60px;background-color: rgb(235, 235, 235)" class="form-control EditedSelect" @bind:event="oninput" @onchange="(()=> GetAllByTreasury())" @bind="ClientPayoffsModel.TreasuryId" autoComplete="on" TabIndex="2">
                <option title="الفرع" value="0" selected></option>
                @if (TreasuryList != null)
                {
                    @foreach (var Treasury in TreasuryList)
                    {
                        <option title="الفرع" value="@Treasury.ID">@Treasury.Name</option>

                    }
                }
            </select>
        </td>
        @*<td>
                <label>بحث بالتاريخ</label><br />
                <MatDatePicker @bind-Value="@SalesModel.Date" @onchange="()=> GetAllByDate()" Format='dd/MM/yyyy' TabIndex="3"></MatDatePicker>
            </td>*@
        <td>
            <MatButton Icon="autorenew" Class="renew md-48" @onclick="@(async () => await BindList())"></MatButton>
            @*<button class="btn btn-info" style="background-color: #6200ee" @onclick="@(async () => await TableRenew())">عرض </button>*@
        </td>
    </tr>

    <tr>
        <td colspan="3">
        </td>
    </tr>
</table>
<div class="row" style="overflow-y: auto;max-height: 440px;">
   
    <MatTable Items="@ClientsPayoffsList" AllowSelection="true"  PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:"  class="mat-elevation-z5">
        <MatTableHeader>
            <th style="text-align: center;width:0%;">مسلسل </th>
            <th style="text-align: center;width:0%;">التاريخ </th>
            <th style="text-align: center;width:25%;">اسم العميل  </th>
            <th style="text-align: center;width:10%;">الإجمالى </th>
            <th style="text-align: center;width:65%"><label style=" padding-right: 15px;font-size: 1.5em;"> عرض&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  تعديل &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  حذف&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  تأكيد &nbsp;&nbsp;&nbsp; مراجعه </label></th>
        </MatTableHeader>
        <MatTableRow>
            @if (@context.IsCheck)
            {
                @if (@context.IsCollected)
                {
                    <td style="text-align: center;width:0%;">@context.SerialNumber</td>
                    <td style="text-align: center;width:10%;">@context.Date.ToString("dd/MM/yyyy")</td>
                    <td style="text-align: center;width:15%;">@context.ClientName</td>
                    <td style="text-align: center;width:10%;">@context.Total</td>
                    <td style="width:65%;padding:0">
                        <MatButton Raised="true" @onclick="@(async () => await EditOldClientsPayoffs(context.ID,"View"))" Style="padding-right: 28px; padding-left: 0px;" Icon="عرض" title="عرض الصنف"></MatButton>
                        <MatButton Raised="true" @onclick="@(async () => await EditOldClientsPayoffs(context.ID,"Edit"))" Icon="edit" title="تعديل الصنف"></MatButton>
                        <MatButton Raised="true" @onclick="@(() => DeleteClientsPayoffs(context.ID,context.SerialNumber.Value,context.ClientId.Value))" Icon="delete" title="مسح "></MatButton>
                        <MatButton Raised="true" Icon="تأكيد" Style="padding-right: 20px; padding-left: 0px;" title="Auth"></MatButton>
                        <MatButton Raised="true" Icon="مراجعة" Style=" padding-right: 35px; padding-left: 0px;" title="Review"></MatButton>
                    </td>
                }
                else
                {
                    <td style="text-align: center;width:0%;background-color:yellow">@context.SerialNumber</td>
                    <td style="text-align: center;width:10%;background-color:yellow ">@context.Date.ToString("dd/MM/yyyy")</td>
                    <td style="text-align: center;width:25%;background-color:yellow">@context.ClientName</td>
                    <td style="text-align: center;width:10%;background-color:yellow">@context.Total</td>
                    <td style="width:65%;padding:0;background-color:yellow">
                        <MatButton Raised="true" @onclick="@(async () => await EditOldClientsPayoffs(context.ID,"View"))" Style="padding-right: 28px; padding-left: 0px;" Icon="عرض" title="عرض "></MatButton>
                        <MatButton Raised="true" @onclick="@(async () => await EditOldClientsPayoffs(context.ID,"Edit"))" Icon="edit" title="تعديل "></MatButton>
                        <MatButton Raised="true" @onclick="@(() => DeleteClientsPayoffs(context.ID,context.SerialNumber.Value,context.ClientId.Value))" Icon="delete" title="مسح "></MatButton>
                        <MatButton Raised="true" Icon="تأكيد" Style="padding-right: 20px; padding-left: 0px;" title="Auth"></MatButton>
                        <MatButton Raised="true" Icon="مراجعة" Style=" padding-right: 35px; padding-left: 0px;" title="Review"></MatButton>
                    </td>

                }
            }
            else
            {
                <td style="text-align: center;width:0%;">@context.SerialNumber</td>
                <td style="text-align: center;width:10%;">@context.Date.ToString("dd/MM/yyyy")</td>
                <td style="text-align: center;width:25%;">@context.ClientName</td>
                <td style="text-align: center;width:10%;">@context.Total</td>
                <td style="width:65%;padding:0">
                    <MatButton Raised="true" @onclick="@(async () => await EditOldClientsPayoffs(context.ID,"View"))" Style="padding-right: 28px; padding-left: 0px;" Icon="عرض" title="عرض الصنف"></MatButton>
                    <MatButton Raised="true" @onclick="@(async () => await EditOldClientsPayoffs(context.ID,"Edit"))" Icon="edit" title="تعديل الصنف"></MatButton>
                    <MatButton Raised="true" @onclick="@(() => DeleteClientsPayoffs(context.ID,context.SerialNumber.Value,context.ClientId.Value))" Icon="delete" title="مسح "></MatButton>
                    <MatButton Raised="true" Icon="تأكيد" Style="padding-right: 20px; padding-left: 0px;" title="Auth"></MatButton>
                    <MatButton Raised="true" Icon="مراجعة" Style=" padding-right: 35px; padding-left: 0px;" title="Review"></MatButton>
                </td>
            }



        </MatTableRow>
    </MatTable>
</div>
