﻿@page "/Index"
@attribute [Authorize(Roles = "Administrator")]
@inject AuthenticationStateProvider TestAuthStateProvider


<table width="100%" style="background:#05163D;color:honeydew">
    <tr>
        <td width="20"> </td>

        <td> </td>
        <td align="center">
            <h4>مرحبا بك فى برنامج المناره</h4>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
