﻿@page "/"
@inject NavigationManager NavigationManager
@inject HttpClient Http
@layout MainLayoutWithoutMenu
@inject IJSRuntime jsRuntime
@attribute [AllowAnonymous]

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Yinka Enoch Adedokun">
    <title>Login Page</title>
</head>
    @*<div class="main" style="max-height: 100%; padding-right: 30%;">

        <div class="card" style="width: 60%;">
            <h4 class="card-header">تسجيل دخول</h4>
            <div class="card-body">
                <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label>اسم المستخدم</label>
                        <InputText @bind-Value="model.UserName" class="form-control" />
                        <ValidationMessage For="@(() => model.UserName)" />
                    </div>
                    <div class="form-group">
                        <label>كود الدخول</label>
                        <InputText @bind-Value="model.PasswordHash" type="password" class="form-control" />
                        <ValidationMessage For="@(() => model.PasswordHash)" />
                    </div>
                    <button type="submit" id="btnAdd" style="float: left;" class="btn btn-xs btn-primary classAdd">تسجيل دخول </button>

                </EditForm>
            </div>
        </div>
    </div>*@
@*osho style*@
@*<style>
    body, html {
        margin: 0;
        font-family: arial;
        height: 100vh;
        background: #ccc;
    }

    *, *:before, *:after {
        box-sizing: border-box;
    }

    
    .main-content {
        width: 50%;
        border-radius: 20px;
      /*  box-shadow: 0 5px 5px rgba(0,0,0,.4);*/
       /* margin: 5em auto;*/
        display: flex;
        position: absolute;
        top: 40px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
.company__info{
	background-color: #008080;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@@media screen and (min-width: 642px) and (max-width:800px) {
        .main-content {
            width: 70%;
        }
    }
.row > h2{
	color:#008080;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4);
	border-radius: 4px;
}
    .btn {
        transition: all .5s ease;
        width: 100%;
        border-radius: 30px;
        color: #008080;
        font-weight: 600;
        background-color: #fff;
        border: 1px solid #008080;
        margin-top: 1.5em;
       /* margin-bottom: 1em;*/
        margin-left: 45%;
    }
    .btn:hover, .btn:focus {
        background-color: #008080;
        color: #fff;
    }
    .bg-success {
        background-color: #fdfeff !important;
    }

   
</style>*@

@*marwa style*@
<style>
    body, html {
        margin: 0;
        font-family: arial;
        height: 100vh;
        background: #ccc;
    }

    *, *:before, *:after {
        box-sizing: border-box;
    }


    .main-content {
        width: 50%;
        border-radius: 20px;
        display: flex;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .company__info {
        background-color: #3b008f;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
    }

    .fa-android {
        font-size: 3em;
    }

    @@media screen and (max-width: 640px) {
        .main-content {
            width: 90%;
        }

        .company__info {
            display: none;
        }

        .login_form {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }

    @@media screen and (min-width: 642px) and (max-width:800px) {
        .main-content {
            width: 70%;
        }
    }

    .row > h2 {
        color: #3b008f;
    }
    .rowForm {
        width: 100%;
    }
    .login_form {
        background-color: #fff;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

    .form-group {
        padding: 0 2em;
    }

    .form__input {
        width: 100%;
        border: 0px solid transparent;
        border-radius: 0;
        border-bottom: 1px solid #aaa;
        margin: 1.5em auto;
        transition: all .5s ease;
        font-weight: bold;
    }

        .form__input:focus {
            border-bottom-color: #3b008f;
            box-shadow: 0 0 5px rgba(0,80,80,.4);
            border-radius: 4px;
        }

    .btn {
        transition: all .5s ease;
        width: 100%;
        border-radius: 30px;
        color: #3b008f;
        font-weight: 600;
        background-color: #fff;
        border: 1px solid #3b008f;
        margin-top: 1.5em;    
    }

        .btn:hover, .btn:focus {
            background-color: #3b008f;
            color: #fff;
        }

    .bg-success {
        background-color: #fdfeff !important;
    }
</style>
<body>
    <!-- Main Content -->
    <div class="container-fluid" dir="ltr">
        <div class="row main-content bg-success text-center">
            <div class="col-md-4 text-center company__info">
                <span class="company__logo"><h2><img src="/Images/Logo.jpeg" style="max-height: 100px; " /></h2></span>
                <h4 class="company_title">شركه المنارة للاستيراد و التصدير</h4>
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
                <div class="container-fluid">
                    <div class="row">
                        <h2>تسجيل دخول</h2>
                    </div>
                    <div class="form-group" style="direction: rtl;">
                            <div class="rowForm">
                                <select title="الفرع" id="emp" style=" background-color: #fff; font-weight: bold;" @bind="model.BranchID" class="form-control EditedSelect" autocomplete="off" TabIndex="3">
                                    @if (BranchList != null)
                                    {
                                        @foreach (var Branch in BranchList)
                                        {
                                            <option title="الفرع" value="@Branch.ID">@Branch.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <br />
                            <div class="rowForm">
                                <select id="username" class="form-control EditedSelect" style="background-color: #fff; font-weight: bold;" @bind="model.UserName" TabIndex="1">
                                    @if (UsersList != null)
                                    {
                                        @foreach (var user in UsersList)
                                        {
                                            <option value="@user.UserName">@user.UserName</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="rowForm">
                                <input type="password" name="password" id="password" class="form__input" @bind="model.PasswordHash" placeholder="كود الدخول">
                            </div>   
                            <div class="rowForm">
                                <button @onclick="OnValidSubmit" class="btn">تسجيل دخول</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>