﻿@page "/logout"
@layout MainLayoutWithoutMenu
@inject IJSRuntime jsRuntime
@inject HttpClient Http
@attribute [AllowAnonymous]


    <body>
      
        <div class="container-fluid" style="width: 50%; border-radius: 21px; display: flex; position: absolute; top: 40px; left: 0; right: 0; margin: auto;" dir="ltr">
            <div class="row main-content bg-success text-center" style="text-decoration-color: white; background-color: #3b008f; border-top-left-radius: 20px; border-bottom-left-radius: 20px; display: flex; flex-direction: column; justify-content: center; color: #fff; width: 100%;">
                <div class=" text-center company__info">
                    <span class="company__logo"><h2><img src="/Images/Logo.jpeg" style="max-height: 100px; " /></h2></span>
                    <h4 class="company_title" style="text-decoration-color: white;">شركه المنارة للاستيراد و التصدير</h4>
                </div>
                <br />
                <div class="login_form ">
                    <div class="container-fluid">
                        <div class="row">
                            <h2>شكرا لاستخدامك برنامج المناره</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>