﻿@page "/PurchasesReturnsAdd"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@layout MainLayoutWithoutMenu
@using Radzen
@using Radzen.Blazor
<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ebebeb;
            width: 100%;
        }

    .renew {
        display: inline-block;
        /* width: 190%;*/
        bottom: 40%;
        right: 88%;
    }

    .ItemRenew {
        display: inline-block;
        bottom: 44%;
        right: 83%;
    }

    .BalanceRenew {
        display: inline-block;
        bottom: 50%;
        right: 88%;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }
 
    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }


        .erase:hover {
            cursor: pointer;
        }
</style>
@if (ShowImg == true)
{
    <MatDialog @bind-IsOpen="@ShowImg" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>عرض الصورة </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">
                <img src="@ItemImg" alt="صورة الصنف " style="width:100%;height:100%;" />
            </div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() =>  ShowImg = false">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
<PageTitle Title=" إضافة مردودات مشتريات" @ref="PageTitle" />
@*<EditForm Model="@PurchaseModel" OnValidSubmit="EditPurchasesReturnBill">
    <DataAnnotationsValidator />*@
<div class="row" style="overflow-y: auto;max-height: 610px;">
    <table class="table">
        <tbody>
            <tr class="data-contact-person">
                <td>
                    <label>رقم المسلسل</label><br />
                    <MatTextField @bind-Value="@PurchaseModel.SerialNumber" TabIndex="1"></MatTextField>
                </td>
                <td>
                    <label>التاريخ</label><br />
                    <MatDatePicker @bind-Value="@PurchaseModel.Date"  Format='dd/MM/yyyy' TabIndex="2"></MatDatePicker>
                </td>
                <td>
                    <label> الفرع</label><br />
                    <select title="الفرع" id="store" name="store" class="form-control EditedSelect"  @bind:event="oninput" autocomplete="off" @onchange="(()=> GetSerialNumber())"  @bind="PurchaseModel.BranchId" TabIndex="3">
                        <option title="الفرع" value="0" selected>--اختار الفرع--</option>
                        @if (BranchList != null)
                        {
                            @foreach (var Branch in BranchList)
                            {
                                <option title="الفرع" value="@Branch.ID">@Branch.Name</option>
                            }
                        }
                    </select>
                    @*<RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@PurchaseModel.BranchId
                                        Data=@BranchList TextProperty="Name" ValueProperty="ID" Style=" width: 100%;height: 50px;" TabIndex="3">
                        </RadzenDropDown>*@
                </td>
            </tr>
            <tr class="data-contact-person">
                <td>
                    <label>المورد</label><br />
                    @*<RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@PurchaseModel.SupplierId Change=@(()=> BalancesRenew())
                                        Data=@SupplierList TextProperty="Name" ValueProperty="ID" Style=" width: 90%;height: 50px;" TabIndex="4">
                        </RadzenDropDown>*@
                    <select id="emp" style="width:90%;" class="form-control EditedSelect" autocomplete="off" @bind="PurchaseModel.SupplierId" @bind:event="oninput" @onchange="(()=> GetBalance())"  TabIndex="4">
                        <option value="0" selected>-- اختار المورد--</option>
                        @if (SupplierList != null)
                        {
                            @foreach (var sup in SupplierList)
                            {
                                <option value="@sup.ID">@sup.Name</option>
                            }
                        }
                    </select>
                    @*<img src="/Images/Refresh.png" @onclick="@(()=>SuppliersRenew())" style="height: 30px; float: left; top: -42px; position: relative;" />*@<br />
                                                                                                                                                               <button class="btn" @onclick="@(()=>SuppliersRenew())">
                                                                                                                                                                   <i class="fa fa-refresh" style="        font-size: 30px;
        color: red;
        height: 40px;
        float: left;
        position: relative;
        top: -65px;
        left: -310px;
"></i>
                                                                                                                                                               </button>
                    <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" @onclick="@AddNewSupplier">إضافة مورد  </button>
                </td>
                <td>
                    <label>رقم الملف الضريبى</label><br />
                    <MatTextField Label="رقم الملف الضريبى" @bind-Value="@PurchaseModel.TaxFileNumber" readonly TabIndex="7"></MatTextField>

                </td>
                <td>
                    <label>الرصيد</label><br />
                    <MatTextField @bind-Value="@PurchaseModel.Balance" Disabled="true" TabIndex="6" Style="width: 90%;"></MatTextField>
                    @*<img src="/Images/Refresh.png" @onclick="@(()=>BalancesRenew())" style="top: 15px; height: 30px; float: left; position: relative;" />*@
                    <button class="btn" @onclick="@(()=>BalancesRenew())"><i class="fa fa-refresh" style="font-size:30px;color:red;height: 40px; float: left;position:relative;left:-390px;top:-40px;"></i></button>

                </td>
                
            </tr>
            <tr class="data-contact-person">
                <td>
                    <label>المخزن</label><br />
                    <select id="store"  name="store" class="form-control EditedSelect" @bind="PurchaseModel.StoreId" autocomplete="off" TabIndex="3">
                        <option value="0" selected>--اختار مخزن--</option>
                        @if (StoreList != null)
                        {
                            @foreach (var store in StoreList)
                            {
                                <option value="@store.ID">@store.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <label> نوع الفاتورة</label><br />
                    <select id="typeid" name="typeid" class="form-control EditedSelect" autocomplete="off" @bind="@FlagTypeID" @bind:event="oninput" @onchange="(()=> TaxPart())" TabIndex="8">
                        <option value="0" selected>ايصال استلام</option>
                        <option value="1">فاتورة ضريبية</option>
                    </select>
                </td>
                <td>
                   
                    @*<RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@PurchaseModel.StoreId Data=@StoreList
                                        TextProperty="Name" ValueProperty="ID" Style=" width: 90%;height: 50px;" TabIndex="9">
                        </RadzenDropDown>*@
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" style="float:left" @onclick="@AddNewRow">إضافة جديد</button>
                    <table class="table" id="maintable" style=" width: 1200px;">
                        <thead>
                            <tr>
                                <th style="padding: .22rem;text-align: center;width: 6%;">مسلسل</th>
                                <th style="padding:.22rem;text-align: center;width: 15%;">كود الصنف </th>
                                <th style="padding:.22rem;text-align: center;width: 40%;">اسم الصنف </th>
                                <th style="padding:.22rem;text-align: center;width: 10%;">الكمية </th>
                                <th style="padding:.22rem;text-align: center;width: 12%;">السعر </th>
                                <th style="padding:.22rem;text-align: center;width: 12%;">الاجمالى </th>
                                <th style="padding:.22rem;text-align: center;">عرض </th>
                                <th style="padding:.22rem;text-align: center;">مسح </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in PItemList)
                            {
                                <tr class="data-contact-person">
                                    <td>
                                        <input class="form-control" @bind="itm.Identifer" TabIndex="10" />
                                    </td>
                                    <td>
                                        <input class="form-control" @bind="itm.Box_ParCode" @bind:event="oninput" @onblur="(()=> GetItemDataByCode(itm))" TabIndex="11" />
                                    </td>
                                    <td>

                                        <div class="buttonInside">

                                            <input style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtsearch" type="text" tabindex="11" autocomplete="off" id="inputSearch" @bind="@itm.ItemName" @bind:event="oninput" @onchange="(()=> GetItemData(itm))">
                                            <button type="button" class="erase" @onclick="@(()=>ReloadItemsList(itm))">X</button>
                                            <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                                                <option selected>--اختار صنف--</option>
                                                @foreach (var Item in ItemList)
                                                {
                                                    <option value="@Item.Name">@Item.Code</option>
                                                }

                                            </datalist>
                                        </div>
                                        @*<img src="/Images/Refresh.png" @onclick="@(()=>ItemsRenew(itm))" style=" top: -60px; position: relative; float: left; left: -10px;" />*@
                                        <button class="btn" @onclick="@(()=>ItemsRenew(itm))"><i class="fa fa-refresh" style="font-size:30px;color:red;top: -60px; position: relative; float: left; left: -15px;left: -380px"></i></button>

                                    </td>
                                    <td>
                                        <input class="form-control" @bind:event="oninput" @onblur="(()=> ChangeItemQuantity())" @bind="itm.Quantity" TabIndex="13" />
                                    </td>
                                    <td><input type="number" step=".01"  class="form-control" @bind:event="oninput" @onblur="(()=> RecalculateTotal())" @bind="itm.Price" TabIndex="14" /> </td>
                                    <td><input class="form-control" @bind="itm.Total" readonly /> </td>
                                    <td>
                                        <img src="/Images/ImageOpen.webp" alt="صورة الصنف" @onclick="() =>  ShowImg = true" style="height: 7%;" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-s btn-danger" @onclick="@(()=> {RemoveRow(itm); })">مسح</button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <h2>أعباء إضافية </h2>
                    <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" style="float:left" @onclick="@AddNewIncomeRow">إضافة جديد</button>
                    <table class="table" id="maintable" style=" width: 1200px;">
                        <thead>
                            <tr>
                                <th style="padding: .22rem;text-align: center;width: 10%;">مسلسل</th>
                                <th style="padding: .22rem;text-align: center;width: 30%;">بيان </th>
                                <th style="padding: .22rem;text-align: center;width: 20%;">التكلفه </th>
                                <th style="padding: .22rem;text-align: center;width: 30%;">اسم الحساب </th>
                                <th style="padding: .22rem;text-align: center;">مسح </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (PIncomeList != null)
                                {
                                    foreach (var Income in PIncomeList)
                                    {
                                        <tr class="data-contact-person">
                                            <td>
                                                <input class="form-control" @bind="Income.Identifer" TabIndex="15" />
                                            </td>
                                            <td>
                                                <input class="form-control" @bind="Income.Name" TabIndex="16" />
                                            </td>
                                            <td><input type="number" step=".01"  class="form-control" @bind="Income.Amount" @bind:event="oninput" @onblur="(() => RecalculateTotal())" TabIndex="17" /> </td>
                                            <td>
                                                @*<RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@Income.IncomeId Data=@IncomeList Change=@(()=> AddPurchasereturn())
                        TextProperty="Name" ValueProperty="ID" Style=" width: 90%;height: 50px;" TabIndex="18">
        </RadzenDropDown>*@
                                                <select id="item" name="item" class="form-control EditedSelect" @bind:event="oninput" @onchange="(()=> AddPurchasereturn())" autocomplete="off" @bind="Income.IncomeId" style="width:90%;" TabIndex="17">
                                                    <option value="0" selected>--اختار أعباء--</option>
                                                    @if (IncomeList != null)
                                                    {
                                                        @foreach (var Inc in IncomeList)
                                                        {
                                                            <option value="@Inc.ID">@Inc.Name</option>
                                                        }
                                                    }
                                                </select>
                                                @*<img src="/Images/Refresh.png" @onclick="@(() => IncomeRenew())" style="top: -50px; position: relative; float: left; left: -20px;" />*@
                                                <button class="btn" @onclick="@(() => IncomeRenew())"><i class="fa fa-refresh" style="font-size:30px;color:red;top: -50px; position: relative; float: left; left: -310px"></i></button>
                                            </td>
                                            <td style="text-align: center;">
                                                <button type="button" class="btn btn-s btn-danger" @onclick="@(() => { RemoveIncomeRow(Income); })">مسح</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>

                    </table>
                </td>

            </tr>
            <tr>
                <td>
                    <label>اجمالى السعر</label><br />
                    <MatTextField @bind-Value="@PurchaseModel.TotalPrice" disabled TabIndex="19"></MatTextField>
                </td>
                <td>
                    <label>%خصم </label><br />
                    <MatTextField OnFocusOut="() =>RecalculateTotal()" @bind-Value="@PurchaseModel.DiscountPrecentage" TabIndex="20"></MatTextField>
                </td>
                <td>
                    <label> خصم المبلغ</label><br />
                    <MatTextField OnFocusOut="() =>RecalculateTotal()" @bind-Value="@PurchaseModel.DiscountValue" TabIndex="21"></MatTextField>
                </td>
            </tr>
            <tr>
                <td>
                    <label> الاجمالى بعد الخصم</label><br />
                    <MatTextField @bind-Value="@PurchaseModel.TotalAfterDiscount" disabled TabIndex="22"></MatTextField>
                </td>
            </tr>
            <tr>
                @if (ShowTaxPart)
                {
                    <td>
                        <label style="float: right;padding-right: 15%;">%</label>
                        <label style="float: right;padding-right: 27%;margin-bottom: 27px;">ضريبة خصم المنبع</label><br />
                        <input style="width: 30%;float: right;" class="form-control" @bind="PurchaseModel.SourceDeduction" @bind:event="oninput" @onchange="(() => RecalculateTotal())" tabindex="23" />
                        <input style="width: 70%;" class="form-control" @bind="PurchaseModel.SourceDeductionAmount" />
                    </td>
                    <td>
                        <label style="float: right;padding-right: 15%;">%</label>
                        <label style="float: right;padding-right: 27%;margin-bottom: 27px;">ضريبة القيمة المضافة</label><br />
                        <input style="width: 30%;float: right;" class="form-control" @bind="PurchaseModel.AddtionTax" @bind:event="oninput" @onchange="(() => RecalculateTotal())" tabindex="24" />
                        <input style="width: 70%;" class="form-control" @bind="PurchaseModel.AddtionTaxAmount" />
                    </td>
                    <td>
                        <label>الاجمالى بعد الضريبة</label><br />
                        <input class="form-control" @bind="@PurchaseModel.TotalAfterTax" title="@TotalInWordsTax" readonly />
                    </td>

                }
            </tr>

            <tr>
                <td colspan="3">
                    <label>ملاحظات</label><br />
                    <MatTextField @bind-Value="@PurchaseModel.Note" TabIndex="25"></MatTextField>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <MatCheckbox @bind-Value="@PurchaseModel.ShowNotesFlag" Label="إظهار الملاحظات فى الطباعة" TabIndex="26"></MatCheckbox>
                </td>
            </tr>
            <tr>
                <td>
                    <button @onclick="EditPurchasesReturnBill" disabled="@IsDisabled" class="btn btn-success justify-content-center" style="color: white; width: 50%; background-color: #6200ee; border-color: #6200ee;" TabIndex="27">حفظ</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@*</EditForm>*@
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (SelectSupplierChecker == true)
{
    <MatDialog @bind-IsOpen="@SelectSupplierChecker" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>!!!خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لم تختر المورد</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => SelectSupplierChecker = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}