﻿@layout MainLayoutWithoutMenu
@page "/SupplierPaymentEdit"
@inject NavigationManager nav
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject IJSRuntime jsRuntime
@using Radzen.Blazor

<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled {
        width: 300px;
    }



        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ebebeb;
            width: 100%;
        }

    .renew {
        display: inline-block;
        /* width: 190%;*/
        bottom: 40%;
        right: 88%;
    }

    .ItemRenew {
        display: inline-block;
        bottom: 44%;
        right: 83%;
    }

    .BalanceRenew {
        display: inline-block;
        bottom: 50%;
        right: 88%;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
        width: 100%
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-icon-button.mdc-ripple-upgraded {
        font-size: 1em;
    }
</style>

<PageTitle Title="تعديل دفعات المورد " @ref="PageTitle" />

<EditForm Model="@Supplier" OnValidSubmit="EditSupplierPayment">
    @*<DataAnnotationsValidator />*@
    <div class="row" style="overflow-y: auto;max-height: 610px;width: 100%;">

        <table class="table">
            <tbody>

                <tr class="data-contact-person">
                    <td>
                        <label>رقم المسلسل</label>
                        <br />
                        <MatTextField @bind-Value="@Supplier.SerialNumber" disabled="@IsDisabled" TabIndex="1"></MatTextField>
                    </td>
                    <td class="DateFormat">
                        <label>تاريخ</label><br />
                        <MatDatePicker @bind-Value="@Supplier.Date" disabled="@IsDisabled" Format='dd/MM/yyyy' TabIndex="2"></MatDatePicker>
                    </td>
                    <td>
                        @*<label>المورد</label><br />
                            <RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@Supplier.SupplierId TabIndex="3"
                                            Placeholder="اختار المورد" Data=@SupplierList TextProperty="Name" ValueProperty="ID" Style=" width: 90%;height: 50px;">
                            </RadzenDropDown>*@
                        <label>المورد</label><br />
                        <select title="المورد" id="supp" class="form-control EditedSelect" @bind="@Supplier.SupplierId" disabled="@IsDisabled" TabIndex="3">
                            <option title="المورد" value="0" selected>--اختار المورد --</option>
                            @if (SupplierList != null)
                            {
                                @foreach (var supplier in SupplierList)
                                {
                                    <option title="المورد" value="@supplier.ID">@supplier.Name</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr class="data-contact-person">

                    <td>
                        <label>الخزينة</label><br />
                        @*<RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@Supplier.TreasuryId TabIndex="5"
                                            Placeholder="اختار الخزينة" Data=@TreasuryList TextProperty="Name" ValueProperty="ID" Style=" width: 90%;height: 50px;">
                            </RadzenDropDown>*@
                        <select title="الخزينة" id="supp" class="form-control EditedSelect" @bind="@Supplier.TreasuryId" disabled="@IsDisabled" TabIndex="4">
                            <option title="الخزينة" value="0" selected>--اختار الخزينة --</option>
                            @if (TreasuryList != null)
                            {
                                @foreach (var Tres in TreasuryList)
                                {
                                    <option title="العملة" value="@Tres.ID">@Tres.Name</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        <label>العملة</label><br />
                        @*<RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value=@Supplier.CurrencyId TabIndex="6" Change=@(()=> GetCurrencyRatio())
                                            Placeholder="اختار العملة" Data=@CurrencyList TextProperty="Name" ValueProperty="ID" Style=" width: 90%;height: 50px;">
                            </RadzenDropDown>*@
                        <select title="العملة" id="curr" class="form-control EditedSelect" @bind="@Supplier.CurrencyId" disabled="@IsDisabled" TabIndex="5">
                            <option title="العملة" value="0" selected>--اختار العملة --</option>
                            @if (CurrencyList != null)
                            {
                                @foreach (var curr in CurrencyList)
                                {
                                    <option title="العملة" value="@curr.ID">@curr.Name</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        <label>سعر الصرف</label><br />
                        <MatTextField OnFocusOut="() =>GetTotal()" @bind-Value="@Supplier.Ratio" disabled="@IsDisabled" TabIndex="6"></MatTextField>
                    </td>
                </tr>
                <tr class="data-contact-person">

                    <td colspan="1">
                        <label> المبلغ</label><br />
                        <MatTextField OnFocusOut="() =>GetTotal()" @bind-Value="@Supplier.Amount" disabled="@IsDisabled" TabIndex="7"></MatTextField>
                    </td>
                    <td>
                        <MatCheckbox Label="شيك" @bind-Value="@Supplier.IsCheck" Style="padding-bottom: 0px; padding-top: 100px;" disabled="@IsDisabled" TabIndex="8"> </MatCheckbox>
                    </td>
                </tr>
                <tr class="data-contact-person">
                    @if (Supplier.IsCheck)
                    {
                        <td>
                            <label> تاريخ الاستحقاق</label><br />
                            <MatDatePicker @bind-Value="@Supplier.DueDate" Format='dd/MM/yyyy' disabled="@IsDisabled" TabIndex="9"></MatDatePicker>
                        </td>
                    }
                </tr>
                <tr class="data-contact-person">
                    @if (Supplier.IsCheck)
                    {
                        <td>
                            <MatCheckbox Label="تم التحصيل" @bind-Value="@Supplier.IsCollected" disabled="@IsDisabled" Style="padding-bottom: 0px; padding-top: 70px;" TabIndex="10"> </MatCheckbox>
                        </td>
                        <td>
                            <label> تاريخ التحصيل</label><br />
                            <MatDatePicker @bind-Value="@Supplier.CollectionDate" disabled="@IsDisabled" Format='dd/MM/yyyy' TabIndex="11"></MatDatePicker>
                        </td>
                        <td>
                            <label> البنك </label><br />
                            <MatTextField @bind-Value="@Supplier.Bank" disabled="@IsDisabled" TabIndex="12"></MatTextField>
                        </td>
                    }
                </tr>
                <tr class="data-contact-person">
                    <td colspan="3">
                        <label>ملاحظات</label><br />
                        <MatTextField @bind-Value="@Supplier.Note" disabled="@IsDisabled" TabIndex="13"></MatTextField>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-success justify-content-center" style="color: white; width: 100px; background-color: #6200ee; border-color: #6200ee;" disabled="@IsDisabled" TabIndex="14">حفظ</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
</EditForm>

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (SelectSupplierChecker == true)
{
    <MatDialog @bind-IsOpen="@SelectSupplierChecker" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>!!!خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لم تختر المورد</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => SelectSupplierChecker = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}