﻿@page "/SupplierPayment"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<style>

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 800px;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    aria-label {
        text-align: left;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }
    label {
        text-align:justify;
    }
</style>

<PageTitle Title="دفعات المورد" @ref="PageTitle" />

<table width="100%">
    <tr>
        <td width="20"> </td>
        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewSupplierPayment">إضافة جديد</button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>

<hr />

@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}

<table width="100%">
    <tr>
        <td style="width: 50%;">
            <label style="width: 70%;">بحث بالمورد</label> <br />
            <select title="المورد" style="width:70%;" id="supp" class="form-control EditedSelect" @bind:event="oninput" @onchange="(()=> GetAllBySupplier())" @bind="@Supplier.SupplierId" TabIndex="1">
                <option title="المورد" value="0" selected></option>
                @if (SupplierList != null)
                {
                    @foreach (var supplier in SupplierList)
                    {
                        <option title="المورد" value="@supplier.ID">@supplier.Name</option>
                    }
                }
            </select>
        </td>
        
        <td>
            <label>بحث بالخزينة</label> <br />
            <select title="الخزينة" id="emp" style="width: 100%;height: 50px;max-height: 60px;background-color: rgb(235, 235, 235)" class="form-control EditedSelect" @bind:event="oninput" @onchange="(()=> GetAllByTreasury())" @bind="Supplier.TreasuryId" autoComplete="on" TabIndex="2">
                <option title="الخزينة" value="0" selected></option>
                @if (TreasuryList != null)
                {
                    @foreach (var Treasury in TreasuryList)
                    {
                        <option title="الخزينة" value="@Treasury.ID">@Treasury.Name</option>

                    }
                }
            </select>
        </td>
        @*<td>
            <label>بحث بالتاريخ</label><br />
            <MatDatePicker @bind-Value="@SalesModel.Date" @onchange="()=> GetAllByDate()" Format='dd/MM/yyyy' TabIndex="3"></MatDatePicker>
        </td>*@
        <td>
            <MatButton Icon="autorenew" Class="renew md-48" @onclick="@(async () => await BindList())"></MatButton>
            @*<button class="btn btn-info" style="background-color: #6200ee" @onclick="@(async () => await TableRenew())">عرض </button>*@
        </td>
    </tr>

    <tr>
        <td colspan="3">
        </td>
    </tr>
</table>
<div class="row" style="overflow-y: auto;max-height: 440px;">
   
    <MatTable Items="@SupplierPaymentList" AllowSelection="true"  PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:"   class="mat-elevation-z5">
        <MatTableHeader>
            <th style="text-align: center;width:0%;">مسلسل </th>
            <th style="text-align: center;width:0%"> <label> التاريخ</label></th>
            <th style="text-align: center;width:25%;">اسم المورد  </th>
            <th style="text-align: center;width:10%;">الإجمالى </th>
            <th style="text-align: center;width:65%"><label style=" padding-right: 15px;font-size: 1.5em;"> عرض&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  تعديل &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  حذف&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  تأكيد &nbsp;&nbsp;&nbsp; مراجعه </label></th>
        </MatTableHeader>
        <MatTableRow>
            @if (@context.IsCheck)
            {
                @if (@context.IsCollected)
                {
                    <td style="text-align: center;width:0%;">@context.SerialNumber</td>
                    <td style="text-align: center;width:0%;">@context.Date.ToString("dd/MM/yyyy")</td>
                    <td style="text-align: center;width:25%;">@context.SupplierName</td>
                    <td style="text-align: center;width:10%;">@context.Total</td>
                    <td style="width:65%;padding:0">
                        <MatButton Raised="true" @onclick="@(async () => await EditOldSupplierPayment(context.ID,"View"))" Style="padding-right: 28px; padding-left: 0px;" Icon="عرض" title="عرض الصنف"></MatButton>
                        <MatButton Raised="true" @onclick="@(async () => await EditOldSupplierPayment(context.ID,"Edit"))" Icon="edit" title="تعديل الصنف"></MatButton>
                        <MatButton Raised="true" @onclick="@(() => DeleteSupplierPayment(context.ID,context.SerialNumber.Value,context.SupplierId.Value))" Icon="delete" title="مسح "></MatButton>
                        <MatButton Raised="true" Icon="تأكيد" Style="padding-right: 20px; padding-left: 0px;" title="Auth"></MatButton>
                        <MatButton Raised="true" Icon="مراجعة" Style=" padding-right: 35px; padding-left: 0px;" title="Review"></MatButton>
                    </td>
                }
                else
                {
                    <td style="text-align: center;width:0%;background-color:yellow">@context.SerialNumber</td>
                    <td style="text-align: center;width:0%;background-color:yellow ">@context.Date.ToString("dd/MM/yyyy")</td>
                    <td style="text-align: center;width:25%;background-color:yellow">@context.SupplierName</td>
                    <td style="text-align: center;width:10%;background-color:yellow">@context.Total</td>
                    <td style="width:65%;padding:0;background-color:yellow">
                        <MatButton Raised="true" @onclick="@(async () => await EditOldSupplierPayment(context.ID,"View"))" Style="padding-right: 28px; padding-left: 0px;" Icon="عرض" title="عرض "></MatButton>
                        <MatButton Raised="true" @onclick="@(async () => await EditOldSupplierPayment(context.ID,"Edit"))" Icon="edit" title="تعديل "></MatButton>
                        <MatButton Raised="true" @onclick="@(() => DeleteSupplierPayment(context.ID,context.SerialNumber.Value,context.SupplierId.Value))" Icon="delete" title="مسح "></MatButton>
                        <MatButton Raised="true" Icon="تأكيد" Style="padding-right: 20px; padding-left: 0px;" title="Auth"></MatButton>
                        <MatButton Raised="true" Icon="مراجعة" Style=" padding-right: 35px; padding-left: 0px;" title="Review"></MatButton>
                    </td>

                }
            }
            else
            {
                <td style="text-align: center;width:0%;">@context.SerialNumber</td>
                <td style="text-align: center;width:0%;">@context.Date.ToString("dd/MM/yyyy")</td>
                <td style="text-align: center;width:25%;">@context.SupplierName</td>
                <td style="text-align: center;width:10%;">@context.Total</td>
                <td style="width:65%;padding:0">
                    <MatButton Raised="true" @onclick="@(async () => await EditOldSupplierPayment(context.ID,"View"))" Style="padding-right: 28px; padding-left: 0px;" Icon="عرض" title="عرض الصنف"></MatButton>
                    <MatButton Raised="true" @onclick="@(async () => await EditOldSupplierPayment(context.ID,"Edit"))" Icon="edit" title="تعديل الصنف"></MatButton>
                    <MatButton Raised="true" @onclick="@(() => DeleteSupplierPayment(context.ID,context.SerialNumber.Value,context.SupplierId.Value))" Icon="delete" title="مسح "></MatButton>
                    <MatButton Raised="true" Icon="تأكيد" Style="padding-right: 20px; padding-left: 0px;" title="Auth"></MatButton>
                    <MatButton Raised="true" Icon="مراجعة" Style=" padding-right: 35px; padding-left: 0px;" title="Review"></MatButton>
                </td>
            }



        </MatTableRow>
    </MatTable>
</div>

