﻿@page "/AccountingGuide"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime


<style>

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    /*
        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ebebeb;
        }*/
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }
</style>

<PageTitle Title="دليل الحسابات" @ref="PageTitle" />
<table width="100%">
    <tr>
        <td width="20"> </td>

        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewGuide">إضافة جديد</button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />

@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}


<div class="row" style="overflow-y: auto;max-height: 440px;">
    <MatButton Icon="autorenew" Class="renew md-48" @onclick="@(async () => await BindList())"></MatButton>
    <MatTable Items="@AccountingGuideList" AllowSelection="true" FilterByColumnName="Name" PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:" SearchTermFieldLabel="بحث" SearchTermFieldPlaceHolder="الاسم" class="mat-elevation-z5">
        <MatTableHeader>
            <th style="text-align: center;width:20%;">رقم الحساب </th>
            <th style="text-align: center;width:30%;">اسم الحساب </th>
            <th style="text-align: center;width:50%"><label style=" padding-right: 15px;font-size: 1.5em;"> عرض&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  تعديل &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  حذف&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  تأكيد &nbsp;&nbsp;&nbsp; مراجعه </label></th>
        </MatTableHeader>
        <MatTableRow>
            <td style="text-align: center;">@context.AccountCode</td>

            <td style="text-align: center;">@context.Name  </td>
            <td>
                <MatButton Raised="true" @onclick="@(async () => await EditOldGuide(context.ID,"View"))" Style="padding-right: 28px; padding-left: 0px;" Icon="عرض" title="عرض"></MatButton>
                <MatButton Raised="true" @onclick="@(async () => await EditOldGuide(context.ID,"Edit"))" Icon="edit" title="تعديل "></MatButton>
                <MatButton Raised="true" @onclick="@(() => DeleteGuide(context.ID))" Icon="delete" title="مسح "></MatButton>
                <MatButton Raised="true" Icon="تأكيد" Style="padding-right: 20px; padding-left: 0px;" title="Auth"></MatButton>
                <MatButton Raised="true" Icon="مراجعة" Style=" padding-right: 35px; padding-left: 0px;" title="Review"></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
</div>