﻿@page "/AccountingGuideAdd"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@layout MainLayoutWithoutMenu

<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ebebeb;
            width: 100%;
        }

    .renew {
        display: inline-block;
        /* width: 190%;*/
        bottom: 40%;
        right: 88%;
    }

    .ItemRenew {
        display: inline-block;
        bottom: 44%;
        right: 83%;
    }

    .BalanceRenew {
        display: inline-block;
        bottom: 50%;
        right: 88%;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
        width: 100%;
    }

</style>
<PageTitle Title=" إضافة دليل الحسابات" @ref="PageTitle" />
<div style="overflow-y: auto;max-height: 610px;">
    <table class="table">
        <tbody>
            <tr class="data-contact-person">
                <td>
                    <label>الرمز</label><br />
                    <MatTextField @bind-Value="@Guide.AccountCode" TabIndex="1"></MatTextField>
                </td>
                <td>
                    <label>الاسم</label><br />
                    <MatTextField @bind-Value="@Guide.Name" TabIndex="2"></MatTextField>
                </td>
                

            </tr>
            <tr>
                <td>
                    <label>رمز الحساب</label><br />
                    <input class="form-control" @bind="@Guide.ParentCode" @bind:event="oninput" @onchange="(()=> GetAccountingGuide())" TabIndex="4" />

                </td>
                <td>
                    <label>اسم الحساب</label><br />
                    <select title="الحساب" id="emp" style="width: 90%;" class="form-control EditedSelect" @bind="Guide.ParentId" @bind:event="oninput" @onchange="(()=> GenerateCode())" autoComplete="on" TabIndex="5">
                        <option title="الحساب" value="0" selected>-- اختار الحساب--</option>
                        @if (AccountingGuideList != null)
                        {
                            @foreach (var Guide in AccountingGuideList)
                            {
                                <option title="الحساب" value="@Guide.ID">@Guide.Name</option>

                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>نوع الحساب</label><br />
                    <select id="typeid" name="typeid" class="form-control EditedSelect" @bind="@FlagType" TabIndex="3">
                        <option value="0" selected>ميزانية</option>
                        <option value="1">قائمة دخل</option>
                    </select>
                </td>
                <td style=" padding-top: 5%;">
                    <MatCheckbox @bind-Value="@Guide.CostCenter" Label="مركز تكلفة" TabIndex="6"></MatCheckbox>
                </td>
            </tr>
            <tr>
                <td>
                    <button @onclick="AddAccountingGuide" class="btn btn-success justify-content-center" style="color: white; width: 50%; background-color: #6200ee; border-color: #6200ee;" TabIndex="7">حفظ</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (EnterNameChecker == true)
{
    <MatDialog @bind-IsOpen="@EnterNameChecker" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>!!!خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لم تدخل اسم الحساب</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => EnterNameChecker = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}