﻿@page "/Company"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@using BlazorInputFile

<style>

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    /*
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ebebeb;
    }*/
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }
</style>
<PageTitle Title="الشركات" @ref="PageTitle" />

<table width="100%">
    <tr>
        <td width="20"> </td>

        <td> </td>
        <td align="right">
            @*<button class="btn btn-info AddBtn" @onclick="@AddNewCompany">إضافة جديد</button>*@
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />
@if (showAddrow == true)
{
    <EditForm Model="@CompanyModel" OnValidSubmit="AddCompany">
        <DataAnnotationsValidator />
        <MatDialog @bind-IsOpen="@showAddrow" Class="MatDialog" Style="width:100%;height:100%">
            <MatDialogTitle>إضافة شركه</MatDialogTitle>
            <MatDialogContent Style="width:100%;height:100%">
                <div class="row" style="height: 90px;">
                    <div class="col-md-12">
                        <InputFile OnChange="HandleSelection" Label="إضافة لوجو الشركه" @bind-Value="@CompanyModel.Logo" Style="width: 100%;" autocomplete="off"></InputFile>
                        @*OnChange="@(()=>FilesReady)"*@
                        @if (file != null)
                        {
                            <div>@file.Name</div>
                        }
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <MatTextField Label="اسم الشركه" @bind-Value="@CompanyModel.Name" OnFocusOut="() => CheckName()" Style="width: 220px;"></MatTextField>
                        <ValidationMessage For="@(() => CompanyModel.Name)" />
                        <label class="text-danger">@ValidateMessageName</label>
                    </div>
                    <div class="col-md-6">
                        <MatTextField Label="الموقع الالكترونى" @bind-Value="@CompanyModel.Website"></MatTextField>
                        @*<ValidationMessage For="@(() =>CompanyModel.Website)" />OnFocusOut="() => CheckWebsite()"*@
                        @*<label class="text-danger">@ValidateMessageWebsite</label>*@
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <MatTextField Label="العنوان" @bind-Value="@CompanyModel.Address" Style="width: 460px;"></MatTextField>
                        @*<ValidationMessage For="@(() =>CompanyModel.Address)" />*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <MatTextField Label="رقم التليفون" @bind-Value="@CompanyModel.Phone"></MatTextField>
                        @*<ValidationMessage For="@(() => CompanyModel.Phone)" />*@
                    </div>
                    <div class="col-md-6">
                        <MatTextField Label="رقم الموبيل" @bind-Value="@CompanyModel.Mobile"></MatTextField>
                        @*<ValidationMessage For="@(() => CompanyModel.Mobile)" />*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <MatTextField Label="الرقم الضريبى" @bind-Value="@CompanyModel.TaxNumber"></MatTextField>
                        @*<ValidationMessage For="@(() =>CompanyModel.TaxNumber)" />*@
                    </div>
                    <div class="col-md-6">
                        <MatTextField Label="الرقم التجارى" @bind-Value="@CompanyModel.CommerceNumber"></MatTextField>
                        @*<ValidationMessage For="@(() =>CompanyModel.CommerceNumber)" />*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <MatTextField Label="ترتيب " @bind-Value="@CompanyModel.arrangement" OnFocusOut="() =>CheckArrangement()"></MatTextField>
                        @*<ValidationMessage For="@(() =>collec.arrangement)" />
            <label class="text-danger">@ValidateMessageArrangement</label>*@
                    </div>
                    <div class="col-md-12">
                        <MatTextField Label="ملاحظات" @bind-Value="@CompanyModel.Note" Style="width: 460px;"></MatTextField>
                        @*<ValidationMessage For="@(() =>CompanyModel.Note)" />*@
                    </div>
                </div>
            </MatDialogContent>
            <MatDialogActions>
                <button type="submit" class="btn btn-success justify-content-center" style="color: white; width: 220px; margin-right: 30px; background-color: #6200ee; border-color: #6200ee;">حفظ</button>
                <button class="btn btn-success justify-content-center" @onclick="@Cancel" style="color: white; width: 220px; margin-right: 30px; background-color: #6200ee; border-color: #6200ee;">الغاء</button>
            </MatDialogActions>
        </MatDialog>
    </EditForm>
}
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}

@if (showEditrow == true)
{
    <EditForm Model="@CompanyModel" OnValidSubmit="EditCompany">
        <DataAnnotationsValidator />
        <MatDialog @bind-IsOpen="@showEditrow" Class="MatDialog" Style="width:100%;height:100%">
            <MatDialogTitle>تعديل الشركة</MatDialogTitle>
            <MatDialogContent Style="width:100%;height:100%">
                <div class="row" style="height: 90px;">
                    <div class="col-md-12">
                        <InputFile OnChange="HandleSelection" Label="إضافة لوجو الشركه" @bind-Value="@CompanyModel.Logo" Style="width: 100%;"></InputFile>
                        <MatButton type="button" class="btn btn-secondary" @onclick="() =>  ShowImg = true">عرض اللوجو</MatButton>
                        @if (file != null)
                        {
                            <div>@file.Name</div>
                        }
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <MatTextField Label="اسم الشركه" @bind-Value="@CompanyModel.Name" OnFocusOut="() => CheckName()" Style="width: 220px;"></MatTextField>
                        <ValidationMessage For="@(() => CompanyModel.Name)" />
                        <label class="text-danger">@ValidateMessageName</label>
                    </div>
                    <div class="col-md-6">
                        <MatTextField Label="الموقع الالكترونى" @bind-Value="@CompanyModel.Website"></MatTextField>
                        @*<ValidationMessage For="@(() =>CompanyModel.Website)" />OnFocusOut="() => CheckWebsite()"*@
                        @*<label class="text-danger">@ValidateMessageWebsite</label>*@
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <MatTextField Label="العنوان" @bind-Value="@CompanyModel.Address" Style="width: 460px;"></MatTextField>
                        @*<ValidationMessage For="@(() =>CompanyModel.Address)" />*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <MatTextField Label="رقم التليفون" @bind-Value="@CompanyModel.Phone"></MatTextField>
                        @*<ValidationMessage For="@(() => CompanyModel.Phone)" />*@
                    </div>
                    <div class="col-md-6">
                        <MatTextField Label="رقم الموبيل" @bind-Value="@CompanyModel.Mobile"></MatTextField>
                        @*<ValidationMessage For="@(() => CompanyModel.Mobile)" />*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <MatTextField Label="الرقم الضريبى" @bind-Value="@CompanyModel.TaxNumber"></MatTextField>
                        @*<ValidationMessage For="@(() =>CompanyModel.TaxNumber)" />*@
                    </div>
                    <div class="col-md-6">
                        <MatTextField Label="الرقم التجارى" @bind-Value="@CompanyModel.CommerceNumber"></MatTextField>
                        @*<ValidationMessage For="@(() =>CompanyModel.CommerceNumber)" />*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <MatTextField Label="ترتيب " @bind-Value="@CompanyModel.arrangement" OnFocusOut="() =>CheckArrangement()"></MatTextField>
                        @*<ValidationMessage For="@(() =>collec.arrangement)" />
            <label class="text-danger">@ValidateMessageArrangement</label>*@
                    </div>
                    <div class="col-md-12">
                        <MatTextField Label="ملاحظات" @bind-Value="@CompanyModel.Note" Style="width: 460px;"></MatTextField>
                        @*<ValidationMessage For="@(() =>CompanyModel.Note)" />*@
                    </div>
                </div>
            </MatDialogContent>
            <MatDialogActions>
                <button type="submit" class="btn btn-success justify-content-center" style="color: white; width: 220px; margin-right: 30px; background-color: #6200ee; border-color: #6200ee;">حفظ</button>
                <button class="btn btn-success justify-content-center" @onclick="@Cancel" style="color: white; width: 220px; margin-right: 30px; background-color: #6200ee; border-color: #6200ee;">الغاء</button>
            </MatDialogActions>
        </MatDialog>
    </EditForm>
}
@if (ShowImg == true)
{
    <MatDialog @bind-IsOpen="@ShowImg" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>عرض الصورة </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">
                <img src="@CompanyModel.Logo" alt="لوجو الشركة" style="width:100%;height:100%;" />
            </div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() =>  ShowImg = false">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}

<div class="row">
    <hr />
    <MatTable Items="@CompanyList" AllowSelection="true" FilterByColumnName="Name" PageSize="10"  ShowPaging="true" PageLabel="صفحة" SearchTermFieldLabel="بحث"  SearchTermFieldPlaceHolder="الاسم" class="mat-elevation-z5">
        <MatTableHeader>
            <th style="text-align: right;width:1%;">الترتيب</th>
            <th style="text-align: right;width: 25%;">اسم الشركة</th>
            <th style="text-align: right;width: 20%;">العنوان</th>
            <th style="text-align: right;width: 13%;">الرقم الضريبى</th>
            <th style="text-align: right;width: 13%;">الرقم التجارى</th>
            <th style="text-align: center;">تعديل / حذف   </th>
        </MatTableHeader>
        <MatTableRow>
            <td style="text-align: right;width:1%;">@context.arrangement</td>
            <td style="text-align: right;width: 25%;">@context.Name</td>
            <td style="text-align: right;width: 20%;">@context.Address</td>
            <td style="text-align: right;width: 13%;">@context.TaxNumber</td>
            <td style="text-align: right;width: 13%;">@context.CommerceNumber</td>
            <td style="text-align: center;">
                <MatButton Raised="true" @onclick="@(async () => await EditOldCompany(context.ID))" Icon="edit" title="تعديل" Style="width:15%;"></MatButton> &nbsp; &nbsp;
                <MatButton Raised="true" @onclick="@(() =>DeleteCompany(context.ID))" Icon="delete" title="مسح" Style="width:15%;"></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
</div>
