﻿@page "/ClientEdit"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager nav
@inject IJSRuntime jsRuntime
@layout MainLayoutWithoutMenu

<style>

    h1 {
        float: right;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: 1200px;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -20px;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }

    .mdc-text-field--filled {
        width: 300px;
    }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: #ebebeb;
            width: 100%;
        }

    .renew {
        display: inline-block;
        /* width: 190%;*/
        bottom: 40%;
        right: 88%;
    }

    .ItemRenew {
        display: inline-block;
        bottom: 44%;
        right: 83%;
    }

    .BalanceRenew {
        display: inline-block;
        bottom: 50%;
        right: 88%;
    }

    .mdc-text-field .mdc-floating-label.mdc-floating-label--float-above {
        color: black;
    }

    .mdc-text-field--disabled .mdc-text-field__input {
        color: black;
    }

    .mdc-form-field > label, .mdc-form-field > label[dir=rtl] {
        margin-top: 9px;
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
        width: 100%;
    }

    
</style>

<PageTitle Title="تعديل العميل" @ref="PageTitle" />
<EditForm Model="@client" OnValidSubmit="EditClient">
    <DataAnnotationsValidator />
    <div class="row" style="overflow-y: auto;max-height: 610px;width:1350px;">

        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <label>اسم العميل</label>
                        <MatTextField @bind-Value="@client.Name" OnFocusOut="() =>CheckName()" TabIndex="1"></MatTextField>
                        <ValidationMessage For="@(() =>client.Name)" />
                        <label class="text-danger">@ValidateMessagName</label>
                    </td>
                    <td>
                        <label>اسم الموظف المسئول</label>
                        <MatTextField @bind-Value="@client.EmployeeName" TabIndex="2"></MatTextField>
                        @* <ValidationMessage For="@(() => client.EmployeeName)" /><label class="text-danger">@ValidateMessageEmployee</label>OnFocusOut="() => CheckMail()"*@

                    </td>
                    <td>
                        <label>كود العميل </label>
                        <MatTextField @bind-Value="@client.Code" OnFocusOut="() =>CheckCode()" TabIndex="3"></MatTextField>
                        @*<ValidationMessage For="@(() =>client.Code)" />*@
                        <label class="text-danger">@ValidateMessagCode</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>رقم التليفون</label>
                        <MatTextField @bind-Value="@client.Phone" OnFocusOut="() => CheckPhone()" TabIndex="4"></MatTextField>
                        @*<ValidationMessage For="@(() =>client.Phone)" /><label class="text-danger">@ValidateMessagPhone</label>*@
                        <label class="text-danger">@ValidateMessagPhone</label>
                    </td>
                    <td>
                        <label>رقم الموبايل</label>
                        <MatTextField @bind-Value="@client.Mobile" OnFocusOut="() => CheckMobile()" TabIndex="5"></MatTextField>
                        @*<ValidationMessage For="@(() =>client.Mobile)" /><label class="text-danger">@ValidateMessagMobile</label>*@
                        <label class="text-danger">@ValidateMessagMobile</label>
                    </td>
                    <td>
                        <label>رقم الموبايل اخر</label>
                        <MatTextField @bind-Value="@client.Mobile2" OnFocusOut="() => CheckMobile2()" TabIndex="6"></MatTextField>
                        @*<ValidationMessage For="@(() =>client.Mobile2)" /><label class="text-danger">@ValidateMessagMobile2</label>*@
                        <label class="text-danger">@ValidateMessagMobile2</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label>العنوان</label>
                        <MatTextField @bind-Value="@client.Address" TabIndex="7"></MatTextField>
                        @*<ValidationMessage For="@(() =>client.Address)" />*@
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>المحافظة</label>
                        <select id="cit" title="المحافظة" class="form-control EditedSelect" @bind="@client.CityID" TabIndex="8">
                            <option title="المحافظة" value="0" selected>--اختار المحافظة--</option>
                            @if (CityList != null)
                            {
                                @foreach (var city in CityList)
                                {
                                    <option title="المحافظة" value="@city.ID">@city.Name</option>
                                }
                            }
                        </select>
                        @*<ValidationMessage For="@(() => client.CityID)" /><label class="text-danger">@ValidateMessageCity</label>*@
                    </td>
                    <td>
                        <label>الفرع</label>
                        <select id="emp" title="الفرع" class="form-control EditedSelect" @bind="@client.BranchID" TabIndex="9">
                            <option title="الفرع" value="0" selected>--اختار الفرع--</option>
                            @if (BranchList != null)
                            {
                                @foreach (var branch in BranchList)
                                {
                                    <option title="الفرع" value="@branch.ID">@branch.Name</option>
                                }
                            }
                        </select>
                        @*<ValidationMessage For="@(() => client.BranchID)" /><label class="text-danger">@ValidateMessageBranch</label>*@
                    </td>
                    <td>
                        <MatCheckbox Label="محظور" @bind-Value="@client.IsBlocked"> </MatCheckbox>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>نوع التعامل</label>
                        <select title="نوع التعامل" id="Deal" class="form-control EditedSelect" @bind="@client.Dealingtype" TabIndex="10">
                            <option title="نوع التعامل" value="0" selected>--اختار نوع التعامل --</option>
                            @if (DealTypeList != null)
                            {
                                @foreach (var DealType in DealTypeList)
                                {
                                    <option title="نوع التعامل" value="@DealType.ID">@DealType.Name</option>
                                }
                            }
                        </select>
                        @*<ValidationMessage For="@(() =>client.Dealingtype)" />*@
                    </td>
                    <td class="DateFormat">
                        <label>تاريخ اول تعامل</label>
                        <MatDatePicker @bind-Value="@client.FirstDealingDate" Format='dd/MM/yyyy' TabIndex="11"></MatDatePicker>
                        @*<ValidationMessage For="@(() =>client.FirstDealingDate)" /><label class="text-danger">@ValidateMessageFirstDealingD</label>*@

                    </td>
                    <td>
                        <label>تاريخ اخر تعامل</label>
                        <MatDatePicker @bind-Value="@client.LastDealingDate" Format='dd/MM/yyyy' TabIndex="12"></MatDatePicker>
                        @*<ValidationMessage For="@(() =>client.LastDealingDate)" />
                            <label class="text-danger">@ValidateMessageLastDealingD</label>*@
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>الملف الضريبى</label>
                        <MatTextField @bind-Value="@client.Taxfile" TabIndex="13"></MatTextField>
                        @*<ValidationMessage For="@(() =>client.Taxfile)" />*@
                    </td>
                    <td>
                        <label>المتوسط الشهرى</label>
                        <MatTextField @bind-Value="@client.MonthlyAverage" TabIndex="14"></MatTextField>
                        @*<ValidationMessage For="@(() =>client.MonthlyAverage)" />*@
                    </td>
                    <td>
                        <label>الترتيب</label>
                        <MatTextField Label="الترتيب " @bind-Value="@client.arrangement" OnFocusOut="() => CheckArrangment()" TabIndex="15"></MatTextField>
                        <label class="text-danger">@ValidateMessagArrangment</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <MatCheckbox Id="print" Label="Hide" @bind-Value="client.IsHide" Style="float: right;"></MatCheckbox>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table class="table" id="maintable" style="width:1200px;">
                            <thead>
                                <tr style="background:#6200ee;color:white">
                                    <th style="padding:.22rem;text-align:center" colspan="2">بيانات التواصل</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width: 85%;">  <MatTextField @bind-Value="@client.WebSiteURL" Style="width: 100%;direction:ltr" TabIndex="15"></MatTextField></td>
                                    <td style="text-align: center;padding-top: 30px;"><label> Website</label></td>
                                </tr>
                                <tr>
                                    <td style="width: 85%;">  <MatTextField @bind-Value="@client.Mail" Style="width: 100%;direction:ltr" TabIndex="16"></MatTextField></td>
                                    <td style="text-align: center;padding-top: 30px;"><label> Email</label></td>
                                </tr>
                                @foreach (var itm in SocialMediaList)
                                {
                                    <tr>
                                        <td style="width: 85%;"><MatTextField @bind-Value="@itm.Value" Style="width: 100%;" TabIndex="17"></MatTextField></td>
                                        <td style="text-align: center;padding-top: 30px;"><input type="hidden" value="@itm.ID" /><label>@itm.Name</label></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h2>سجل المبيعات </h2> <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" @onclick="@AddNewRow">إضافة جديد</button>
                        <table class="table" id="maintable" style="width: 1200px;">
                            <thead>
                                <tr>
                                    <th style="padding:.22rem;text-align:center">الشهر </th>
                                    <th style="padding:.22rem;text-align:center">السنة  </th>
                                    <th style="padding:.22rem;text-align:center">صافى المبيعات </th>
                                    <th style="padding:.22rem;text-align:center">ملاحظات </th>
                                    <th style="padding:.22rem;text-align:center">ملاحظات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itm in SalesList)
                                {
                                    <tr class="data-contact-person">
                                        <td>
                                            <select title="الشهر" id="Year" name="Year" class="form-control EditedSelect" TabIndex="18" @bind:event="oninput" @onchange="(()=> TempEditClient())" @bind="itm.Month">
                                                <option value="">--اختار الشهر--</option>
                                                <option value="يناير">يناير</option>
                                                <option value="فبراير">فبراير</option>
                                                <option value="مارس">مارس</option>
                                                <option value="إبريل">إبريل</option>
                                                <option value="مايو">مايو</option>
                                                <option value="يونيو">يونيو</option>
                                                <option value="يوليو">يوليو</option>
                                                <option value="اغسطس">اغسطس</option>
                                                <option value="سبتمبر">سبتمبر</option>
                                                <option value="اكتوبر">اكتوبر</option>
                                                <option value="نوفمبر">نوفمبر</option>
                                                <option value="ديسمبر">ديسمبر</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select title="السنة" id="Month" name="Month" class="form-control EditedSelect" @bind="itm.Year" TabIndex="19">
                                                <option value="">--اختار السنة--</option>
                                                @{
                                                    int year = DateTime.Now.Year;
                                                    for (int i = year + 25; i >= year - 25; i--)
                                                    {
                                                        <option value="@i">@i</option>

                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" name="l-name" class="form-control l-name01" @bind="itm.NetSales" TabIndex="20" />
                                        </td>
                                        <td><input type="text" name="email" class="form-control email01" @bind="itm.Note1" TabIndex="21" /> </td>
                                        <td>
                                            <input type="text" name="email" class="form-control email01" @bind="itm.Note" TabIndex="22" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-s btn-danger" @onclick="@(()=> {RemoveRow(itm); })">مسح</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label>ملاحظات</label>
                        <MatTextField @bind-Value="@client.Note" TabIndex="23"></MatTextField>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-success justify-content-center" style="color: white; width: 50%; background-color: #6200ee; border-color: #6200ee;" TabIndex="26">حفظ</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</EditForm>
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (CheckValidate == true)
{
    <MatDialog @bind-IsOpen="@CheckValidate" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">الحفظ توقف!!! راجع بيانات الصفحة</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => CheckValidate = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
