﻿
@page "/ItemOB"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<style>
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    h1 {
        float: right;
    }



    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }
    /* .new {
        float: right;
        top: 40px;
    }
    .mdc-paginator-container {
        align-items: center;
        justify-content: center;
    }*/
    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }




    .quan {
        margin-right: 75px;
    }

    .ItemText {
        width: 90%;
    }

    .Quantity {
        width: 90%;
        left: 10%;
    }

    .Price {
        width: 90%;
        left: 18%;
    }

    .DateFormat .mdc-floating-label {
        margin-top: -25px;
    }

    .DateFormat .material-icons {
        margin-top: 50%;
    }
</style>

<PageTitle Title=" رصيد أول المدة للمخازن  " @ref="PageTitle" />

<table width="100%" style="color:honeydew">
    <tr>
        <td width="20"> </td>

        <td> </td>
        <td align="right">
            <button class="btn btn-info AddBtn" @onclick="@AddNewItemOBAsync">إضافة جديد</button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />

@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowDelete == true)
{
    <MatDialog @bind-IsOpen="@ShowDelete" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>تاكيد الحذف </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">هل أنت متأكد من إستكمال عملية الحذف؟</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-danger" @onclick="() => ConfirmDelete(true)">حذف</MatButton> &nbsp; &nbsp;
                <MatButton type="button" class="btn btn-secondary" @onclick="() => ConfirmDelete(false)">الغاء</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
<button class="btn" style="float:left" @onclick="@(async () => await BindList())"><i class="fa fa-refresh" style="font-size:48px;color:red"></i></button>

<div class="row" style="overflow-y: auto;max-height: 440px;">
    @*<MatButton Icon="autorenew" Class="renew md-48" @onclick="@(async () => await BindList())"> </MatButton>*@

    <MatTable Items="@ItemOpeningBalanceList" AllowSelection="true" FilterByColumnName="StoreName" PageSize="10"  ShowPaging="true" PageLabel="صفحة" PageRecordCountLabel="عرض لكل صفحة:" SearchTermFieldLabel="بحث" SearchTermFieldPlaceHolder="الأسم" class="mat-elevation-z5">
        <MatTableHeader>
            <th style="text-align: center;width:10%;">رقم المستند</th>
            <th style="text-align: center;width:15%;">التاريخ</th>
            <th style="text-align: center;width:20%;">المخزن </th>
            <th style="text-align: center;width:20%;">المسئول </th>
            <th style="text-align: center;width:35%;">عرض/ تعديل / حذف   </th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.DocumentNumber</td>
            <td>@context.Date.ToString("dd/MM/yyyy")</td>
            <td>@context.StoreName</td>
            <td>@context.EmployeeName</td>
            <td style="text-align: center;">
                <MatButton Raised="true" @onclick="@(async () => await EditOldItemOB(context.ID,"View"))" Style="padding-right: 28px; padding-left: 0px;" Icon="عرض" title="عرض الرصيد"></MatButton>
                <MatButton Raised="true" @onclick="@(async () => await EditOldItemOB(context.ID,"Edit"))" Icon="edit" title="تعديل الرصيد"></MatButton>
                <MatButton Raised="true" @onclick="@(() =>DeleteItemOB(context.DocumentNumber))" Icon="restore_from_trash" title="مسح الرصيد"></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
</div>