﻿@layout MainLayoutWithoutMenu
@page "/ItemOBAdd"
@using System.Net.Http
@inject HttpClient Http
@using MatBlazor
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<style>
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #ffffff;
    }

    h1 {
        float: right;
    }

    .mdc-button__ripple {
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .mdc-paginator-container {
        align-items: flex-start;
        justify-content: right;
    }

    .quan {
        margin-right: 75px;
    }

    .ItemText {
        width: 90%;
    }

    .Quantity {
        width: 90%;
        left: 10%;
    }

    .Price {
        width: 90%;
        left: 18%;
    }

    .DateFormat .material-icons {
        margin-top: 40%;
    }


    .buttonInside {
        position: relative;
        margin-bottom: 10px;
    }

    .input {
        height: 25px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .erase {
        position: absolute;
        right: 2px;
        top: 12px;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: none;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        background-color: none;
    }

        .erase:hover {
            cursor: pointer;
        }
</style>

<PageTitle Title=" إضافة رصيد أول المدة للمخازن  " @ref="PageTitle" />

@*<DataAnnotationsValidator /> <EditForm Model="@Balance" OnValidSubmit="EditClientOpeningBalance">*@
<div class="row" style="overflow-y: auto;max-height: 780px;">
    <table class="table">
        <tbody>
            <tr class="data-contact-person">
                <td>
                    <MatTextField Label="رقم المستند" @bind-Value="@Balance.DocumentNumber" Style="width: 70%;" TabIndex="1"></MatTextField>
                </td>
                <td class="DateFormat">
                    <MatDatePicker Label="التاريخ" @bind-Value="@Balance.Date" TabIndex="2" Style="width: 70%;" Format='dd/MM/yyyy'></MatDatePicker>
                </td>
            </tr>
            <tr class="data-contact-person">
                <td>
                    <label style=" text-align: right; padding-right: 30%; font-size: 1em;">المخزن</label><br />
                    <select id="branch" class="form-control EditedSelect" @bind="Balance.StoreId" Style="width: 70%;" TabIndex="3">
                        <option value="0" selected>-- اختار المخزن --</option>
                        @if (StoreList != null)
                        {
                            @foreach (var store in StoreList)
                            {
                                <option value="@store.ID">@store.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <label style=" text-align: right; padding-right: 30%; font-size: 1em;">المسئول</label><br />
                    <select id="emp" class="form-control EditedSelect" @bind="Balance.EmployeeId" Style="width: 70%;" TabIndex="4">
                        <option value="0" selected>-- اختار المسئول --</option>
                        @if (EmployeeList != null)
                        {
                            @foreach (var emp in EmployeeList)
                            {
                                <option value="@emp.ID">@emp.Name</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" style="float:right" @onclick="@AddNewRow">إضافة جديد</button>
                    <table class="table" id="maintable" style="width:100%;height:100%;">
                        <thead>
                            <tr>
                                <th style="padding:.22rem;text-align:center;width:10%">كود المنتج </th>
                                <th style="padding:.22rem;text-align:center;width:20%"> اسم المنتج </th>
                                <th style="padding:.22rem;text-align:center;width:10%">الكمية </th>
                                <th style="padding:.22rem;text-align:center;width:10%">السعر </th>
                                <th style="padding:.22rem;text-align:center;width:10%">الاجمالى </th>
                                <th style="padding:.22rem;text-align:center;">ملاحظات </th>
                                <th style="padding:.22rem;text-align: center;">عرض </th>
                                <th style="padding:.22rem;text-align: center;">مسح </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var itm in BalanceDetailsList)
                            {
                                <tr class="data-contact-person">
                                    <td>
                                        <input class="form-control" @bind="itm.ItemCode" @bind:event="oninput" @onblur="(()=> GetItemDataByCode(itm))" TabIndex="5" />
                                    </td>
                                    <td>
                                      
                                        <div class="buttonInside">
                                            <input style="width: 90%; height: 50px;max-height:60px;padding-right: 20px; background-color: rgb(235, 235, 235)" list="txtsearch" autocomplete="off" type="text" tabindex="6" id="inputSearch" @bind="@itm.ItemName" @bind:event="oninput" @onchange="(()=> GetItemData(itm))">
                                            <button type="button" class="erase" @onclick="@(()=>ReloadItemsList(itm))">X</button>
                                            <datalist style="width: 90%; padding-right: 20px;" id="txtsearch">
                                                <option selected>--اختار صنف--</option>
                                                @foreach (var Item in ItemList)
                                                {
                                                    <option value="@Item.Name">@Item.Code</option>
                                                }

                                            </datalist>
                                        </div>
                                     
                                    </td>
                                    <td>
                                        <input class="form-control" @bind:event="oninput" @onblur="(()=> ChangeItemQuantity())" @bind="itm.Quantity" TabIndex="7" />
                                    </td>
                                    <td>
                                        <input type="number" step=".01" class="form-control" @bind:event="oninput" @onblur="(()=> AddDetail(itm))" @bind="itm.price" TabIndex="8" />
                                    </td>

                                    <td>
                                        <input class="form-control" @bind="itm.TotalPrice" TabIndex="9" readonly />
                                    </td>

                                    <td>
                                        <input class="form-control" @bind="itm.Notes" TabIndex="10" />
                                    </td>
                                    <td>
                                        <img src="/Images/ImageOpen.webp" alt="صورة الصنف" @onclick="() =>  ShowImg = true"  />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-s btn-danger" @onclick="@(()=> {RemoveRow(itm); })" TabIndex="11">مسح</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="data-contact-person">
                <td colspan="2">
                    <MatTextField Label="ملاحظات" @bind-Value="@Balance.Notes" Style="width:100%;" TabIndex="12"></MatTextField>
                </td>
            </tr>
            <tr>
                <td>
                    <button @onclick="EditClientOpeningBalance" class="btn btn-success justify-content-center" style="color: white; width: 100px; background-color: #6200ee; border-color: #6200ee;" disabled="@IsDisabled" TabIndex="24">حفظ</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@*</EditForm>*@

@if (ShowImg == true)
{
    <MatDialog @bind-IsOpen="@ShowImg" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>عرض الصورة </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">
                <img src="@ItemImg" alt="صورة الصنف " style="width:100%;height:100%;" />
            </div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() =>  ShowImg = false">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}
@if (ShowConfirm == true)
{
    <MatDialog @bind-IsOpen="@ShowConfirm" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>نجاح </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">تمت العملية بنجاح</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="() => Confirm()">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}

@if (ItemCodeChecker == true)
{
    <MatDialog @bind-IsOpen="@ItemCodeChecker" Class="MatDialog" Style="width:100%;height:100%">
        <MatDialogTitle>!!!خطأ </MatDialogTitle>
        <MatDialogContent>
            <div class="modal-body">لا يوجد صنف لهذا الكود!!!!</div>
            <div class="modal-footer">
                <MatButton type="button" class="btn btn-secondary" @onclick="(() => ItemCodeChecker = false)">حسنا</MatButton>
            </div>
        </MatDialogContent>
    </MatDialog>
}